<a href="https://colab.research.google.com/github/dickyilhami/Analysis-Book-Sales/blob/main/Analysis_Book_Sales_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#IMPORT DATASET

In [10]:
import numpy as np
import pandas as pd
import datetime as dt

In [11]:
#!pip install openpyxl --upgrade

In [12]:
import re
from google.colab import files

In [13]:
df1 = pd.read_excel("https://github.com/dickyilhami/Analysis-Book-Sales/blob/main/Dataset/Data-penjualan-reseller-Shopee.xlsx?raw=true")

In [14]:
df2 = pd.read_excel("https://github.com/dickyilhami/Analysis-Book-Sales/blob/main/Dataset/data-order-online-2021-terbaru-ed.xlsx?raw=true")

In [15]:
df3 = pd.read_excel("https://github.com/dickyilhami/Analysis-Book-Sales/blob/main/Dataset/data-order-online-2020-ed.xlsx?raw=true")

#LIST PROVINSI INDONESIA

In [16]:
df_prov = pd.read_csv('https://raw.githubusercontent.com/edwardsamuel/Wilayah-Administratif-Indonesia/master/csv/provinces.csv', delimiter=',', header=None)
df_prov

     0                          1
0   11                       ACEH
1   12             SUMATERA UTARA
2   13             SUMATERA BARAT
3   14                       RIAU
4   15                      JAMBI
5   16           SUMATERA SELATAN
6   17                   BENGKULU
7   18                    LAMPUNG
8   19  KEPULAUAN BANGKA BELITUNG
9   21             KEPULAUAN RIAU
10  31                DKI JAKARTA
11  32                 JAWA BARAT
12  33                JAWA TENGAH
13  34              DI YOGYAKARTA
14  35                 JAWA TIMUR
15  36                     BANTEN
16  51                       BALI
17  52        NUSA TENGGARA BARAT
18  53        NUSA TENGGARA TIMUR
19  61           KALIMANTAN BARAT
20  62          KALIMANTAN TENGAH
21  63         KALIMANTAN SELATAN
22  64           KALIMANTAN TIMUR
23  65           KALIMANTAN UTARA
24  71             SULAWESI UTARA
25  72            SULAWESI TENGAH
26  73           SULAWESI SELATAN
27  74          SULAWESI TENGGARA
28  75                  GORONTALO
29  76             SULAWESI BARAT
30  81                     MALUKU
31  82               MALUKU UTARA
32  91                PAPUA BARAT
33  94                      PAPUA

In [17]:
df_prov.rename(columns={0: 'Kode',1: 'Provinsi'}, inplace=True)

In [18]:
df_prov

    Kode                   Provinsi
0     11                       ACEH
1     12             SUMATERA UTARA
2     13             SUMATERA BARAT
3     14                       RIAU
4     15                      JAMBI
5     16           SUMATERA SELATAN
6     17                   BENGKULU
7     18                    LAMPUNG
8     19  KEPULAUAN BANGKA BELITUNG
9     21             KEPULAUAN RIAU
10    31                DKI JAKARTA
11    32                 JAWA BARAT
12    33                JAWA TENGAH
13    34              DI YOGYAKARTA
14    35                 JAWA TIMUR
15    36                     BANTEN
16    51                       BALI
17    52        NUSA TENGGARA BARAT
18    53        NUSA TENGGARA TIMUR
19    61           KALIMANTAN BARAT
20    62          KALIMANTAN TENGAH
21    63         KALIMANTAN SELATAN
22    64           KALIMANTAN TIMUR
23    65           KALIMANTAN UTARA
24    71             SULAWESI UTARA
25    72            SULAWESI TENGAH
26    73           SULAWESI SELATAN
27    74          SULAWESI TENGGARA
28    75                  GORONTALO
29    76             SULAWESI BARAT
30    81                     MALUKU
31    82               MALUKU UTARA
32    91                PAPUA BARAT
33    94                      PAPUA

#LIST KABUPATEN/KOTA INDONESIA

In [19]:
df_kab = pd.read_csv('https://raw.githubusercontent.com/edwardsamuel/Wilayah-Administratif-Indonesia/master/csv/regencies.csv', delimiter=',', header=None)
df_kab

        0   1                        2
0    1101  11       KABUPATEN SIMEULUE
1    1102  11   KABUPATEN ACEH SINGKIL
2    1103  11   KABUPATEN ACEH SELATAN
3    1104  11  KABUPATEN ACEH TENGGARA
4    1105  11     KABUPATEN ACEH TIMUR
..    ...  ..                      ...
509  9433  94         KABUPATEN PUNCAK
510  9434  94        KABUPATEN DOGIYAI
511  9435  94     KABUPATEN INTAN JAYA
512  9436  94         KABUPATEN DEIYAI
513  9471  94            KOTA JAYAPURA

[514 rows x 3 columns]

In [20]:
df_kab.rename(columns={0: 'a', 1: 'Kode',2: 'Kabupaten/Kota'}, inplace=True)

In [21]:
df_kab

        a  Kode           Kabupaten/Kota
0    1101    11       KABUPATEN SIMEULUE
1    1102    11   KABUPATEN ACEH SINGKIL
2    1103    11   KABUPATEN ACEH SELATAN
3    1104    11  KABUPATEN ACEH TENGGARA
4    1105    11     KABUPATEN ACEH TIMUR
..    ...   ...                      ...
509  9433    94         KABUPATEN PUNCAK
510  9434    94        KABUPATEN DOGIYAI
511  9435    94     KABUPATEN INTAN JAYA
512  9436    94         KABUPATEN DEIYAI
513  9471    94            KOTA JAYAPURA

[514 rows x 3 columns]

In [22]:
df_kab['Kabupaten/Kota'] = df_kab['Kabupaten/Kota'].str.replace('KABUPATEN ', '')
df_kab['Kabupaten/Kota'] = df_kab['Kabupaten/Kota'].str.replace('KOTA ', '')

In [23]:
df_kab['Kabupaten/Kota'] = df_kab['Kabupaten/Kota'].str.replace("BARU", "KOTABARU")
df_kab['Kabupaten/Kota'] = df_kab['Kabupaten/Kota'].str.replace("PEKANKOTABARU", "PEKANBARU")
df_kab['Kabupaten/Kota'] = df_kab['Kabupaten/Kota'].str.replace("BANJAR KOTABARU", "BANJAR BARU")
df_kab['Kabupaten/Kota'] = df_kab['Kabupaten/Kota'].str.replace("KEPULAUAN TALAUD", "TALAUD")
df_kab['Kabupaten/Kota'] = df_kab['Kabupaten/Kota'].str.replace("LUBUKLINGGAU", "LUBUK LINGGAU")
df_kab['Kabupaten/Kota'] = df_kab['Kabupaten/Kota'].str.replace("KARANG ASEM", "KARANGASEM")
df_kab['Kabupaten/Kota'] = df_kab['Kabupaten/Kota'].str.replace("PANGKAL PINANG", "PANGKALPINANG")
df_kab['Kabupaten/Kota'] = df_kab['Kabupaten/Kota'].str.replace("B A T A M", "BATAM")
df_kab['Kabupaten/Kota'] = df_kab['Kabupaten/Kota'].str.replace("S I A K", "SIAK")
df_kab['Kabupaten/Kota'] = df_kab['Kabupaten/Kota'].str.replace("D U M A I", "DUMAI")

In [24]:
df_kab

        a  Kode Kabupaten/Kota
0    1101    11       SIMEULUE
1    1102    11   ACEH SINGKIL
2    1103    11   ACEH SELATAN
3    1104    11  ACEH TENGGARA
4    1105    11     ACEH TIMUR
..    ...   ...            ...
509  9433    94         PUNCAK
510  9434    94        DOGIYAI
511  9435    94     INTAN JAYA
512  9436    94         DEIYAI
513  9471    94       JAYAPURA

[514 rows x 3 columns]

In [25]:
df_kab.sort_values(by=['Kabupaten/Kota'], key=lambda x:x.str.len(), ascending=[False])

        a  Kode              Kabupaten/Kota
109  1612    16  PENUKAL ABAB LEMATANG ILIR
105  1608    16   OGAN KOMERING ULU SELATAN
379  7110    71   BOLAANG MONGONDOW SELATAN
406  7309    73    PANGKAJENE DAN KEPULAUAN
376  7107    71     BOLAANG MONGONDOW UTARA
..    ...   ...                         ...
33   1211    12                        KARO
388  7204    72                        POSO
204  3318    33                        PATI
391  7207    72                        BUOL
414  7317    73                        LUWU

[514 rows x 3 columns]

In [26]:
list_kab = df_kab['Kabupaten/Kota'].to_list()

In [27]:
list_kab

['SIMEULUE',
 'ACEH SINGKIL',
 'ACEH SELATAN',
 'ACEH TENGGARA',
 'ACEH TIMUR',
 'ACEH TENGAH',
 'ACEH BARAT',
 'ACEH BESAR',
 'PIDIE',
 'BIREUEN',
 'ACEH UTARA',
 'ACEH BARAT DAYA',
 'GAYO LUES',
 'ACEH TAMIANG',
 'NAGAN RAYA',
 'ACEH JAYA',
 'BENER MERIAH',
 'PIDIE JAYA',
 'BANDA ACEH',
 'SABANG',
 'LANGSA',
 'LHOKSEUMAWE',
 'SUBULUSSALAM',
 'NIAS',
 'MANDAILING NATAL',
 'TAPANULI SELATAN',
 'TAPANULI TENGAH',
 'TAPANULI UTARA',
 'TOBA SAMOSIR',
 'LABUHAN BATU',
 'ASAHAN',
 'SIMALUNGUN',
 'DAIRI',
 'KARO',
 'DELI SERDANG',
 'LANGKAT',
 'NIAS SELATAN',
 'HUMBANG HASUNDUTAN',
 'PAKPAK BHARAT',
 'SAMOSIR',
 'SERDANG BEDAGAI',
 'BATU BARA',
 'PADANG LAWAS UTARA',
 'PADANG LAWAS',
 'LABUHAN BATU SELATAN',
 'LABUHAN BATU UTARA',
 'NIAS UTARA',
 'NIAS BARAT',
 'SIBOLGA',
 'TANJUNG BALAI',
 'PEMATANG SIANTAR',
 'TEBING TINGGI',
 'MEDAN',
 'BINJAI',
 'PADANGSIDIMPUAN',
 'GUNUNGSITOLI',
 'KEPULAUAN MENTAWAI',
 'PESISIR SELATAN',
 'SOLOK',
 'SIJUNJUNG',
 'TANAH DATAR',
 'PADANG PARIAMAN',
 'AGAM',
 'LIMA PULUH KOTA',
 'PASAMAN',
 'SOLOK SELATAN',
 'DHARMASRAYA',
 'PASAMAN BARAT',
 'PADANG',
 'SOLOK',
 'SAWAH LUNTO',
 'PADANG PANJANG',
 'BUKITTINGGI',
 'PAYAKUMBUH',
 'PARIAMAN',
 'KUANTAN SINGINGI',
 'INDRAGIRI HULU',
 'INDRAGIRI HILIR',
 'PELALAWAN',
 'SIAK',
 'KAMPAR',
 'ROKAN HULU',
 'BENGKALIS',
 'ROKAN HILIR',
 'KEPULAUAN MERANTI',
 'PEKANBARU',
 'DUMAI',
 'KERINCI',
 'MERANGIN',
 'SAROLANGUN',
 'BATANG HARI',
 'MUARO JAMBI',
 'TANJUNG JABUNG TIMUR',
 'TANJUNG JABUNG BARAT',
 'TEBO',
 'BUNGO',
 'JAMBI',
 'SUNGAI PENUH',
 'OGAN KOMERING ULU',
 'OGAN KOMERING ILIR',
 'MUARA ENIM',
 'LAHAT',
 'MUSI RAWAS',
 'MUSI BANYUASIN',
 'BANYU ASIN',
 'OGAN KOMERING ULU SELATAN',
 'OGAN KOMERING ULU TIMUR',
 'OGAN ILIR',
 'EMPAT LAWANG',
 'PENUKAL ABAB LEMATANG ILIR',
 'MUSI RAWAS UTARA',
 'PALEMBANG',
 'PRABUMULIH',
 'PAGAR ALAM',
 'LUBUK LINGGAU',
 'BENGKULU SELATAN',
 'REJANG LEBONG',
 'BENGKULU UTARA',
 'KAUR',
 'SELUMA',
 'MUKOMUKO',
 'LEBONG',
 'KEPAHIANG',
 'BENGKULU TENGAH',
 'BENGKULU',
 'LAMPUNG BARAT',
 'TANGGAMUS',
 'LAMPUNG SELATAN',
 'LAMPUNG TIMUR',
 'LAMPUNG TENGAH',
 'LAMPUNG UTARA',
 'WAY KANAN',
 'TULANGBAWANG',
 'PESAWARAN',
 'PRINGSEWU',
 'MESUJI',
 'TULANG BAWANG BARAT',
 'PESISIR BARAT',
 'BANDAR LAMPUNG',
 'METRO',
 'BANGKA',
 'BELITUNG',
 'BANGKA BARAT',
 'BANGKA TENGAH',
 'BANGKA SELATAN',
 'BELITUNG TIMUR',
 'PANGKALPINANG',
 'KARIMUN',
 'BINTAN',
 'NATUNA',
 'LINGGA',
 'KEPULAUAN ANAMBAS',
 'BATAM',
 'TANJUNG PINANG',
 'KEPULAUAN SERIBU',
 'JAKARTA SELATAN',
 'JAKARTA TIMUR',
 'JAKARTA PUSAT',
 'JAKARTA BARAT',
 'JAKARTA UTARA',
 'BOGOR',
 'SUKABUMI',
 'CIANJUR',
 'BANDUNG',
 'GARUT',
 'TASIKMALAYA',
 'CIAMIS',
 'KUNINGAN',
 'CIREBON',
 'MAJALENGKA',
 'SUMEDANG',
 'INDRAMAYU',
 'SUBANG',
 'PURWAKARTA',
 'KARAWANG',
 'BEKASI',
 'BANDUNG BARAT',
 'PANGANDARAN',
 'BOGOR',
 'SUKABUMI',
 'BANDUNG',
 'CIREBON',
 'BEKASI',
 'DEPOK',
 'CIMAHI',
 'TASIKMALAYA',
 'BANJAR',
 'CILACAP',
 'BANYUMAS',
 'PURBALINGGA',
 'BANJARNEGARA',
 'KEBUMEN',
 'PURWOREJO',
 'WONOSOBO',
 'MAGELANG',
 'BOYOLALI',
 'KLATEN',
 'SUKOHARJO',
 'WONOGIRI',
 'KARANGANYAR',
 'SRAGEN',
 'GROBOGAN',
 'BLORA',
 'REMBANG',
 'PATI',
 'KUDUS',
 'JEPARA',
 'DEMAK',
 'SEMARANG',
 'TEMANGGUNG',
 'KENDAL',
 'BATANG',
 'PEKALONGAN',
 'PEMALANG',
 'TEGAL',
 'BREBES',
 'MAGELANG',
 'SURAKARTA',
 'SALATIGA',
 'SEMARANG',
 'PEKALONGAN',
 'TEGAL',
 'KULON PROGO',
 'BANTUL',
 'GUNUNG KIDUL',
 'SLEMAN',
 'YOGYAKARTA',
 'PACITAN',
 'PONOROGO',
 'TRENGGALEK',
 'TULUNGAGUNG',
 'BLITAR',
 'KEDIRI',
 'MALANG',
 'LUMAJANG',
 'JEMBER',
 'BANYUWANGI',
 'BONDOWOSO',
 'SITUBONDO',
 'PROBOLINGGO',
 'PASURUAN',
 'SIDOARJO',
 'MOJOKERTO',
 'JOMBANG',
 'NGANJUK',
 'MADIUN',
 'MAGETAN',
 'NGAWI',
 'BOJONEGORO',
 'TUBAN',
 'LAMONGAN',
 'GRESIK',
 'BANGKALAN',
 'SAMPANG',
 'PAMEKASAN',
 'SUMENEP',
 'KEDIRI',
 'BLITAR',
 'MALANG',
 'PROBOLINGGO',
 'PASURUAN',
 'MOJOKERTO',
 'MADIUN',
 'SURABAYA',
 'BATU',
 'PANDEGLANG',
 'LEBAK',
 'TANGERANG',
 'SERANG',
 'TANGERANG',
 'CILEGON',
 'SERANG',
 'TANGERANG SELATAN',
 'JEMBRANA',
 'TABANAN',
 'BADUNG',
 'GIANYAR',
 'KLUNGKUNG',
 'BANGLI',
 'KARANGASEM',
 'BULELENG',
 'DENPASAR',
 'LOMBOK BARAT',
 'LOMBOK TENGAH',
 'LOMBOK TIMUR',
 'SUMBAWA',
 'DOMPU',
 'BIMA',
 'SUMBAWA BARAT',
 'LOMBOK UTARA',
 'MATARAM',
 'BIMA',
 'SUMBA BARAT',
 'SUMBA TIMUR',
 'KUPANG',
 'TIMOR TENGAH SELATAN',
 'TIMOR TENGAH UTARA',
 'BELU',
 'ALOR',
 'LEMBATA',
 'FLORES TIMUR',
 'SIKKA',
 'ENDE',
 'NGADA',
 'MANGGARAI',
 'ROTE NDAO',
 'MANGGARAI BARAT',
 'SUMBA TENGAH',
 'SUMBA BARAT DAYA',
 'NAGEKEO',
 'MANGGARAI TIMUR',
 'SABU RAIJUA',
 'MALAKA',
 'KUPANG',
 'SAMBAS',
 'BENGKAYANG',
 'LANDAK',
 'MEMPAWAH',
 'SANGGAU',
 'KETAPANG',
 'SINTANG',
 'KAPUAS HULU',
 'SEKADAU',
 'MELAWI',
 'KAYONG UTARA',
 'KUBU RAYA',
 'PONTIANAK',
 'SINGKAWANG',
 'KOTAWARINGIN BARAT',
 'KOTAWARINGIN TIMUR',
 'KAPUAS',
 'BARITO SELATAN',
 'BARITO UTARA',
 'SUKAMARA',
 'LAMANDAU',
 'SERUYAN',
 'KATINGAN',
 'PULANG PISAU',
 'GUNUNG MAS',
 'BARITO TIMUR',
 'MURUNG RAYA',
 'PALANGKA RAYA',
 'TANAH LAUT',
 'KOTABARU',
 'BANJAR',
 'BARITO KUALA',
 'TAPIN',
 'HULU SUNGAI SELATAN',
 'HULU SUNGAI TENGAH',
 'HULU SUNGAI UTARA',
 'TABALONG',
 'TANAH BUMBU',
 'BALANGAN',
 'BANJARMASIN',
 'BANJAR BARU',
 'PASER',
 'KUTAI BARAT',
 'KUTAI KARTANEGARA',
 'KUTAI TIMUR',
 'BERAU',
 'PENAJAM PASER UTARA',
 'MAHAKAM HULU',
 'BALIKPAPAN',
 'SAMARINDA',
 'BONTANG',
 'MALINAU',
 'BULUNGAN',
 'TANA TIDUNG',
 'NUNUKAN',
 'TARAKAN',
 'BOLAANG MONGONDOW',
 'MINAHASA',
 'KEPULAUAN SANGIHE',
 'TALAUD',
 'MINAHASA SELATAN',
 'MINAHASA UTARA',
 'BOLAANG MONGONDOW UTARA',
 'SIAU TAGULANDANG BIARO',
 'MINAHASA TENGGARA',
 'BOLAANG MONGONDOW SELATAN',
 'BOLAANG MONGONDOW TIMUR',
 'MANADO',
 'BITUNG',
 'TOMOHON',
 'KOTAMOBAGU',
 'BANGGAI KEPULAUAN',
 'BANGGAI',
 'MOROWALI',
 'POSO',
 'DONGGALA',
 'TOLI-TOLI',
 'BUOL',
 'PARIGI MOUTONG',
 'TOJO UNA-UNA',
 'SIGI',
 'BANGGAI LAUT',
 'MOROWALI UTARA',
 'PALU',
 'KEPULAUAN SELAYAR',
 'BULUKUMBA',
 'BANTAENG',
 'JENEPONTO',
 'TAKALAR',
 'GOWA',
 'SINJAI',
 'MAROS',
 'PANGKAJENE DAN KEPULAUAN',
 'BARRU',
 'BONE',
 'SOPPENG',
 'WAJO',
 'SIDENRENG RAPPANG',
 'PINRANG',
 'ENREKANG',
 'LUWU',
 'TANA TORAJA',
 'LUWU UTARA',
 'LUWU TIMUR',
 'TORAJA UTARA',
 'MAKASSAR',
 'PAREPARE',
 'PALOPO',
 'BUTON',
 'MUNA',
 'KONAWE',
 'KOLAKA',
 'KONAWE SELATAN',
 'BOMBANA',
 'WAKATOBI',
 'KOLAKA UTARA',
 'BUTON UTARA',
 'KONAWE UTARA',
 'KOLAKA TIMUR',
 'KONAWE KEPULAUAN',
 'MUNA BARAT',
 'BUTON TENGAH',
 'BUTON SELATAN',
 'KENDARI',
 'BAUBAU',
 'BOALEMO',
 'GORONTALO',
 'POHUWATO',
 'BONE BOLANGO',
 'GORONTALO UTARA',
 'GORONTALO',
 'MAJENE',
 'POLEWALI MANDAR',
 'MAMASA',
 'MAMUJU',
 'MAMUJU UTARA',
 'MAMUJU TENGAH',
 'MALUKU TENGGARA BARAT',
 'MALUKU TENGGARA',
 'MALUKU TENGAH',
 'BURU',
 'KEPULAUAN ARU',
 'SERAM BAGIAN BARAT',
 'SERAM BAGIAN TIMUR',
 'MALUKU BARAT DAYA',
 'BURU SELATAN',
 'AMBON',
 'TUAL',
 'HALMAHERA BARAT',
 'HALMAHERA TENGAH',
 'KEPULAUAN SULA',
 'HALMAHERA SELATAN',
 'HALMAHERA UTARA',
 'HALMAHERA TIMUR',
 'PULAU MOROTAI',
 'PULAU TALIABU',
 'TERNATE',
 'TIDORE KEPULAUAN',
 'FAKFAK',
 'KAIMANA',
 'TELUK WONDAMA',
 'TELUK BINTUNI',
 'MANOKWARI',
 'SORONG SELATAN',
 'SORONG',
 'RAJA AMPAT',
 'TAMBRAUW',
 'MAYBRAT',
 'MANOKWARI SELATAN',
 'PEGUNUNGAN ARFAK',
 'SORONG',
 'MERAUKE',
 'JAYAWIJAYA',
 'JAYAPURA',
 'NABIRE',
 'KEPULAUAN YAPEN',
 'BIAK NUMFOR',
 'PANIAI',
 'PUNCAK JAYA',
 'MIMIKA',
 'BOVEN DIGOEL',
 'MAPPI',
 'ASMAT',
 'YAHUKIMO',
 'PEGUNUNGAN BINTANG',
 'TOLIKARA',
 'SARMI',
 'KEEROM',
 'WAROPEN',
 'SUPIORI',
 'MAMBERAMO RAYA',
 'NDUGA',
 'LANNY JAYA',
 'MAMBERAMO TENGAH',
 'YALIMO',
 'PUNCAK',
 'DOGIYAI',
 'INTAN JAYA',
 'DEIYAI',
 'JAYAPURA']

In [28]:
list_kab = ['PENUKAL ABAB LEMATANG ILIR',
 'BOLAANG MONGONDOW SELATAN',
 'OGAN KOMERING ULU SELATAN',
 'PANGKAJENE DAN KEPULAUAN',
 'BOLAANG MONGONDOW TIMUR',
 'OGAN KOMERING ULU TIMUR',
 'BOLAANG MONGONDOW UTARA',
 'SIAU TAGULANDANG BIARO',
 'MALUKU TENGGARA BARAT',
 'TANJUNG JABUNG BARAT',
 'TANJUNG JABUNG TIMUR',
 'LABUHAN BATU SELATAN',
 'TIMOR TENGAH SELATAN',
 'TULANG BAWANG BARAT',
 'PENAJAM PASER UTARA',
 'HULU SUNGAI SELATAN',
 'PEGUNUNGAN BINTANG',
 'TIMOR TENGAH UTARA',
 'HULU SUNGAI TENGAH',
 'SERAM BAGIAN BARAT',
 'KOTAWARINGIN TIMUR',
 'KOTAWARINGIN BARAT',
 'PADANG LAWAS UTARA',
 'OGAN KOMERING ILIR',
 'SERAM BAGIAN TIMUR',
 'LABUHAN BATU UTARA',
 'HUMBANG HASUNDUTAN',
 'KEPULAUAN MENTAWAI',
 'KEPULAUAN ANAMBAS',
 'HULU SUNGAI UTARA',
 'HALMAHERA SELATAN',
 'KUTAI KARTANEGARA',
 'MANOKWARI SELATAN',
 'BOLAANG MONGONDOW',
 'KEPULAUAN SANGIHE',
 'BANGGAI KEPULAUAN',
 'TANGERANG SELATAN',
 'KEPULAUAN MERANTI',
 'KEPULAUAN SELAYAR',
 'SIDENRENG RAPPANG',
 'MALUKU BARAT DAYA',
 'OGAN KOMERING ULU',
 'MINAHASA TENGGARA',
 'SUMBA BARAT DAYA',
 'TAPANULI SELATAN',
 'MINAHASA SELATAN',
 'MANDAILING NATAL',
 'TIDORE KEPULAUAN',
 'MAMBERAMO TENGAH',
 'BENGKULU SELATAN',
 'MUSI RAWAS UTARA',
 'HALMAHERA TENGAH',
 'KONAWE KEPULAUAN',
 'KEPULAUAN SERIBU',
 'KUANTAN SINGINGI',
 'PEMATANG SIANTAR',
 'PEGUNUNGAN ARFAK',
 'TAPANULI TENGAH',
 'KEPULAUAN YAPEN',
 'SERDANG BEDAGAI',
 'PADANGSIDIMPUAN',
 'PESISIR SELATAN',
 'HALMAHERA TIMUR',
 'PADANG PARIAMAN',
 'LIMA PULUH KOTA',
 'ACEH BARAT DAYA',
 'JAKARTA SELATAN',
 'GORONTALO UTARA',
 'HALMAHERA BARAT',
 'HALMAHERA UTARA',
 'MALUKU TENGGARA',
 'MANGGARAI BARAT',
 'INDRAGIRI HILIR',
 'MANGGARAI TIMUR',
 'BENGKULU TENGAH',
 'LAMPUNG SELATAN',
 'POLEWALI MANDAR',
 'BELITUNG TIMUR',
 'PADANG PANJANG',
 'SORONG SELATAN',
 'MAMBERAMO RAYA',
 'INDRAGIRI HULU',
 'TAPANULI UTARA',
 'TANJUNG PINANG',
 'BANGKA SELATAN',
 'LAMPUNG TENGAH',
 'BANDAR LAMPUNG',
 'KONAWE SELATAN',
 'BENGKULU UTARA',
 'BARITO SELATAN',
 'PANGKALPINANG',
 'PARIGI MOUTONG',
 'MUSI BANYUASIN',
 'KEPULAUAN SULA',
 'MINAHASA UTARA',
 'MOROWALI UTARA',
 'REJANG LEBONG',
 'BANGKA TENGAH',
 'PASAMAN BARAT',
 'SOLOK SELATAN',
 'TELUK BINTUNI',
 'MAMUJU TENGAH',
 'PULAU MOROTAI',
 'PALANGKA RAYA',
 'PULAU TALIABU',
 'ACEH TENGGARA',
 'MALUKU TENGAH',
 'PAKPAK BHARAT',
 'SUMBAWA BARAT',
 'JAKARTA TIMUR',
 'JAKARTA UTARA',
 'KEPULAUAN ARU',
 'TEBING TINGGI',
 'JAKARTA PUSAT',
 'PESISIR BARAT',
 'LOMBOK TENGAH',
 'TANJUNG BALAI',
 'LAMPUNG BARAT',
 'BUTON SELATAN',
 'BANDUNG BARAT',
 'LAMPUNG TIMUR',
 'LAMPUNG UTARA',
 'TELUK WONDAMA',
 'JAKARTA BARAT',
 'KAYONG UTARA',
 'FLORES TIMUR',
 'BARITO UTARA',
 'BANJARNEGARA',
 'KOLAKA TIMUR',
 'MAMUJU UTARA',
 'TOBA SAMOSIR',
 'TULANGBAWANG',
 'EMPAT LAWANG',
 'LUBUK LINGGAU',
 'SUNGAI PENUH',
 'ACEH TAMIANG',
 'LOMBOK BARAT',
 'PADANG LAWAS',
 'LOMBOK TIMUR',
 'BANGKA BARAT',
 'LOMBOK UTARA',
 'BURU SELATAN',
 'BENER MERIAH',
 'PULANG PISAU',
 'BARITO KUALA',
 'TORAJA UTARA',
 'BONE BOLANGO',
 'BANGGAI LAUT',
 'ACEH SINGKIL',
 'BOVEN DIGOEL',
 'GUNUNG KIDUL',
 'MAHAKAM HULU',
 'DELI SERDANG',
 'ACEH SELATAN',
 'LABUHAN BATU',
 'GUNUNGSITOLI',
 'BUTON TENGAH',
 'SUBULUSSALAM',
 'KONAWE UTARA',
 'KOLAKA UTARA',
 'BARITO TIMUR',
 'NIAS SELATAN',
 'SUMBA TENGAH',
 'TOJO UNA-UNA',
 'TASIKMALAYA',
 'BATANG HARI',
 'MUARO JAMBI',
 'LHOKSEUMAWE',
 'KARANGANYAR',
 'KARANGASEM',
 'BUKITTINGGI',
 'SIJUNJUNG',
 'SAWAH LUNTO',
 'TASIKMALAYA',
 'SUMBA TIMUR',
 'PANGANDARAN',
 'BANJARMASIN',
 'BUTON UTARA',
 'DHARMASRAYA',
 'SUMBA BARAT',
 'TANAH BUMBU',
 'KAPUAS HULU',
 'BANJAR BARU',
 'KULON PROGO',
 'TANAH DATAR',
 'PROBOLINGGO',
 'ROKAN HILIR',
 'PROBOLINGGO',
 'BIAK NUMFOR',
 'PUNCAK JAYA',
 'PURBALINGGA',
 'ACEH TENGAH',
 'SABU RAIJUA',
 'TANA TORAJA',
 'TANA TIDUNG',
 'MURUNG RAYA',
 'TULUNGAGUNG',
 'KUTAI TIMUR',
 'KUTAI BARAT',
 'LANNY JAYA',
 'INTAN JAYA',
 'PAYAKUMBUH',
 'PANDEGLANG',
 'ROKAN HULU',
 'NIAS BARAT',
 'BENGKAYANG',
 'PAGAR ALAM',
 'BOJONEGORO',
 'ACEH BARAT',
 'TEMANGGUNG',
 'ACEH UTARA',
 'ACEH TIMUR',
 'GUNUNG MAS',
 'KOTAMOBAGU',
 'ACEH BESAR',
 'PEKALONGAN',
 'NAGAN RAYA',
 'LUWU UTARA',
 'LUWU TIMUR',
 'TRENGGALEK',
 'PRABUMULIH',
 'MUARA ENIM',
 'PURWAKARTA',
 'PEKALONGAN',
 'MAJALENGKA',
 'MUNA BARAT',
 'MUSI RAWAS',
 'NIAS UTARA',
 'BALIKPAPAN',
 'SLEMAN',
 'BANTUL',
 'YOGYAKARTA',
 'BANYU ASIN',
 'PIDIE JAYA',
 'JAYAWIJAYA',
 'BANYUWANGI',
 'TANAH LAUT',
 'RAJA AMPAT',
 'SAROLANGUN',
 'BANDA ACEH',
 'SINGKAWANG',
 'SIMALUNGUN',
 'MANOKWARI',
 'BULUKUMBA',
 'BENGKALIS',
 'JENEPONTO',
 'PURWOREJO',
 'PELALAWAN',
 'GAYO LUES',
 'ACEH JAYA',
 'SAMARINDA',
 'MOJOKERTO',
 'SITUBONDO',
 'BONDOWOSO',
 'KEPAHIANG',
 'SURAKARTA',
 'BATU BARA',
 'TOLI-TOLI',
 'SUKOHARJO',
 'PEKANBARU',
 'OGAN ILIR',
 'POHUWATO',
 'GORONTALO',
 'MOJOKERTO',
 'PALEMBANG',
 'BANGKALAN',
 'KLUNGKUNG',
 'TANGERANG',
 'TANGERANG',
 'PAMEKASAN',
 'KUBU RAYA',
 'ROTE NDAO',
 'PONTIANAK',
 'INDRAMAYU',
 'TANGGAMUS',
 'WAY KANAN',
 'PESAWARAN',
 'PRINGSEWU',
 'GORONTALO',
 'MANGGARAI',
 'KARAWANG',
 'KUNINGAN',
 'PONOROGO',
 'LAMONGAN',
 'SUKABUMI',
 'SUMEDANG',
 'MAGELANG',
 'PASURUAN',
 'SEMARANG',
 'SURABAYA',
 'SUKABUMI',
 'LUMAJANG',
 'PARIAMAN',
 'GROBOGAN',
 'BENGKULU',
 'BADUNG',
 'BANJAR',
 'MAKASSAR',
 'BANGKA',
 'BELITUNG',
 'SIDOARJO',
 'MUKOMUKO',
 'BANYUMAS',
 'MAGELANG',
 'BOYOLALI',
 'WONOGIRI',
 'SEMARANG',
 'WONOSOBO',
 'DENPASAR',
 'MERANGIN',
 'PEMALANG',
 'SALATIGA',
 'JEMBRANA',
 'DONGGALA',
 'TAMBRAUW',
 'BULELENG',
 'YAHUKIMO',
 'JAYAPURA',
 'TOLIKARA',
 'TABALONG',
 'KETAPANG',
 'LAMANDAU',
 'KOTABARU',
 'BULUNGAN',
 'MINAHASA',
 'MOROWALI',
 'MEMPAWAH',
 'KATINGAN',
 'WAKATOBI',
 'SUKAMARA',
 'JAYAPURA',
 'SIMEULUE',
 'BALANGAN',
 'PASURUAN',
 'PAREPARE',
 'ENREKANG',
 'BANTAENG',
 'NAGEKEO',
 'SERUYAN',
 'KERINCI',
 'SEKADAU',
 'TERNATE',
 'CILEGON',
 'MATARAM',
 'BIREUEN',
 'SUMBAWA',
 'SUMENEP',
 'SANGGAU',
 'DOGIYAI',
 'WAROPEN',
 'JOMBANG',
 'NGANJUK',
 'LEMBATA',
 'BOALEMO',
 'MAGETAN',
 'SUPIORI',
 'BANDUNG',
 'CIANJUR',
 'SAMPANG',
 'GIANYAR',
 'TABANAN',
 'SINTANG',
 'KEBUMEN',
 'KARIMUN',
 'CILACAP',
 'KAIMANA',
 'NUNUKAN',
 'CIREBON',
 'BONTANG',
 'PINRANG',
 'SOPPENG',
 'TAKALAR',
 'PACITAN',
 'REMBANG',
 'TARAKAN',
 'LANGKAT',
 'MALINAU',
 'MAYBRAT',
 'PASAMAN',
 'MERAUKE',
 'BOMBANA',
 'CIREBON',
 'SAMOSIR',
 'TOMOHON',
 'KENDARI',
 'BANDUNG',
 'SIBOLGA',
 'BANGGAI',
 'MIMIKA',
 'MALAKA',
 'JEMBER',
 'KEEROM',
 'DEIYAI',
 'KUPANG',
 'PUNCAK',
 'YALIMO',
 'LANDAK',
 'KUPANG',
 'SAMBAS',
 'MELAWI',
 'BANGLI',
 'MALANG',
 'KAPUAS',
 'LEBAK',
 'BITUNG',
 'ASAHAN',
 'JEPARA',
 'BREBES',
 'SABANG',
 'SINJAI',
 'BLITAR',
 'TALAUD',
 'PANIAI',
 'SRAGEN',
 'KLATEN',
 'PATI',
 'BATANG',
 'KENDAL',
 'MANADO',
 'KEDIRI',
 'NABIRE',
 'SERANG',
 'LEBONG',
 'MADIUN',
 'LINGGA',
 'BEKASI',
 'MAJENE',
 'KAMPAR',
 'CIAMIS',
 'BAUBAU',
 'MAMUJU',
 'CIMAHI',
 'SELUMA',
 'FAKFAK',
 'MESUJI',
 'SUBANG',
 'MALANG',
 'MAMASA',
 'BEKASI',
 'KOLAKA',
 'BLITAR',
 'KEDIRI',
 'KONAWE',
 'GRESIK',
 'BANJAR',
 'LANGSA',
 'SERANG',
 'BINJAI',
 'MADIUN',
 'SORONG',
 'BINTAN',
 'PALOPO',
 'PADANG',
 'SORONG',
 'NATUNA',
 'PASER',
 'BOGOR',
 'BERAU',
 'TEGAL',
 'TEGAL',
 'DEMAK',
 'KUDUS',
 'BLORA',
 'BARRU',
 'BUTON',
 'AMBON',
 'METRO',
 'BATAM',
 'BOGOR',
 'GARUT',
 'DEPOK',
 'TUBAN',
 'NGAWI',
 'LAHAT',
 'TAPIN',
 'NDUGA',
 'PIDIE',
 'MEDAN',
 'SARMI',
 'MAPPI',
 'ASMAT',
 'BUNGO',
 'TEBO',
 'JAMBI',
 'DUMAI',
 'DAIRI',
 'SOLOK',
 'SIKKA',
 'MAROS',
 'NGADA',
 'SOLOK',
 'DOMPU',
 'PALU',
 'NIAS',
 'GOWA',
 'AGAM',
 'MUNA',
 'KARO',
 'POSO',
 'BUOL',
 'SIAK',
 'BELU',
 'SIGI',
 'BURU',
 'BONE',
 'BATU',
 'WAJO',
 'TUAL',
 'BIMA',
 'BIMA',
 'ALOR',
 'KAUR',
 'ENDE',
 'LUWU']

In [29]:
list_kab

['PENUKAL ABAB LEMATANG ILIR',
 'BOLAANG MONGONDOW SELATAN',
 'OGAN KOMERING ULU SELATAN',
 'PANGKAJENE DAN KEPULAUAN',
 'BOLAANG MONGONDOW TIMUR',
 'OGAN KOMERING ULU TIMUR',
 'BOLAANG MONGONDOW UTARA',
 'SIAU TAGULANDANG BIARO',
 'MALUKU TENGGARA BARAT',
 'TANJUNG JABUNG BARAT',
 'TANJUNG JABUNG TIMUR',
 'LABUHAN BATU SELATAN',
 'TIMOR TENGAH SELATAN',
 'TULANG BAWANG BARAT',
 'PENAJAM PASER UTARA',
 'HULU SUNGAI SELATAN',
 'PEGUNUNGAN BINTANG',
 'TIMOR TENGAH UTARA',
 'HULU SUNGAI TENGAH',
 'SERAM BAGIAN BARAT',
 'KOTAWARINGIN TIMUR',
 'KOTAWARINGIN BARAT',
 'PADANG LAWAS UTARA',
 'OGAN KOMERING ILIR',
 'SERAM BAGIAN TIMUR',
 'LABUHAN BATU UTARA',
 'HUMBANG HASUNDUTAN',
 'KEPULAUAN MENTAWAI',
 'KEPULAUAN ANAMBAS',
 'HULU SUNGAI UTARA',
 'HALMAHERA SELATAN',
 'KUTAI KARTANEGARA',
 'MANOKWARI SELATAN',
 'BOLAANG MONGONDOW',
 'KEPULAUAN SANGIHE',
 'BANGGAI KEPULAUAN',
 'TANGERANG SELATAN',
 'KEPULAUAN MERANTI',
 'KEPULAUAN SELAYAR',
 'SIDENRENG RAPPANG',
 'MALUKU BARAT DAYA',
 'OGAN KOMERING ULU',
 'MINAHASA TENGGARA',
 'SUMBA BARAT DAYA',
 'TAPANULI SELATAN',
 'MINAHASA SELATAN',
 'MANDAILING NATAL',
 'TIDORE KEPULAUAN',
 'MAMBERAMO TENGAH',
 'BENGKULU SELATAN',
 'MUSI RAWAS UTARA',
 'HALMAHERA TENGAH',
 'KONAWE KEPULAUAN',
 'KEPULAUAN SERIBU',
 'KUANTAN SINGINGI',
 'PEMATANG SIANTAR',
 'PEGUNUNGAN ARFAK',
 'TAPANULI TENGAH',
 'KEPULAUAN YAPEN',
 'SERDANG BEDAGAI',
 'PADANGSIDIMPUAN',
 'PESISIR SELATAN',
 'HALMAHERA TIMUR',
 'PADANG PARIAMAN',
 'LIMA PULUH KOTA',
 'ACEH BARAT DAYA',
 'JAKARTA SELATAN',
 'GORONTALO UTARA',
 'HALMAHERA BARAT',
 'HALMAHERA UTARA',
 'MALUKU TENGGARA',
 'MANGGARAI BARAT',
 'INDRAGIRI HILIR',
 'MANGGARAI TIMUR',
 'BENGKULU TENGAH',
 'LAMPUNG SELATAN',
 'POLEWALI MANDAR',
 'BELITUNG TIMUR',
 'PADANG PANJANG',
 'SORONG SELATAN',
 'MAMBERAMO RAYA',
 'INDRAGIRI HULU',
 'TAPANULI UTARA',
 'TANJUNG PINANG',
 'BANGKA SELATAN',
 'LAMPUNG TENGAH',
 'BANDAR LAMPUNG',
 'KONAWE SELATAN',
 'BENGKULU UTARA',
 'BARITO SELATAN',
 'PANGKALPINANG',
 'PARIGI MOUTONG',
 'MUSI BANYUASIN',
 'KEPULAUAN SULA',
 'MINAHASA UTARA',
 'MOROWALI UTARA',
 'REJANG LEBONG',
 'BANGKA TENGAH',
 'PASAMAN BARAT',
 'SOLOK SELATAN',
 'TELUK BINTUNI',
 'MAMUJU TENGAH',
 'PULAU MOROTAI',
 'PALANGKA RAYA',
 'PULAU TALIABU',
 'ACEH TENGGARA',
 'MALUKU TENGAH',
 'PAKPAK BHARAT',
 'SUMBAWA BARAT',
 'JAKARTA TIMUR',
 'JAKARTA UTARA',
 'KEPULAUAN ARU',
 'TEBING TINGGI',
 'JAKARTA PUSAT',
 'PESISIR BARAT',
 'LOMBOK TENGAH',
 'TANJUNG BALAI',
 'LAMPUNG BARAT',
 'BUTON SELATAN',
 'BANDUNG BARAT',
 'LAMPUNG TIMUR',
 'LAMPUNG UTARA',
 'TELUK WONDAMA',
 'JAKARTA BARAT',
 'KAYONG UTARA',
 'FLORES TIMUR',
 'BARITO UTARA',
 'BANJARNEGARA',
 'KOLAKA TIMUR',
 'MAMUJU UTARA',
 'TOBA SAMOSIR',
 'TULANGBAWANG',
 'EMPAT LAWANG',
 'LUBUK LINGGAU',
 'SUNGAI PENUH',
 'ACEH TAMIANG',
 'LOMBOK BARAT',
 'PADANG LAWAS',
 'LOMBOK TIMUR',
 'BANGKA BARAT',
 'LOMBOK UTARA',
 'BURU SELATAN',
 'BENER MERIAH',
 'PULANG PISAU',
 'BARITO KUALA',
 'TORAJA UTARA',
 'BONE BOLANGO',
 'BANGGAI LAUT',
 'ACEH SINGKIL',
 'BOVEN DIGOEL',
 'GUNUNG KIDUL',
 'MAHAKAM HULU',
 'DELI SERDANG',
 'ACEH SELATAN',
 'LABUHAN BATU',
 'GUNUNGSITOLI',
 'BUTON TENGAH',
 'SUBULUSSALAM',
 'KONAWE UTARA',
 'KOLAKA UTARA',
 'BARITO TIMUR',
 'NIAS SELATAN',
 'SUMBA TENGAH',
 'TOJO UNA-UNA',
 'TASIKMALAYA',
 'BATANG HARI',
 'MUARO JAMBI',
 'LHOKSEUMAWE',
 'KARANGANYAR',
 'KARANGASEM',
 'BUKITTINGGI',
 'SIJUNJUNG',
 'SAWAH LUNTO',
 'TASIKMALAYA',
 'SUMBA TIMUR',
 'PANGANDARAN',
 'BANJARMASIN',
 'BUTON UTARA',
 'DHARMASRAYA',
 'SUMBA BARAT',
 'TANAH BUMBU',
 'KAPUAS HULU',
 'BANJAR BARU',
 'KULON PROGO',
 'TANAH DATAR',
 'PROBOLINGGO',
 'ROKAN HILIR',
 'PROBOLINGGO',
 'BIAK NUMFOR',
 'PUNCAK JAYA',
 'PURBALINGGA',
 'ACEH TENGAH',
 'SABU RAIJUA',
 'TANA TORAJA',
 'TANA TIDUNG',
 'MURUNG RAYA',
 'TULUNGAGUNG',
 'KUTAI TIMUR',
 'KUTAI BARAT',
 'LANNY JAYA',
 'INTAN JAYA',
 'PAYAKUMBUH',
 'PANDEGLANG',
 'ROKAN HULU',
 'NIAS BARAT',
 'BENGKAYANG',
 'PAGAR ALAM',
 'BOJONEGORO',
 'ACEH BARAT',
 'TEMANGGUNG',
 'ACEH UTARA',
 'ACEH TIMUR',
 'GUNUNG MAS',
 'KOTAMOBAGU',
 'ACEH BESAR',
 'PEKALONGAN',
 'NAGAN RAYA',
 'LUWU UTARA',
 'LUWU TIMUR',
 'TRENGGALEK',
 'PRABUMULIH',
 'MUARA ENIM',
 'PURWAKARTA',
 'PEKALONGAN',
 'MAJALENGKA',
 'MUNA BARAT',
 'MUSI RAWAS',
 'NIAS UTARA',
 'BALIKPAPAN',
 'SLEMAN',
 'BANTUL',
 'YOGYAKARTA',
 'BANYU ASIN',
 'PIDIE JAYA',
 'JAYAWIJAYA',
 'BANYUWANGI',
 'TANAH LAUT',
 'RAJA AMPAT',
 'SAROLANGUN',
 'BANDA ACEH',
 'SINGKAWANG',
 'SIMALUNGUN',
 'MANOKWARI',
 'BULUKUMBA',
 'BENGKALIS',
 'JENEPONTO',
 'PURWOREJO',
 'PELALAWAN',
 'GAYO LUES',
 'ACEH JAYA',
 'SAMARINDA',
 'MOJOKERTO',
 'SITUBONDO',
 'BONDOWOSO',
 'KEPAHIANG',
 'SURAKARTA',
 'BATU BARA',
 'TOLI-TOLI',
 'SUKOHARJO',
 'PEKANBARU',
 'OGAN ILIR',
 'POHUWATO',
 'GORONTALO',
 'MOJOKERTO',
 'PALEMBANG',
 'BANGKALAN',
 'KLUNGKUNG',
 'TANGERANG',
 'TANGERANG',
 'PAMEKASAN',
 'KUBU RAYA',
 'ROTE NDAO',
 'PONTIANAK',
 'INDRAMAYU',
 'TANGGAMUS',
 'WAY KANAN',
 'PESAWARAN',
 'PRINGSEWU',
 'GORONTALO',
 'MANGGARAI',
 'KARAWANG',
 'KUNINGAN',
 'PONOROGO',
 'LAMONGAN',
 'SUKABUMI',
 'SUMEDANG',
 'MAGELANG',
 'PASURUAN',
 'SEMARANG',
 'SURABAYA',
 'SUKABUMI',
 'LUMAJANG',
 'PARIAMAN',
 'GROBOGAN',
 'BENGKULU',
 'BADUNG',
 'BANJAR',
 'MAKASSAR',
 'BANGKA',
 'BELITUNG',
 'SIDOARJO',
 'MUKOMUKO',
 'BANYUMAS',
 'MAGELANG',
 'BOYOLALI',
 'WONOGIRI',
 'SEMARANG',
 'WONOSOBO',
 'DENPASAR',
 'MERANGIN',
 'PEMALANG',
 'SALATIGA',
 'JEMBRANA',
 'DONGGALA',
 'TAMBRAUW',
 'BULELENG',
 'YAHUKIMO',
 'JAYAPURA',
 'TOLIKARA',
 'TABALONG',
 'KETAPANG',
 'LAMANDAU',
 'KOTABARU',
 'BULUNGAN',
 'MINAHASA',
 'MOROWALI',
 'MEMPAWAH',
 'KATINGAN',
 'WAKATOBI',
 'SUKAMARA',
 'JAYAPURA',
 'SIMEULUE',
 'BALANGAN',
 'PASURUAN',
 'PAREPARE',
 'ENREKANG',
 'BANTAENG',
 'NAGEKEO',
 'SERUYAN',
 'KERINCI',
 'SEKADAU',
 'TERNATE',
 'CILEGON',
 'MATARAM',
 'BIREUEN',
 'SUMBAWA',
 'SUMENEP',
 'SANGGAU',
 'DOGIYAI',
 'WAROPEN',
 'JOMBANG',
 'NGANJUK',
 'LEMBATA',
 'BOALEMO',
 'MAGETAN',
 'SUPIORI',
 'BANDUNG',
 'CIANJUR',
 'SAMPANG',
 'GIANYAR',
 'TABANAN',
 'SINTANG',
 'KEBUMEN',
 'KARIMUN',
 'CILACAP',
 'KAIMANA',
 'NUNUKAN',
 'CIREBON',
 'BONTANG',
 'PINRANG',
 'SOPPENG',
 'TAKALAR',
 'PACITAN',
 'REMBANG',
 'TARAKAN',
 'LANGKAT',
 'MALINAU',
 'MAYBRAT',
 'PASAMAN',
 'MERAUKE',
 'BOMBANA',
 'CIREBON',
 'SAMOSIR',
 'TOMOHON',
 'KENDARI',
 'BANDUNG',
 'SIBOLGA',
 'BANGGAI',
 'MIMIKA',
 'MALAKA',
 'JEMBER',
 'KEEROM',
 'DEIYAI',
 'KUPANG',
 'PUNCAK',
 'YALIMO',
 'LANDAK',
 'KUPANG',
 'SAMBAS',
 'MELAWI',
 'BANGLI',
 'MALANG',
 'KAPUAS',
 'LEBAK',
 'BITUNG',
 'ASAHAN',
 'JEPARA',
 'BREBES',
 'SABANG',
 'SINJAI',
 'BLITAR',
 'TALAUD',
 'PANIAI',
 'SRAGEN',
 'KLATEN',
 'PATI',
 'BATANG',
 'KENDAL',
 'MANADO',
 'KEDIRI',
 'NABIRE',
 'SERANG',
 'LEBONG',
 'MADIUN',
 'LINGGA',
 'BEKASI',
 'MAJENE',
 'KAMPAR',
 'CIAMIS',
 'BAUBAU',
 'MAMUJU',
 'CIMAHI',
 'SELUMA',
 'FAKFAK',
 'MESUJI',
 'SUBANG',
 'MALANG',
 'MAMASA',
 'BEKASI',
 'KOLAKA',
 'BLITAR',
 'KEDIRI',
 'KONAWE',
 'GRESIK',
 'BANJAR',
 'LANGSA',
 'SERANG',
 'BINJAI',
 'MADIUN',
 'SORONG',
 'BINTAN',
 'PALOPO',
 'PADANG',
 'SORONG',
 'NATUNA',
 'PASER',
 'BOGOR',
 'BERAU',
 'TEGAL',
 'TEGAL',
 'DEMAK',
 'KUDUS',
 'BLORA',
 'BARRU',
 'BUTON',
 'AMBON',
 'METRO',
 'BATAM',
 'BOGOR',
 'GARUT',
 'DEPOK',
 'TUBAN',
 'NGAWI',
 'LAHAT',
 'TAPIN',
 'NDUGA',
 'PIDIE',
 'MEDAN',
 'SARMI',
 'MAPPI',
 'ASMAT',
 'BUNGO',
 'TEBO',
 'JAMBI',
 'DUMAI',
 'DAIRI',
 'SOLOK',
 'SIKKA',
 'MAROS',
 'NGADA',
 'SOLOK',
 'DOMPU',
 'PALU',
 'NIAS',
 'GOWA',
 'AGAM',
 'MUNA',
 'KARO',
 'POSO',
 'BUOL',
 'SIAK',
 'BELU',
 'SIGI',
 'BURU',
 'BONE',
 'BATU',
 'WAJO',
 'TUAL',
 'BIMA',
 'BIMA',
 'ALOR',
 'KAUR',
 'ENDE',
 'LUWU']

#TABEL KABUPATEN/KOTA DAN PROVINSI

In [30]:
df_kab = df_kab.merge(df_prov, on='Kode', how='left')

In [31]:
df_kab

        a  Kode Kabupaten/Kota Provinsi
0    1101    11       SIMEULUE     ACEH
1    1102    11   ACEH SINGKIL     ACEH
2    1103    11   ACEH SELATAN     ACEH
3    1104    11  ACEH TENGGARA     ACEH
4    1105    11     ACEH TIMUR     ACEH
..    ...   ...            ...      ...
509  9433    94         PUNCAK    PAPUA
510  9434    94        DOGIYAI    PAPUA
511  9435    94     INTAN JAYA    PAPUA
512  9436    94         DEIYAI    PAPUA
513  9471    94       JAYAPURA    PAPUA

[514 rows x 4 columns]

In [32]:
prov_df = df_kab.loc[:,['Kabupaten/Kota', 'Provinsi']]

In [33]:
prov_df

    Kabupaten/Kota Provinsi
0         SIMEULUE     ACEH
1     ACEH SINGKIL     ACEH
2     ACEH SELATAN     ACEH
3    ACEH TENGGARA     ACEH
4       ACEH TIMUR     ACEH
..             ...      ...
509         PUNCAK    PAPUA
510        DOGIYAI    PAPUA
511     INTAN JAYA    PAPUA
512         DEIYAI    PAPUA
513       JAYAPURA    PAPUA

[514 rows x 2 columns]

In [34]:
x = {'Kabupaten/Kota':'UNDEFINED', 'Provinsi':'UNDEFINED'}

In [35]:
prov_df = prov_df.append(x, ignore_index=True)
prov_df

    Kabupaten/Kota   Provinsi
0         SIMEULUE       ACEH
1     ACEH SINGKIL       ACEH
2     ACEH SELATAN       ACEH
3    ACEH TENGGARA       ACEH
4       ACEH TIMUR       ACEH
..             ...        ...
510        DOGIYAI      PAPUA
511     INTAN JAYA      PAPUA
512         DEIYAI      PAPUA
513       JAYAPURA      PAPUA
514      UNDEFINED  UNDEFINED

[515 rows x 2 columns]

#DATASET 1 : RESELLER SHOPEE

## Check Dataset 1

In [37]:
df1

,Tgl Order,judul buku,Harga Awal,jumlah pesanan,Total Berat,Total Pembayaran,Perkiraan Ongkos Kirim,Alamat,Kota/Kabupaten,Provinsi
0,2020-10-25 18:48,Konstruksi Bangunan - BUKU ORIGINAL,63000.0,1,500 gr,65438,14000,Wi******,KAB. SUKOHARJO,JAWA TENGAH
1,2020-10-25 18:49,Kiat Sukses Meraih Hibah Penelitian Pengembang...,67500.0,1,400 gr,88230,19000,Jl******,KOTA JAKARTA TIMUR,DKI JAKARTA
2,2020-12-01 07:46,PROMO Buku Pembelajaran Inkuiri di Masa Pandem...,45000.0,1,200 gr,68000,23000,Du******,KAB. SIDOARJO,JAWA TIMUR
3,2020-12-01 09:58,Semiotika Dokumenter:Membongkar Dekonstruksi M...,70000.0,1,500 gr,87456,57000,Jl. Kh. Harun Nafsi Perumahan Gemilang 1 Blok ...,KAB. JEPARA,JAWA TENGAH
4,2020-12-01 11:00,Buku Kepastian Hukum Gadai Tanah dalam Islam,125000.0,1,325 gr,134500,57000,De******,KAB. LAHAT,SUMATERA SELATAN
...,...,...,...,...,...,...,...,...,...,...
10928,2021-12-15 11:30,Buku Pemetaan Sosial Analisis Jaringan Struktu...,161000.0,1,350 gr,199000,38000,NaN,KAB. BANYUWANGI,JAWA TIMUR
10929,2021-12-15 12:16,Buku The Soft Power Of South Korea - BUKU ASLI...,97000.0,1,300 gr,93000,8000,"RT.3/RW.14, Bonjotan, Ngaglik. Kost Griya Tent...",KAB. SLEMAN,DI YOGYAKARTA
10930,2021-12-15 12:39,Buku The Power of Gratitude Kekuatan Syukur da...,71000.0,1,200 gr,95770,28500,"Dusun Cendil Rt 11 Rw 03 Desa Alastengah, KAB....",KAB. PROBOLINGGO,JAWA TIMUR
10931,2021-12-15 16:16,Buku Motivasi Belajar Dalam Perkembangan Remaj...,41000.0,1,190 gr,96000,95000,"Tideng Pale Timur, Jalan Manunggal, RT.4/RW.1,...",KAB. TANA TIDUNG,KALIMANTAN UTARA
10932,2021-12-15 20:06,PROMO Buku Analisa dan Perancangan Sistem Info...,59000.0,1,200 gr,60770,35000,"Komplek puri bastari abadi c14, masuk lorong s...",KOTA PALEMBANG,SUMATERA SELATAN

In [38]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10933 entries, 0 to 10932
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Tgl Order               10933 non-null  object
 1   judul buku              10933 non-null  object
 2   Harga Awal              10593 non-null  float64
 3   jumlah pesanan          10933 non-null  int64
 4   Total Berat             10933 non-null  object
 5   Total Pembayaran        10933 non-null  int64
 6   Perkiraan Ongkos Kirim  10933 non-null  int64
 7   Alamat                  10487 non-null  object
 8   Kota/Kabupaten          10926 non-null  object
 9   Provinsi                10926 non-null  object
dtypes: float64(1), int64(3), object(6)
memory usage: 854.3+ KB

##Memperbaiki format dari fitur-fitur yang ada pada Dataset 1

In [39]:
df1.columns

Index(['Tgl Order', 'judul buku ', 'Harga Awal', 'jumlah pesanan ',
       'Total Berat', 'Total Pembayaran', 'Perkiraan Ongkos Kirim', 'Alamat ',
       'Kota/Kabupaten', 'Provinsi'],
      dtype='object')

In [40]:
df1.rename(columns={'Alamat ': 'Alamat','judul buku ': 'Judul Buku','jumlah pesanan ':'Jumlah Pesanan', 'Provinsi':'Provinsi_raw'}, inplace=True)

In [41]:
df1['Tgl Order'] = pd.to_datetime(df1['Tgl Order'])

In [42]:
df1['Alamat']=df1['Alamat'].apply(str)

In [43]:
df1['Alamat'] = df1['Alamat'].str.upper()
alamat_df = df1['Alamat']
alamat_df

0                                                 WI******
1                                                 JL******
2                                                 DU******
3        JL. KH. HARUN NAFSI PERUMAHAN GEMILANG 1 BLOK ...
4                                                 DE******
                               ...
10928                                                  NAN
10929    RT.3/RW.14, BONJOTAN, NGAGLIK. KOST GRIYA TENT...
10930    DUSUN CENDIL RT 11 RW 03 DESA ALASTENGAH, KAB....
10931    TIDENG PALE TIMUR, JALAN MANUNGGAL, RT.4/RW.1,...
10932    KOMPLEK PURI BASTARI ABADI C14, MASUK LORONG S...
Name: Alamat, Length: 10933, dtype: object

In [44]:
df1['Judul Buku'] = df1['Judul Buku'].str.title()
df1['Judul Buku']

0                      Konstruksi Bangunan - Buku Original
1        Kiat Sukses Meraih Hibah Penelitian Pengembang...
2        Promo Buku Pembelajaran Inkuiri Di Masa Pandem...
3        Semiotika Dokumenter:Membongkar Dekonstruksi M...
4             Buku Kepastian Hukum Gadai Tanah Dalam Islam
                               ...
10928    Buku Pemetaan Sosial Analisis Jaringan Struktu...
10929    Buku The Soft Power Of South Korea - Buku Asli...
10930    Buku The Power Of Gratitude Kekuatan Syukur Da...
10931    Buku Motivasi Belajar Dalam Perkembangan Remaj...
10932    Promo Buku Analisa Dan Perancangan Sistem Info...
Name: Judul Buku, Length: 10933, dtype: object

In [45]:
df1['Kota/Kabupaten']=df1['Kota/Kabupaten'].apply(str)

In [46]:
df1['Kota/Kabupaten'] = df1['Kota/Kabupaten'].str.upper()

In [47]:
df1['Kota/Kabupaten'] = df1['Kota/Kabupaten'].str.replace('KAB. ', '')
df1['Kota/Kabupaten'] = df1['Kota/Kabupaten'].str.replace('KOTA ', '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [48]:
df1['Total Pembayaran'] = df1['Total Pembayaran'].astype(float)

In [49]:
#kab_df = df1['Kota/Kabupaten']
#kab_df

##Melakukan pengecekan Nama Kabupaten/Kota yang terdapat pada Alamat dan memisahkannya menjadi kolom baru pada Dataset 1

In [50]:
#def Kab(alamat, kab_raw):
#  kabupaten = ""
#  if re.search('KABUPATEN',alamat):
#    tmp = re.search('KABUPATEN',alamat)
#    data_to_find = alamat[tmp.end()::]
#  elif re.search('KOTA',alamat):
#    tmp = re.search('KOTA',alamat)
#    data_to_find = alamat[tmp.end()::]
#  else:
#   data_to_find = alamat
#
#  for kab in list_kab:
#    if kab in data_to_find:
#      kabupaten = kab
#      break
#  if (kabupaten == ''):
#    kabupaten = kab_raw
  
#  return kabupaten

In [51]:
#data_alamat = [Kab(alamat,kab_raw) for alamat in alamat_df.to_list() for kab_raw in kab_df.to_list()]

In [52]:
#data_alamat

In [53]:
def kab(alamat, kab_raw):
  kabupaten=''
  alamat_list = alamat.to_list()
  kab_raw_list = kab_raw.to_list()
  ls_kab = list()
  for i in range(len(alamat_list)):
    for j in list_kab:
      if (str(j) in str(alamat_list[i])):
        #print(j)
        #print(i)
        kabupaten = j
        break
      else:
        # jika tidak ada dalam list, maka ambil kolom kabupaten/kota
        kabupaten = str(kab_raw[i])
    ls_kab.append(kabupaten)
  
  #print(ls_kab)
  return ls_kab

In [54]:
def kab(alamat, kab_raw):
  kabupaten=''
  alamat_list = alamat.to_list()
  kab_raw_list = kab_raw.to_list()
  ls_kab = list()
  for i in range(len(alamat_list)):
    for j in list_kab:
      if (str(j) in str(alamat_list[i])):
        kabupaten = j
        break
      else:
        # jika tidak ada dalam list, maka ambil kolom kabupaten/kota
        kabupaten = str(kab_raw[i])
    ls_kab.append(kabupaten)
  
  #print(ls_kab)
  return ls_kab

In [55]:
ls = list()
ls = kab(df1['Alamat'], df1['Kota/Kabupaten'])

In [56]:
df1['Kabupaten/Kota'] = ls

In [57]:
df1

,Tgl Order,Judul Buku,Harga Awal,Jumlah Pesanan,Total Berat,Total Pembayaran,Perkiraan Ongkos Kirim,Alamat,Kota/Kabupaten,Provinsi_raw,Kabupaten/Kota
0,2020-10-25 18:48:00,Konstruksi Bangunan - Buku Original,63000.0,1,500 gr,65438.0,14000,WI******,SUKOHARJO,JAWA TENGAH,SUKOHARJO
1,2020-10-25 18:49:00,Kiat Sukses Meraih Hibah Penelitian Pengembang...,67500.0,1,400 gr,88230.0,19000,JL******,JAKARTA TIMUR,DKI JAKARTA,JAKARTA TIMUR
2,2020-12-01 07:46:00,Promo Buku Pembelajaran Inkuiri Di Masa Pandem...,45000.0,1,200 gr,68000.0,23000,DU******,SIDOARJO,JAWA TIMUR,SIDOARJO
3,2020-12-01 09:58:00,Semiotika Dokumenter:Membongkar Dekonstruksi M...,70000.0,1,500 gr,87456.0,57000,JL. KH. HARUN NAFSI PERUMAHAN GEMILANG 1 BLOK ...,JEPARA,JAWA TENGAH,SAMARINDA
4,2020-12-01 11:00:00,Buku Kepastian Hukum Gadai Tanah Dalam Islam,125000.0,1,325 gr,134500.0,57000,DE******,LAHAT,SUMATERA SELATAN,LAHAT
...,...,...,...,...,...,...,...,...,...,...,...
10928,2021-12-15 11:30:00,Buku Pemetaan Sosial Analisis Jaringan Struktu...,161000.0,1,350 gr,199000.0,38000,NAN,BANYUWANGI,JAWA TIMUR,BANYUWANGI
10929,2021-12-15 12:16:00,Buku The Soft Power Of South Korea - Buku Asli...,97000.0,1,300 gr,93000.0,8000,"RT.3/RW.14, BONJOTAN, NGAGLIK. KOST GRIYA TENT...",SLEMAN,DI YOGYAKARTA,SLEMAN
10930,2021-12-15 12:39:00,Buku The Power Of Gratitude Kekuatan Syukur Da...,71000.0,1,200 gr,95770.0,28500,"DUSUN CENDIL RT 11 RW 03 DESA ALASTENGAH, KAB....",PROBOLINGGO,JAWA TIMUR,PROBOLINGGO
10931,2021-12-15 16:16:00,Buku Motivasi Belajar Dalam Perkembangan Remaj...,41000.0,1,190 gr,96000.0,95000,"TIDENG PALE TIMUR, JALAN MANUNGGAL, RT.4/RW.1,...",TANA TIDUNG,KALIMANTAN UTARA,TANA TIDUNG
10932,2021-12-15 20:06:00,Promo Buku Analisa Dan Perancangan Sistem Info...,59000.0,1,200 gr,60770.0,35000,"KOMPLEK PURI BASTARI ABADI C14, MASUK LORONG S...",PALEMBANG,SUMATERA SELATAN,PALEMBANG

In [58]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10933 entries, 0 to 10932
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Tgl Order               10933 non-null  datetime64[ns]
 1   Judul Buku              10933 non-null  object
 2   Harga Awal              10593 non-null  float64
 3   Jumlah Pesanan          10933 non-null  int64
 4   Total Berat             10933 non-null  object
 5   Total Pembayaran        10933 non-null  float64
 6   Perkiraan Ongkos Kirim  10933 non-null  int64
 7   Alamat                  10933 non-null  object
 8   Kota/Kabupaten          10933 non-null  object
 9   Provinsi_raw            10926 non-null  object
 10  Kabupaten/Kota          10933 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(2), object(6)
memory usage: 939.7+ KB

##Menambahkan Kolom Provinsi

In [59]:
df1 = df1.merge(prov_df, on='Kabupaten/Kota', how='left')

In [60]:
df1

,Tgl Order,Judul Buku,Harga Awal,Jumlah Pesanan,Total Berat,Total Pembayaran,Perkiraan Ongkos Kirim,Alamat,Kota/Kabupaten,Provinsi_raw,Kabupaten/Kota,Provinsi
0,2020-10-25 18:48:00,Konstruksi Bangunan - Buku Original,63000.0,1,500 gr,65438.0,14000,WI******,SUKOHARJO,JAWA TENGAH,SUKOHARJO,JAWA TENGAH
1,2020-10-25 18:49:00,Kiat Sukses Meraih Hibah Penelitian Pengembang...,67500.0,1,400 gr,88230.0,19000,JL******,JAKARTA TIMUR,DKI JAKARTA,JAKARTA TIMUR,DKI JAKARTA
2,2020-12-01 07:46:00,Promo Buku Pembelajaran Inkuiri Di Masa Pandem...,45000.0,1,200 gr,68000.0,23000,DU******,SIDOARJO,JAWA TIMUR,SIDOARJO,JAWA TIMUR
3,2020-12-01 09:58:00,Semiotika Dokumenter:Membongkar Dekonstruksi M...,70000.0,1,500 gr,87456.0,57000,JL. KH. HARUN NAFSI PERUMAHAN GEMILANG 1 BLOK ...,JEPARA,JAWA TENGAH,SAMARINDA,KALIMANTAN TIMUR
4,2020-12-01 11:00:00,Buku Kepastian Hukum Gadai Tanah Dalam Islam,125000.0,1,325 gr,134500.0,57000,DE******,LAHAT,SUMATERA SELATAN,LAHAT,SUMATERA SELATAN
...,...,...,...,...,...,...,...,...,...,...,...,...
13351,2021-12-15 12:16:00,Buku The Soft Power Of South Korea - Buku Asli...,97000.0,1,300 gr,93000.0,8000,"RT.3/RW.14, BONJOTAN, NGAGLIK. KOST GRIYA TENT...",SLEMAN,DI YOGYAKARTA,SLEMAN,DI YOGYAKARTA
13352,2021-12-15 12:39:00,Buku The Power Of Gratitude Kekuatan Syukur Da...,71000.0,1,200 gr,95770.0,28500,"DUSUN CENDIL RT 11 RW 03 DESA ALASTENGAH, KAB....",PROBOLINGGO,JAWA TIMUR,PROBOLINGGO,JAWA TIMUR
13353,2021-12-15 12:39:00,Buku The Power Of Gratitude Kekuatan Syukur Da...,71000.0,1,200 gr,95770.0,28500,"DUSUN CENDIL RT 11 RW 03 DESA ALASTENGAH, KAB....",PROBOLINGGO,JAWA TIMUR,PROBOLINGGO,JAWA TIMUR
13354,2021-12-15 16:16:00,Buku Motivasi Belajar Dalam Perkembangan Remaj...,41000.0,1,190 gr,96000.0,95000,"TIDENG PALE TIMUR, JALAN MANUNGGAL, RT.4/RW.1,...",TANA TIDUNG,KALIMANTAN UTARA,TANA TIDUNG,KALIMANTAN UTARA
13355,2021-12-15 20:06:00,Promo Buku Analisa Dan Perancangan Sistem Info...,59000.0,1,200 gr,60770.0,35000,"KOMPLEK PURI BASTARI ABADI C14, MASUK LORONG S...",PALEMBANG,SUMATERA SELATAN,PALEMBANG,SUMATERA SELATAN

In [61]:
df1.loc[:,['Kabupaten/Kota', 'Provinsi']]

      Kabupaten/Kota          Provinsi
0          SUKOHARJO       JAWA TENGAH
1      JAKARTA TIMUR       DKI JAKARTA
2           SIDOARJO        JAWA TIMUR
3          SAMARINDA  KALIMANTAN TIMUR
4              LAHAT  SUMATERA SELATAN
...              ...               ...
13351         SLEMAN     DI YOGYAKARTA
13352    PROBOLINGGO        JAWA TIMUR
13353    PROBOLINGGO        JAWA TIMUR
13354    TANA TIDUNG  KALIMANTAN UTARA
13355      PALEMBANG  SUMATERA SELATAN

[13356 rows x 2 columns]

##Memisahkan Month dan Year dari Tgl Order pada Dataset 1

In [62]:
df1['Month'] = pd.DatetimeIndex(df1['Tgl Order']).month

In [63]:
df1['Year'] = pd.DatetimeIndex(df1['Tgl Order']).year

In [64]:
df1

,Tgl Order,Judul Buku,Harga Awal,Jumlah Pesanan,Total Berat,Total Pembayaran,Perkiraan Ongkos Kirim,Alamat,Kota/Kabupaten,Provinsi_raw,Kabupaten/Kota,Provinsi,Month,Year
0,2020-10-25 18:48:00,Konstruksi Bangunan - Buku Original,63000.0,1,500 gr,65438.0,14000,WI******,SUKOHARJO,JAWA TENGAH,SUKOHARJO,JAWA TENGAH,10,2020
1,2020-10-25 18:49:00,Kiat Sukses Meraih Hibah Penelitian Pengembang...,67500.0,1,400 gr,88230.0,19000,JL******,JAKARTA TIMUR,DKI JAKARTA,JAKARTA TIMUR,DKI JAKARTA,10,2020
2,2020-12-01 07:46:00,Promo Buku Pembelajaran Inkuiri Di Masa Pandem...,45000.0,1,200 gr,68000.0,23000,DU******,SIDOARJO,JAWA TIMUR,SIDOARJO,JAWA TIMUR,12,2020
3,2020-12-01 09:58:00,Semiotika Dokumenter:Membongkar Dekonstruksi M...,70000.0,1,500 gr,87456.0,57000,JL. KH. HARUN NAFSI PERUMAHAN GEMILANG 1 BLOK ...,JEPARA,JAWA TENGAH,SAMARINDA,KALIMANTAN TIMUR,12,2020
4,2020-12-01 11:00:00,Buku Kepastian Hukum Gadai Tanah Dalam Islam,125000.0,1,325 gr,134500.0,57000,DE******,LAHAT,SUMATERA SELATAN,LAHAT,SUMATERA SELATAN,12,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13351,2021-12-15 12:16:00,Buku The Soft Power Of South Korea - Buku Asli...,97000.0,1,300 gr,93000.0,8000,"RT.3/RW.14, BONJOTAN, NGAGLIK. KOST GRIYA TENT...",SLEMAN,DI YOGYAKARTA,SLEMAN,DI YOGYAKARTA,12,2021
13352,2021-12-15 12:39:00,Buku The Power Of Gratitude Kekuatan Syukur Da...,71000.0,1,200 gr,95770.0,28500,"DUSUN CENDIL RT 11 RW 03 DESA ALASTENGAH, KAB....",PROBOLINGGO,JAWA TIMUR,PROBOLINGGO,JAWA TIMUR,12,2021
13353,2021-12-15 12:39:00,Buku The Power Of Gratitude Kekuatan Syukur Da...,71000.0,1,200 gr,95770.0,28500,"DUSUN CENDIL RT 11 RW 03 DESA ALASTENGAH, KAB....",PROBOLINGGO,JAWA TIMUR,PROBOLINGGO,JAWA TIMUR,12,2021
13354,2021-12-15 16:16:00,Buku Motivasi Belajar Dalam Perkembangan Remaj...,41000.0,1,190 gr,96000.0,95000,"TIDENG PALE TIMUR, JALAN MANUNGGAL, RT.4/RW.1,...",TANA TIDUNG,KALIMANTAN UTARA,TANA TIDUNG,KALIMANTAN UTARA,12,2021
13355,2021-12-15 20:06:00,Promo Buku Analisa Dan Perancangan Sistem Info...,59000.0,1,200 gr,60770.0,35000,"KOMPLEK PURI BASTARI ABADI C14, MASUK LORONG S...",PALEMBANG,SUMATERA SELATAN,PALEMBANG,SUMATERA SELATAN,12,2021

##Melakukan Check Duplicated Value pada Dataset 1

##Memisahkan Fitur-Fitur yang diperlukan untuk Analisa kedalam sebuah DataFrame Baru pada Dataset 1

In [65]:
df11 = df1.loc[:,['Year', 'Month', 'Kabupaten/Kota', 'Provinsi','Judul Buku','Jumlah Pesanan','Total Pembayaran']]
df11

,Year,Month,Kabupaten/Kota,Provinsi,Judul Buku,Jumlah Pesanan,Total Pembayaran
0,2020,10,SUKOHARJO,JAWA TENGAH,Konstruksi Bangunan - Buku Original,1,65438.0
1,2020,10,JAKARTA TIMUR,DKI JAKARTA,Kiat Sukses Meraih Hibah Penelitian Pengembang...,1,88230.0
2,2020,12,SIDOARJO,JAWA TIMUR,Promo Buku Pembelajaran Inkuiri Di Masa Pandem...,1,68000.0
3,2020,12,SAMARINDA,KALIMANTAN TIMUR,Semiotika Dokumenter:Membongkar Dekonstruksi M...,1,87456.0
4,2020,12,LAHAT,SUMATERA SELATAN,Buku Kepastian Hukum Gadai Tanah Dalam Islam,1,134500.0
...,...,...,...,...,...,...,...
13351,2021,12,SLEMAN,DI YOGYAKARTA,Buku The Soft Power Of South Korea - Buku Asli...,1,93000.0
13352,2021,12,PROBOLINGGO,JAWA TIMUR,Buku The Power Of Gratitude Kekuatan Syukur Da...,1,95770.0
13353,2021,12,PROBOLINGGO,JAWA TIMUR,Buku The Power Of Gratitude Kekuatan Syukur Da...,1,95770.0
13354,2021,12,TANA TIDUNG,KALIMANTAN UTARA,Buku Motivasi Belajar Dalam Perkembangan Remaj...,1,96000.0
13355,2021,12,PALEMBANG,SUMATERA SELATAN,Promo Buku Analisa Dan Perancangan Sistem Info...,1,60770.0

In [66]:
df11.dtypes

Year                  int64
Month                 int64
Kabupaten/Kota       object
Provinsi             object
Judul Buku           object
Jumlah Pesanan        int64
Total Pembayaran    float64
dtype: object

#DATASET 2 : ORDER 2021

##JANUARI 2021

###Load Dataset

In [67]:
JAN_df2 = pd.read_excel("https://github.com/dickyilhami/Analysis-Book-Sales/blob/main/Dataset/data-order-online-2021-terbaru-ed.xlsx?raw=true", sheet_name = "M.JANUARI")
JAN_df2

,Tgl Order,Pemesanan,Nama,Alamat,judul buku,Pengarang,jumlah pesanan,harga,jumlah penjualan,discount,...,total,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon
0,2020-12-23,wa,Milka Atika Sari,"Jl. Yudistira II, Kalikuning rt. 03 rw. 09, Jo...","Upaya Mengoptimalkan Desa Sawarna, Banten seba...",Harris Lumban Gaol,1,61000.0,61000.0,NaN,...,67000.0,wa,NaN,wahana,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-12-23,langsung,nur hidayat,yogyakarta,Analisis Data Menggunakan Stata SE 14 (Panduan...,Kurniawan,1,126000.0,126000.0,NaN,...,126000.0,langsung,NaN,di ambil,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-12-23,wa,gani wiharso,Perum Aneka Elok Blok D 3 No.40 Rt.005 Rw 09 K...,Dasar-dasar Akuntansi untuk Pemula,Arif Widyatama,1,140000.0,140000.0,NaN,...,140000.0,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-12-23,wa,gani wiharso,Perum Aneka Elok Blok D 3 No.40 Rt.005 Rw 09 K...,"Ekonomi Mikro, Analisis dan Pendekatan Praktis...",R. Misriah Ariyani S. &\nTotok Harjanto,1,91000.0,91000.0,NaN,...,91000.0,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-12-24,shopee,Nabiladiahirianti,Depan uptd sukonatar ada gang masuk. Lurus 100...,Linguistik Mikro (Kajian Internal Bahasa dan P...,Yusri dan Mantasiah R.,1,92000.0,92000.0,NaN,...,87878.0,shopee,201223C14MH1DH,jne,NaN,8827722034057780,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,2021-01-21,wa,Ibu Asriwati,Medan,Konsep dan Aplikasi Epidemiologi \n,Asriwati Amirah & Safrizal Ahmaruddin,55,217000.0,11935000.0,3580500.0,...,8000000.0,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN
218,2021-01-22,tokopedia,Lufi Luthfiani,Jl. Kapten Yusuf Gg. Bebas RT. 01/08 No. 18 Kp...,Validasi & Verifikasi Metode Uji sesuai dengan...,"Riyanto, Ph.D.",1,96000.0,96000.0,NaN,...,113500.0,tokopedia,INV/20210121/XXI/I/732380006,JNE,TJR1017006043432,NaN,NaN,NaN,NaN,NaN
219,2021-01-22,bukalapak,Jerry May hasudungan,"jalan isman no 31 kenjeran surabaya, Kenjeran,...",Model dan Simulasi Sistem Dinamik,"Erma Suryani, Rully Agus Hendrawan dan Ulfa Em...",1,78000.0,78000.0,NaN,...,78000.0,bukalapak,BLJC213069364806,jne,BLJC213069364806,NaN,NaN,NaN,NaN,NaN
220,2021-01-22,web,Ari Haryanto,Jl.Perkutut I No.8\nHarjamukti\nKota Cirebon\n...,Model Konseling Kelompok Teknik Problem Solvin...,M. Andi Setiawan,1,81000.0,81000.0,NaN,...,98015.0,web,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN
221,NaT,NaN,NaN,NaN,NaN,NaN,303,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
JAN_df2 = JAN_df2.iloc[:-1 , :]

###Memisahkan Kabupaten/Kota dari Alamat

In [69]:
JAN_df2['Alamat '] = JAN_df2['Alamat '].str.upper()
alamat_df = JAN_df2['Alamat ']
alamat_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0      JL. YUDISTIRA II, KALIKUNING RT. 03 RW. 09, JO...
1                                             YOGYAKARTA
2      PERUM ANEKA ELOK BLOK D 3 NO.40 RT.005 RW 09 K...
3      PERUM ANEKA ELOK BLOK D 3 NO.40 RT.005 RW 09 K...
4      DEPAN UPTD SUKONATAR ADA GANG MASUK. LURUS 100...
                             ...
216    JLN. TRANS SULAWESI\nKOTA MARISA, KABUPATEN PO...
217                                                MEDAN
218    JL. KAPTEN YUSUF GG. BEBAS RT. 01/08 NO. 18 KP...
219    JALAN ISMAN NO 31 KENJERAN SURABAYA, KENJERAN,...
220    JL.PERKUTUT I NO.8\nHARJAMUKTI\nKOTA CIREBON\n...
Name: Alamat , Length: 221, dtype: object

In [70]:
def Kab(alamat):
  kabupaten = ""
  if re.search('KABUPATEN/KOTA',alamat) :
    tmp = re.search('KABUPATEN/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB/KOTA',alamat):
    tmp = re.search('KAB/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB',alamat):
    tmp = re.search('KAB',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KOTA',alamat):
    tmp = re.search('KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KABUPATEN',alamat):
    tmp = re.search('KABUPATEN',alamat)
    data_to_find = alamat[tmp.end()::]
  else:
    data_to_find = alamat

  for kab in list_kab:
    if kab in data_to_find:
      kabupaten = kab
      break
  if (kabupaten == ''):
    kabupaten = 'UNDEFINED'
  
  return kabupaten

In [71]:
data_alamat = [Kab(alamat) for alamat in alamat_df.to_list()]

In [72]:
JAN_df2['Kabupaten/Kota'] = data_alamat

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [73]:
JAN_df2

,Tgl Order,Pemesanan,Nama,Alamat,judul buku,Pengarang,jumlah pesanan,harga,jumlah penjualan,discount,...,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon,Kabupaten/Kota
0,2020-12-23,wa,Milka Atika Sari,"JL. YUDISTIRA II, KALIKUNING RT. 03 RW. 09, JO...","Upaya Mengoptimalkan Desa Sawarna, Banten seba...",Harris Lumban Gaol,1,61000.0,61000.0,NaN,...,wa,NaN,wahana,NaN,NaN,NaN,NaN,NaN,NaN,KLATEN
1,2020-12-23,langsung,nur hidayat,YOGYAKARTA,Analisis Data Menggunakan Stata SE 14 (Panduan...,Kurniawan,1,126000.0,126000.0,NaN,...,langsung,NaN,di ambil,NaN,NaN,NaN,NaN,NaN,NaN,YOGYAKARTA
2,2020-12-23,wa,gani wiharso,PERUM ANEKA ELOK BLOK D 3 NO.40 RT.005 RW 09 K...,Dasar-dasar Akuntansi untuk Pemula,Arif Widyatama,1,140000.0,140000.0,NaN,...,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,JAKARTA TIMUR
3,2020-12-23,wa,gani wiharso,PERUM ANEKA ELOK BLOK D 3 NO.40 RT.005 RW 09 K...,"Ekonomi Mikro, Analisis dan Pendekatan Praktis...",R. Misriah Ariyani S. &\nTotok Harjanto,1,91000.0,91000.0,NaN,...,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,JAKARTA TIMUR
4,2020-12-24,shopee,Nabiladiahirianti,DEPAN UPTD SUKONATAR ADA GANG MASUK. LURUS 100...,Linguistik Mikro (Kajian Internal Bahasa dan P...,Yusri dan Mantasiah R.,1,92000.0,92000.0,NaN,...,shopee,201223C14MH1DH,jne,NaN,8827722034057780,NaN,NaN,NaN,NaN,BANYUWANGI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,2021-01-21,wa,Bpk. NOOR ASIEF,"JLN. TRANS SULAWESI\nKOTA MARISA, KABUPATEN PO...",UU Perimbangan Keuangan Antara Pemerintah Pusa...,-,1,15500.0,15500.0,NaN,...,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,POHUWATO
217,2021-01-21,wa,Ibu Asriwati,MEDAN,Konsep dan Aplikasi Epidemiologi \n,Asriwati Amirah & Safrizal Ahmaruddin,55,217000.0,11935000.0,3580500.0,...,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,MEDAN
218,2021-01-22,tokopedia,Lufi Luthfiani,JL. KAPTEN YUSUF GG. BEBAS RT. 01/08 NO. 18 KP...,Validasi & Verifikasi Metode Uji sesuai dengan...,"Riyanto, Ph.D.",1,96000.0,96000.0,NaN,...,tokopedia,INV/20210121/XXI/I/732380006,JNE,TJR1017006043432,NaN,NaN,NaN,NaN,NaN,BOGOR
219,2021-01-22,bukalapak,Jerry May hasudungan,"JALAN ISMAN NO 31 KENJERAN SURABAYA, KENJERAN,...",Model dan Simulasi Sistem Dinamik,"Erma Suryani, Rully Agus Hendrawan dan Ulfa Em...",1,78000.0,78000.0,NaN,...,bukalapak,BLJC213069364806,jne,BLJC213069364806,NaN,NaN,NaN,NaN,NaN,SURABAYA
220,2021-01-22,web,Ari Haryanto,JL.PERKUTUT I NO.8\nHARJAMUKTI\nKOTA CIREBON\n...,Model Konseling Kelompok Teknik Problem Solvin...,M. Andi Setiawan,1,81000.0,81000.0,NaN,...,web,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,CIREBON

###Menambahkan  Kolom Provinsi

In [74]:
JAN_df2 = JAN_df2.merge(prov_df, on='Kabupaten/Kota', how='left')

In [75]:
JAN_df2.loc[:,['Kabupaten/Kota', 'Provinsi']]

    Kabupaten/Kota       Provinsi
0           KLATEN    JAWA TENGAH
1       YOGYAKARTA  DI YOGYAKARTA
2    JAKARTA TIMUR    DKI JAKARTA
3    JAKARTA TIMUR    DKI JAKARTA
4       BANYUWANGI     JAWA TIMUR
..             ...            ...
262          BOGOR     JAWA BARAT
263          BOGOR     JAWA BARAT
264       SURABAYA     JAWA TIMUR
265        CIREBON     JAWA BARAT
266        CIREBON     JAWA BARAT

[267 rows x 2 columns]

## FEBRUARI 2021

###Load Dataset

In [76]:
FEB_df2 = pd.read_excel("https://github.com/dickyilhami/Analysis-Book-Sales/blob/main/Dataset/data-order-online-2021-terbaru-ed.xlsx?raw=true", sheet_name = "M.FEBRUARI")
FEB_df2

,Tgl Order,Pemesanan,Nama,Alamat,judul buku,Pengarang,jumlah pesanan,harga,jumlah penjualan,discount,...,total,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon
0,2021-01-25,shopee,Indriyati,Perum Griya Asri 2 Jln. Kalpataru 6 Blok K8 No...,Semiotika Dokumenter: Membongkar Dekonstruksi ...,Syaiful Halim,1,70000.0,70000.0,NaN,...,89969.0,shopee,2101231YH8NDS4,j&t,NaN,JP6230327833,NaN,NaN,NaN,NaN
1,2021-01-25,shopee,Yuyun Dwi Lestari,Yuyun PKL/BPM Hj. Sri Mustika No.27 Dusun 01 G...,Evidence Based Dalam Praktik Kebidanan,"Ira Jayanti, S.ST., SKM., M.Keb.",1,73000.0,73000.0,NaN,...,82855.0,shopee,2101244GRBMXX3,j&t,NaN,JP9500813681,NaN,NaN,NaN,NaN
2,2021-01-25,shopee,Yuyun Dwi Lestari,Yuyun PKL/BPM Hj. Sri Mustika No.27 Dusun 01 G...,Buku Ajar Asuhan Kebidanan Pada Persalinan,Dartiwen dan Cucu Nurmala,1,92000.0,92000.0,NaN,...,92000.0,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-01-25,bukalapak,Hadi Shubhan,Jl. Gayungsari III No. 32 Blok A-11 (Graha Gay...,Hukum Kepailitan Kreditur dalam Pailit,Ronald Saija & Michael Nussy,1,86000.0,86000.0,NaN,...,86000.0,bukalapak,000864935752,si cepat,NaN,000864935752,NaN,NaN,NaN,NaN
4,2021-01-25,lazada,khifdziat,Jl. darma bakti no 153 medono Jawa Tengah Kota...,Model Pembelajaran Discovery Learning di Sekol...,Endang Titik Lestari,1,44000.0,44000.0,NaN,...,50500.0,lazada,529772409016714,j&t,NaN,JZ1000237404,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414,2021-02-24,shopee,Maria,"Jln.tukad balian gang bule no.18, KOTA DENPASA...",Tiket Penerbangan Domestik,I Putu Hardani Hesti Duari,1,81000.0,81000.0,NaN,...,98493.0,shopee,210224RGHR33P4,j&t,NaN,JP8080952327,NaN,NaN,NaN,NaN
415,2021-02-24,wa,Ahmad,"Rejowinangun, RT/23 RW/07 No. 413, Kotagede, Y...",Model Pembelajaran Discovery Learning di Sekol...,Endang Titik Lestari,1,44000.0,44000.0,NaN,...,54000.0,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN
416,2021-02-24,wa,ILYANANDA PUTRI,Perumahan Purwodadi Indah Jl.Damai Blok L Nom...,"Aljabar Linear Dasar Berbasis IT (Scilab, Geog...",Netty J. Marlin Gella & Yusak I. Bien,1,55000.0,55000.0,NaN,...,90000.0,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN
417,NaT,NaN,NaN,NaN,NaN,NaN,551,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
418,NaT,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
FEB_df2 = FEB_df2.iloc[:-2 , :]

###Memisahkan  Kabupaten/Kota dari Alamat

In [78]:
FEB_df2['Alamat '] = FEB_df2['Alamat '].str.upper()
alamat_df = FEB_df2['Alamat ']
alamat_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0      PERUM GRIYA ASRI 2 JLN. KALPATARU 6 BLOK K8 NO...
1      YUYUN PKL/BPM HJ. SRI MUSTIKA NO.27 DUSUN 01 G...
2      YUYUN PKL/BPM HJ. SRI MUSTIKA NO.27 DUSUN 01 G...
3      JL. GAYUNGSARI III NO. 32 BLOK A-11 (GRAHA GAY...
4      JL. DARMA BAKTI NO 153 MEDONO JAWA TENGAH KOTA...
                             ...
412    JL PUTAT INDAH TIMUR 3 NO 1 . KEC SUKOMANUNGGA...
413    JALAN MANGLID NO.71/132 GANG SAUYUNAN RT 03 RW...
414    JLN.TUKAD BALIAN GANG BULE NO.18, KOTA DENPASA...
415    REJOWINANGUN, RT/23 RW/07 NO. 413, KOTAGEDE, Y...
416     PERUMAHAN PURWODADI INDAH JL.DAMAI BLOK L NOM...
Name: Alamat , Length: 417, dtype: object

In [79]:
def Kab(alamat):
  kabupaten = ""
  if re.search('KABUPATEN/KOTA',alamat) :
    tmp = re.search('KABUPATEN/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB/KOTA',alamat):
    tmp = re.search('KAB/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB',alamat):
    tmp = re.search('KAB',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KOTA',alamat):
    tmp = re.search('KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KABUPATEN',alamat):
    tmp = re.search('KABUPATEN',alamat)
    data_to_find = alamat[tmp.end()::]
  else:
    data_to_find = alamat

  for kab in list_kab:
    if kab in data_to_find:
      kabupaten = kab
      break

  if (kabupaten == ''):
    kabupaten = 'UNDEFINED'
  
  return kabupaten

In [80]:
data_alamat = [Kab(alamat) for alamat in alamat_df.to_list()]

In [81]:
FEB_df2['Kabupaten/Kota'] = data_alamat

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [82]:
FEB_df2

,Tgl Order,Pemesanan,Nama,Alamat,judul buku,Pengarang,jumlah pesanan,harga,jumlah penjualan,discount,...,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon,Kabupaten/Kota
0,2021-01-25,shopee,Indriyati,PERUM GRIYA ASRI 2 JLN. KALPATARU 6 BLOK K8 NO...,Semiotika Dokumenter: Membongkar Dekonstruksi ...,Syaiful Halim,1,70000.0,70000.0,NaN,...,shopee,2101231YH8NDS4,j&t,NaN,JP6230327833,NaN,NaN,NaN,NaN,BEKASI
1,2021-01-25,shopee,Yuyun Dwi Lestari,YUYUN PKL/BPM HJ. SRI MUSTIKA NO.27 DUSUN 01 G...,Evidence Based Dalam Praktik Kebidanan,"Ira Jayanti, S.ST., SKM., M.Keb.",1,73000.0,73000.0,NaN,...,shopee,2101244GRBMXX3,j&t,NaN,JP9500813681,NaN,NaN,NaN,NaN,LAMPUNG UTARA
2,2021-01-25,shopee,Yuyun Dwi Lestari,YUYUN PKL/BPM HJ. SRI MUSTIKA NO.27 DUSUN 01 G...,Buku Ajar Asuhan Kebidanan Pada Persalinan,Dartiwen dan Cucu Nurmala,1,92000.0,92000.0,NaN,...,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,LAMPUNG UTARA
3,2021-01-25,bukalapak,Hadi Shubhan,JL. GAYUNGSARI III NO. 32 BLOK A-11 (GRAHA GAY...,Hukum Kepailitan Kreditur dalam Pailit,Ronald Saija & Michael Nussy,1,86000.0,86000.0,NaN,...,bukalapak,000864935752,si cepat,NaN,000864935752,NaN,NaN,NaN,NaN,SURABAYA
4,2021-01-25,lazada,khifdziat,JL. DARMA BAKTI NO 153 MEDONO JAWA TENGAH KOTA...,Model Pembelajaran Discovery Learning di Sekol...,Endang Titik Lestari,1,44000.0,44000.0,NaN,...,lazada,529772409016714,j&t,NaN,JZ1000237404,NaN,NaN,NaN,NaN,PEKALONGAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,2021-02-24,bukalapak,Rieska Hidajat,JL PUTAT INDAH TIMUR 3 NO 1 . KEC SUKOMANUNGGA...,Panduan Praktis Hatha Yoga Bagi Orang Modern,Ida Kade Suparta & Wayan Ayumita Astrina,1,34500.0,34500.0,NaN,...,bukalapak,001438060427,buka express,NaN,001438060427,NaN,NaN,NaN,NaN,SURABAYA
413,2021-02-24,wa,dudi rudiatna,JALAN MANGLID NO.71/132 GANG SAUYUNAN RT 03 RW...,"Kinerja Guru (Teori, Penilaian dan Upaya Penin...",Wagiran,1,117000.0,117000.0,NaN,...,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,BANDUNG
414,2021-02-24,shopee,Maria,"JLN.TUKAD BALIAN GANG BULE NO.18, KOTA DENPASA...",Tiket Penerbangan Domestik,I Putu Hardani Hesti Duari,1,81000.0,81000.0,NaN,...,shopee,210224RGHR33P4,j&t,NaN,JP8080952327,NaN,NaN,NaN,NaN,DENPASAR
415,2021-02-24,wa,Ahmad,"REJOWINANGUN, RT/23 RW/07 NO. 413, KOTAGEDE, Y...",Model Pembelajaran Discovery Learning di Sekol...,Endang Titik Lestari,1,44000.0,44000.0,NaN,...,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,YOGYAKARTA
416,2021-02-24,wa,ILYANANDA PUTRI,PERUMAHAN PURWODADI INDAH JL.DAMAI BLOK L NOM...,"Aljabar Linear Dasar Berbasis IT (Scilab, Geog...",Netty J. Marlin Gella & Yusak I. Bien,1,55000.0,55000.0,NaN,...,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,PEKANBARU

###Menambahkan  Kolom Provinsi

In [83]:
FEB_df2 = FEB_df2.merge(prov_df, on='Kabupaten/Kota', how='left')

In [84]:
FEB_df2.loc[:,['Kabupaten/Kota', 'Provinsi']]

    Kabupaten/Kota       Provinsi
0           BEKASI     JAWA BARAT
1           BEKASI     JAWA BARAT
2    LAMPUNG UTARA        LAMPUNG
3    LAMPUNG UTARA        LAMPUNG
4         SURABAYA     JAWA TIMUR
..             ...            ...
518        BANDUNG     JAWA BARAT
519        BANDUNG     JAWA BARAT
520       DENPASAR           BALI
521     YOGYAKARTA  DI YOGYAKARTA
522      PEKANBARU           RIAU

[523 rows x 2 columns]

## MARET 2021

###Load Dataset

In [85]:
MAR_df2 = pd.read_excel("https://github.com/dickyilhami/Analysis-Book-Sales/blob/main/Dataset/data-order-online-2021-terbaru-ed.xlsx?raw=true", sheet_name = "M.MARET")
MAR_df2

,Tgl Order,Pemesanan,Nama,Alamat,judul buku,Pengarang,jumlah pesanan,harga,jumlah penjualan,discount,...,total,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon
0,2021-02-25,shopee,Rita sagita,"Jalan malaka lorong mekar 3 No.1424, KOTA PALE...",Manajemen Analisis Jabatan,Luis Marnisah & Fakhry Zamzam,1,10000.0,10000.0,NaN,...,5670.0,shopee,210224RWMGDAY0,j&t,NaN,JP9806310829,NaN,NaN,NaN,NaN
1,2021-02-25,shopee,ILZA AH (Sasa),Perumahan Safira Residence Blok D No.18-20 Jln...,Analisis dan Perancangan Sistem Informasi: Pem...,"Maniah, dkk",1,83000.0,83000.0,NaN,...,83406.0,shopee,210224S1XNN3SH,j&t,NaN,JP6558845714,NaN,NaN,NaN,NaN
2,2021-02-25,shopee,Ita Widyawati,"Jalan Kunir no 45, RT 03 RW 11, Pajang, Laweya...",Analisis dan Perancangan Sistem Informasi: Pem...,"Maniah, dkk",1,83000.0,83000.0,NaN,...,80406.0,shopee,210224S4N9KYFU,j&t,NaN,JP0385799421,NaN,NaN,NaN,NaN
3,2021-02-25,shopee,Athaya hasna,"Jl pramuka no 16, Sadamalun, RT 003/RW 021. ( ...",Manajemen Pendidikan (Teori Dan Praktik Dalam ...,Undang Ruslan Wahyudin,1,98000.0,98000.0,NaN,...,116757.0,shopee,210224RQYW5PW1,j&t,NaN,JP8598505809,NaN,NaN,NaN,NaN
4,2021-02-25,shopee,Haeril,Dijln H. Agussalim no 29 raha kecamatan katobu...,Etika Profesi Guru,Nurhuda & Agus Baskara,1,71500.0,71500.0,NaN,...,116546.0,shopee,210224SGY0U2SV,j&t,NaN,JP1850758250,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,2021-03-23,wa,arvianto Eko nugroho,"jl. Puspiptek raya, komplek Puri Serpong 1, bl...",Handbook For Beginner Analisa Dan Desain Struk...,Yudha Lesmana,1,131000.0,131000.0,45850.0,...,108150.0,wa,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
341,2021-03-23,shopee,Milenia Safitri,Jl.Tutul No.10 RT 12 RW 04 Papringan Caturtung...,Produk dari Generasi ke Generasi,Tatbita Titin Suhariyanto & Muhammad Faishal,1,93000.0,93000.0,NaN,...,80530.0,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
342,2021-03-23,shopee,Milenia Safitri,Jl.Tutul No.10 RT 12 RW 04 Papringan Caturtung...,Metode Riset Penelitian Kuantitatif Penelitian...,Slamet Riyanto & Aglis Andhita Hatmawan,1,195000.0,195000.0,NaN,...,195000.0,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
343,2021-03-23,wa,Ulwa Gandes,"SLB YPAC surakarta, jl Slamet Riyadi 364A\n K...",Sport Education For Special Children: Pembelaj...,"Nur Ahmad Muharram, dkk.",1,126500.0,126500.0,NaN,...,131500.0,wa,NaN,wahana,NaN,NaN,NaN,NaN,NaN,NaN
344,NaT,NaN,NaN,NaN,NaN,NaN,476,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
MAR_df2 = MAR_df2.iloc[:-1 , :]

###Memisahkan Kabupaten/Kota dari Alamat

In [87]:
MAR_df2['Alamat '] = MAR_df2['Alamat '].str.upper()
alamat_df = MAR_df2['Alamat ']
alamat_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0      JALAN MALAKA LORONG MEKAR 3 NO.1424, KOTA PALE...
1      PERUMAHAN SAFIRA RESIDENCE BLOK D NO.18-20 JLN...
2      JALAN KUNIR NO 45, RT 03 RW 11, PAJANG, LAWEYA...
3      JL PRAMUKA NO 16, SADAMALUN, RT 003/RW 021. ( ...
4      DIJLN H. AGUSSALIM NO 29 RAHA KECAMATAN KATOBU...
                             ...
339    GRAND DEPOK CITY SEKTOR MELATI BLOK B1/7\n  KE...
340    JL. PUSPIPTEK RAYA, KOMPLEK PURI SERPONG 1, BL...
341    JL.TUTUL NO.10 RT 12 RW 04 PAPRINGAN CATURTUNG...
342    JL.TUTUL NO.10 RT 12 RW 04 PAPRINGAN CATURTUNG...
343    SLB YPAC SURAKARTA, JL SLAMET RIYADI 364A\n  K...
Name: Alamat , Length: 344, dtype: object

In [88]:
def Kab(alamat):
  kabupaten = ""
  if re.search('KABUPATEN/KOTA',alamat) :
    tmp = re.search('KABUPATEN/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB/KOTA',alamat):
    tmp = re.search('KAB/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB',alamat):
    tmp = re.search('KAB',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KOTA',alamat):
    tmp = re.search('KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KABUPATEN',alamat):
    tmp = re.search('KABUPATEN',alamat)
    data_to_find = alamat[tmp.end()::]
  else:
    data_to_find = alamat

  for kab in list_kab:
    if kab in data_to_find:
      kabupaten = kab
      break

  if (kabupaten == ''):
    kabupaten = 'UNDEFINED'
  
  return kabupaten

In [89]:
data_alamat = [Kab(alamat) for alamat in alamat_df.to_list()]

In [90]:
MAR_df2['Kabupaten/Kota'] = data_alamat

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [91]:
MAR_df2

,Tgl Order,Pemesanan,Nama,Alamat,judul buku,Pengarang,jumlah pesanan,harga,jumlah penjualan,discount,...,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon,Kabupaten/Kota
0,2021-02-25,shopee,Rita sagita,"JALAN MALAKA LORONG MEKAR 3 NO.1424, KOTA PALE...",Manajemen Analisis Jabatan,Luis Marnisah & Fakhry Zamzam,1,10000.0,10000.0,NaN,...,shopee,210224RWMGDAY0,j&t,NaN,JP9806310829,NaN,NaN,NaN,NaN,PALEMBANG
1,2021-02-25,shopee,ILZA AH (Sasa),PERUMAHAN SAFIRA RESIDENCE BLOK D NO.18-20 JLN...,Analisis dan Perancangan Sistem Informasi: Pem...,"Maniah, dkk",1,83000.0,83000.0,NaN,...,shopee,210224S1XNN3SH,j&t,NaN,JP6558845714,NaN,NaN,NaN,NaN,SUKOHARJO
2,2021-02-25,shopee,Ita Widyawati,"JALAN KUNIR NO 45, RT 03 RW 11, PAJANG, LAWEYA...",Analisis dan Perancangan Sistem Informasi: Pem...,"Maniah, dkk",1,83000.0,83000.0,NaN,...,shopee,210224S4N9KYFU,j&t,NaN,JP0385799421,NaN,NaN,NaN,NaN,SURAKARTA
3,2021-02-25,shopee,Athaya hasna,"JL PRAMUKA NO 16, SADAMALUN, RT 003/RW 021. ( ...",Manajemen Pendidikan (Teori Dan Praktik Dalam ...,Undang Ruslan Wahyudin,1,98000.0,98000.0,NaN,...,shopee,210224RQYW5PW1,j&t,NaN,JP8598505809,NaN,NaN,NaN,NaN,KARAWANG
4,2021-02-25,shopee,Haeril,DIJLN H. AGUSSALIM NO 29 RAHA KECAMATAN KATOBU...,Etika Profesi Guru,Nurhuda & Agus Baskara,1,71500.0,71500.0,NaN,...,shopee,210224SGY0U2SV,j&t,NaN,JP1850758250,NaN,NaN,NaN,NaN,MUNA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,2021-03-23,wa,Idham,GRAND DEPOK CITY SEKTOR MELATI BLOK B1/7\n KE...,Analisis Dan Desain Penyearah DC Dengan Simula...,Sudirman Syam & Sri Kurniati A.,1,121000.0,121000.0,NaN,...,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,DEPOK
340,2021-03-23,wa,arvianto Eko nugroho,"JL. PUSPIPTEK RAYA, KOMPLEK PURI SERPONG 1, BL...",Handbook For Beginner Analisa Dan Desain Struk...,Yudha Lesmana,1,131000.0,131000.0,45850.0,...,wa,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,TANGERANG SELATAN
341,2021-03-23,shopee,Milenia Safitri,JL.TUTUL NO.10 RT 12 RW 04 PAPRINGAN CATURTUNG...,Produk dari Generasi ke Generasi,Tatbita Titin Suhariyanto & Muhammad Faishal,1,93000.0,93000.0,NaN,...,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,SLEMAN
342,2021-03-23,shopee,Milenia Safitri,JL.TUTUL NO.10 RT 12 RW 04 PAPRINGAN CATURTUNG...,Metode Riset Penelitian Kuantitatif Penelitian...,Slamet Riyanto & Aglis Andhita Hatmawan,1,195000.0,195000.0,NaN,...,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,SLEMAN
343,2021-03-23,wa,Ulwa Gandes,"SLB YPAC SURAKARTA, JL SLAMET RIYADI 364A\n K...",Sport Education For Special Children: Pembelaj...,"Nur Ahmad Muharram, dkk.",1,126500.0,126500.0,NaN,...,wa,NaN,wahana,NaN,NaN,NaN,NaN,NaN,NaN,SURAKARTA

###Manambkan Kolom Provinsi

In [92]:
MAR_df2 = MAR_df2.merge(prov_df, on='Kabupaten/Kota', how='left')

In [93]:
MAR_df2.loc[:,['Kabupaten/Kota', 'Provinsi']]

        Kabupaten/Kota           Provinsi
0            PALEMBANG   SUMATERA SELATAN
1            SUKOHARJO        JAWA TENGAH
2            SURAKARTA        JAWA TENGAH
3             KARAWANG         JAWA BARAT
4                 MUNA  SULAWESI TENGGARA
..                 ...                ...
406              DEPOK         JAWA BARAT
407  TANGERANG SELATAN             BANTEN
408             SLEMAN      DI YOGYAKARTA
409             SLEMAN      DI YOGYAKARTA
410          SURAKARTA        JAWA TENGAH

[411 rows x 2 columns]

## APRIL 2021

###Load Dataset

In [94]:
APR_df2 = pd.read_excel("https://github.com/dickyilhami/Analysis-Book-Sales/blob/main/Dataset/data-order-online-2021-terbaru-ed.xlsx?raw=true", sheet_name = "M.APRIL")
APR_df2

,Tgl Order,Pemesanan,Nama,Alamat,judul buku,Pengarang,jumlah pesanan,harga,jumlah penjualan,discount,...,total,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon
0,2021-03-24,shopee,Sukran,Jln bogowonto RT 11 no 4a Padang harapan kelur...,“Say It” Basic Pronounciation: Melatih Penguca...,"Gunawan Tambunsaribu, S.S., M.Hum.",1,68500.0,68500.0,NaN,...,65533.0,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-03-24,shopee,Hayatullah Kurniadi,"Jl. Uka, garuda Sakti, Panam Perumahan Green T...",Marketing Public Relations –Diantara Penjualan...,Dini Salmiyah Fithrah Ali,1,89000.0,89000.0,NaN,...,85146.0,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-03-24,web,Rima Mardiyani Yunita,Ko. Cisereh RT/RW 02/06 Desa Kadu Jaya Kecamat...,Keterampilan Menulis,Aryanti Agustina dan Dewi Lestari,2,73000.0,146000.0,29200.0,...,130840.0,web,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-03-24,web,Rima Mardiyani Yunita,Ko. Cisereh RT/RW 02/06 Desa Kadu Jaya Kecamat...,Analisis Kesalahan Berbahasa (Sebuah Pendekata...,Mantasiah R. dan Yusri,1,10500.0,105000.0,21000.0,...,84000.0,web,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-03-24,web,Irwan Muslim,Perumahan Salingka Bungo Permai 1 Blok H/7 kec...,"Ekonomi Sumber Daya Manusia, Kemiskinan dan Ke...","Dr. Sitti Rahmawati, S.E., M.Si.",1,136000.0,136000.0,NaN,...,171076.0,web,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,2021-04-21,wa,Rudy Harmanda ato Hj Ipin Supini,Dusun Gintung Tengah no 2 Rt 019/Rw 005\nDesa...,Handbook For Beginner Analisa Dan Desain Struk...,Yudha Lesmana,1,131000.0,131000.0,46500.0,...,101500.0,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN
254,2021-04-21,wa,Nono Prihantono,Bogor Raya Permai FA VI No. 6 RT 001/011 Kel. ...,Pemodelan Implementasi Hukum: Peranan Manajeme...,Nugraha Pranadita,1,61000.0,61000.0,12200.0,...,48800.0,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN
255,2021-04-22,shopee,Dhiana zein,"Firqoh HM Jl. KH Mansyur No.14, Cemandi, kunir...",Pengembangan Model dan Metode Pembelajaran dal...,Darmadi,1,219500.0,219500.0,43900.0,...,169766.0,shopee,NaN,J&t,NaN,NaN,NaN,NaN,NaN,NaN
256,2021-04-22,wa,ibu ana,yogyakarta,Viktimologi dan Sistem Peradilan Pidana,Amira Paripurna … [et al.],1,87000.0,87000.0,21750.0,...,65250.0,wa,NaN,di ambil,NaN,NaN,NaN,NaN,NaN,NaN
257,NaT,NaN,NaN,NaN,NaN,NaN,396,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
APR_df2 = APR_df2.iloc[:-1 , :]

###Memisahkan Kabupaten/Kota dari Alamat

In [96]:
APR_df2['Alamat '] = APR_df2['Alamat '].str.upper()
alamat_df = APR_df2['Alamat ']
alamat_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0      JLN BOGOWONTO RT 11 NO 4A PADANG HARAPAN KELUR...
1      JL. UKA, GARUDA SAKTI, PANAM PERUMAHAN GREEN T...
2      KO. CISEREH RT/RW 02/06 DESA KADU JAYA KECAMAT...
3      KO. CISEREH RT/RW 02/06 DESA KADU JAYA KECAMAT...
4      PERUMAHAN SALINGKA BUNGO PERMAI 1 BLOK H/7 KEC...
                             ...
252    BOGOR RAYA PERMAI FA VI NO. 6 RT 001/011 KEL. ...
253     DUSUN GINTUNG TENGAH NO 2 RT 019/RW 005\nDESA...
254    BOGOR RAYA PERMAI FA VI NO. 6 RT 001/011 KEL. ...
255    FIRQOH HM JL. KH MANSYUR NO.14, CEMANDI, KUNIR...
256                                           YOGYAKARTA
Name: Alamat , Length: 257, dtype: object

In [97]:
def Kab(alamat):
  kabupaten = ""
  if re.search('KABUPATEN/KOTA',alamat) :
    tmp = re.search('KABUPATEN/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB/KOTA',alamat):
    tmp = re.search('KAB/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB',alamat):
    tmp = re.search('KAB',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KOTA',alamat):
    tmp = re.search('KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KABUPATEN',alamat):
    tmp = re.search('KABUPATEN',alamat)
    data_to_find = alamat[tmp.end()::]
  else:
    data_to_find = alamat

  for kab in list_kab:
    if kab in data_to_find:
      kabupaten = kab
      break

  if (kabupaten == ''):
    kabupaten = 'UNDEFINED'
  
  return kabupaten

In [98]:
data_alamat = [Kab(alamat) for alamat in alamat_df.to_list()]

In [99]:
APR_df2['Kabupaten/Kota'] = data_alamat

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [100]:
APR_df2

,Tgl Order,Pemesanan,Nama,Alamat,judul buku,Pengarang,jumlah pesanan,harga,jumlah penjualan,discount,...,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon,Kabupaten/Kota
0,2021-03-24,shopee,Sukran,JLN BOGOWONTO RT 11 NO 4A PADANG HARAPAN KELUR...,“Say It” Basic Pronounciation: Melatih Penguca...,"Gunawan Tambunsaribu, S.S., M.Hum.",1,68500.0,68500.0,NaN,...,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,BENGKULU
1,2021-03-24,shopee,Hayatullah Kurniadi,"JL. UKA, GARUDA SAKTI, PANAM PERUMAHAN GREEN T...",Marketing Public Relations –Diantara Penjualan...,Dini Salmiyah Fithrah Ali,1,89000.0,89000.0,NaN,...,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,PEKANBARU
2,2021-03-24,web,Rima Mardiyani Yunita,KO. CISEREH RT/RW 02/06 DESA KADU JAYA KECAMAT...,Keterampilan Menulis,Aryanti Agustina dan Dewi Lestari,2,73000.0,146000.0,29200.0,...,web,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,TANGERANG
3,2021-03-24,web,Rima Mardiyani Yunita,KO. CISEREH RT/RW 02/06 DESA KADU JAYA KECAMAT...,Analisis Kesalahan Berbahasa (Sebuah Pendekata...,Mantasiah R. dan Yusri,1,10500.0,105000.0,21000.0,...,web,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,TANGERANG
4,2021-03-24,web,Irwan Muslim,PERUMAHAN SALINGKA BUNGO PERMAI 1 BLOK H/7 KEC...,"Ekonomi Sumber Daya Manusia, Kemiskinan dan Ke...","Dr. Sitti Rahmawati, S.E., M.Si.",1,136000.0,136000.0,NaN,...,web,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,PADANG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,2021-04-21,wa,Nono Prihantono,BOGOR RAYA PERMAI FA VI NO. 6 RT 001/011 KEL. ...,Resolusi Konflik Kawasan Hutan: Antara Peran N...,NaN,1,94500.0,94500.0,18900.0,...,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,BOGOR
253,2021-04-21,wa,Rudy Harmanda ato Hj Ipin Supini,DUSUN GINTUNG TENGAH NO 2 RT 019/RW 005\nDESA...,Handbook For Beginner Analisa Dan Desain Struk...,Yudha Lesmana,1,131000.0,131000.0,46500.0,...,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,KARAWANG
254,2021-04-21,wa,Nono Prihantono,BOGOR RAYA PERMAI FA VI NO. 6 RT 001/011 KEL. ...,Pemodelan Implementasi Hukum: Peranan Manajeme...,Nugraha Pranadita,1,61000.0,61000.0,12200.0,...,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,BOGOR
255,2021-04-22,shopee,Dhiana zein,"FIRQOH HM JL. KH MANSYUR NO.14, CEMANDI, KUNIR...",Pengembangan Model dan Metode Pembelajaran dal...,Darmadi,1,219500.0,219500.0,43900.0,...,shopee,NaN,J&t,NaN,NaN,NaN,NaN,NaN,NaN,BLITAR
256,2021-04-22,wa,ibu ana,YOGYAKARTA,Viktimologi dan Sistem Peradilan Pidana,Amira Paripurna … [et al.],1,87000.0,87000.0,21750.0,...,wa,NaN,di ambil,NaN,NaN,NaN,NaN,NaN,NaN,YOGYAKARTA

###Menambakan Kolom Provinsi

In [101]:
APR_df2 = APR_df2.merge(prov_df, on='Kabupaten/Kota', how='left')

In [102]:
APR_df2.loc[:,['Kabupaten/Kota', 'Provinsi']]

    Kabupaten/Kota       Provinsi
0         BENGKULU       BENGKULU
1        PEKANBARU           RIAU
2        TANGERANG         BANTEN
3        TANGERANG         BANTEN
4        TANGERANG         BANTEN
..             ...            ...
298          BOGOR     JAWA BARAT
299          BOGOR     JAWA BARAT
300         BLITAR     JAWA TIMUR
301         BLITAR     JAWA TIMUR
302     YOGYAKARTA  DI YOGYAKARTA

[303 rows x 2 columns]

## MEI 2021

###Load Dataset

In [103]:
MEI_df2 = pd.read_excel("https://github.com/dickyilhami/Analysis-Book-Sales/blob/main/Dataset/data-order-online-2021-terbaru-ed.xlsx?raw=true", sheet_name = "M.MEI")
MEI_df2

,Tgl Order,Pemesanan,Nama,Alamat,judul buku,Pengarang,jumlah pesanan,harga,jumlah penjualan,discount,...,total,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon
0,2021-04-23,shopee,Shinta Oktarina,"Dusun Paloh Paya, Gampong Ulee Gampong, Mutiar...",Studi tentang Muatan Isi Pesan Penelitian Pari...,Usman Chamdani,1,79500.0,79500.0,NaN,...,79500.0,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-04-23,bukalapak,Ohim Irwansyah,"Serpong Garden Green Valley E-7 No. 12 A, Cibo...",Hukum Perbankan Dan Surat Berharga,Rani Apriani dan Hartanto,1,91000.0,91000.0,NaN,...,90545.0,bukalapak,NaN,si cepat,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-04-23,web,marinus pandapotan simbolon,Apartemen BELLAGIO RESIDENCE TOWER A Unit 22AF...,Pemula Next Profesional: Teknik Cepat Detail K...,Phany Wijaya,1,141000.0,141000.0,NaN,...,154054.0,web,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-04-23,shopee,Isna,"Bronggalan Sawah 4J No. 22 , KOTA SURABAYA, TA...","Pembelajaran Puisi, Apresiasi dari Dalam Kelas",Supriyanto,1,121000.0,121000.0,NaN,...,99328.0,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-04-23,shopee,Isna,"Bronggalan Sawah 4J No. 22 , KOTA SURABAYA, TA...",Praktik Penelitian Linguistik,Mulyani,1,149000.0,149000.0,NaN,...,149000.0,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,2021-05-07,wa,ibu ana,yogyakarta,Hukum Tindak Pidana Khusus,"Hartanto, Margo Hadi Pura, Oci Senjaya",1,99500.0,99500.0,24875.0,...,74625.0,wa,NaN,di ambil,NaN,NaN,NaN,NaN,NaN,NaN
103,2021-05-07,wa,Bayu Sulistyo,"Jl Pondok Pesantren No 3,Wisma Anton Soedjarwo...",Teknis Pelaksana Pekerjaan Instalasi Plambing ...,"Salmani, S.T., M.S., M.T.",1,166000.0,166000.0,NaN,...,189000.0,wa,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
104,2021-05-07,shopee,Elsa Emelia Wati,"Jalan manyar III no.66 RT.21,handil jaya,jelut...","Ekstrakurikuler Pendidikan Agama Islam, Konsep...",Syarifuddin K,1,82500.0,82500.0,NaN,...,77880.0,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
105,2021-05-07,wa,Ijaj Maulana,Jl Desa.Neglasari Kp.Sempur RT/RW:01/01\n Kec...,Belajar Membuat Game 2D dan 3D Menggunakan Unity,Siti Asmiatun dan Astrid Novita Putri,1,106500.0,106500.0,NaN,...,136500.0,wa,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
106,NaT,NaN,NaN,NaN,NaN,NaN,124,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
MEI_df2 = MEI_df2.iloc[:-1 , :]

###Memisahkan Kabupaten/Kota dari Alamat

In [105]:
MEI_df2['Alamat '] = MEI_df2['Alamat '].str.upper()
alamat_df = MEI_df2['Alamat ']
alamat_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0      DUSUN PALOH PAYA, GAMPONG ULEE GAMPONG, MUTIAR...
1      SERPONG GARDEN GREEN VALLEY E-7 NO. 12 A, CIBO...
2      APARTEMEN BELLAGIO RESIDENCE TOWER A UNIT 22AF...
3      BRONGGALAN SAWAH 4J NO. 22 , KOTA SURABAYA, TA...
4      BRONGGALAN SAWAH 4J NO. 22 , KOTA SURABAYA, TA...
                             ...
101                                           YOGYAKARTA
102                                           YOGYAKARTA
103    JL PONDOK PESANTREN NO 3,WISMA ANTON SOEDJARWO...
104    JALAN MANYAR III NO.66 RT.21,HANDIL JAYA,JELUT...
105    JL DESA.NEGLASARI KP.SEMPUR RT/RW:01/01\n  KEC...
Name: Alamat , Length: 106, dtype: object

In [106]:
def Kab(alamat):
  kabupaten = ""
  if re.search('KABUPATEN/KOTA',alamat) :
    tmp = re.search('KABUPATEN/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB/KOTA',alamat):
    tmp = re.search('KAB/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB',alamat):
    tmp = re.search('KAB',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KOTA',alamat):
    tmp = re.search('KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KABUPATEN',alamat):
    tmp = re.search('KABUPATEN',alamat)
    data_to_find = alamat[tmp.end()::]
  else:
    data_to_find = alamat

  for kab in list_kab:
    if kab in data_to_find:
      kabupaten = kab
      break

  if (kabupaten == ''):
    kabupaten = 'UNDEFINED'
  
  return kabupaten

In [107]:
data_alamat = [Kab(alamat) for alamat in alamat_df.to_list()]

In [108]:
MEI_df2['Kabupaten/Kota'] = data_alamat

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [109]:
MEI_df2

,Tgl Order,Pemesanan,Nama,Alamat,judul buku,Pengarang,jumlah pesanan,harga,jumlah penjualan,discount,...,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon,Kabupaten/Kota
0,2021-04-23,shopee,Shinta Oktarina,"DUSUN PALOH PAYA, GAMPONG ULEE GAMPONG, MUTIAR...",Studi tentang Muatan Isi Pesan Penelitian Pari...,Usman Chamdani,1,79500.0,79500.0,NaN,...,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,PIDIE
1,2021-04-23,bukalapak,Ohim Irwansyah,"SERPONG GARDEN GREEN VALLEY E-7 NO. 12 A, CIBO...",Hukum Perbankan Dan Surat Berharga,Rani Apriani dan Hartanto,1,91000.0,91000.0,NaN,...,bukalapak,NaN,si cepat,NaN,NaN,NaN,NaN,NaN,NaN,TANGERANG
2,2021-04-23,web,marinus pandapotan simbolon,APARTEMEN BELLAGIO RESIDENCE TOWER A UNIT 22AF...,Pemula Next Profesional: Teknik Cepat Detail K...,Phany Wijaya,1,141000.0,141000.0,NaN,...,web,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,JAKARTA SELATAN
3,2021-04-23,shopee,Isna,"BRONGGALAN SAWAH 4J NO. 22 , KOTA SURABAYA, TA...","Pembelajaran Puisi, Apresiasi dari Dalam Kelas",Supriyanto,1,121000.0,121000.0,NaN,...,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,SURABAYA
4,2021-04-23,shopee,Isna,"BRONGGALAN SAWAH 4J NO. 22 , KOTA SURABAYA, TA...",Praktik Penelitian Linguistik,Mulyani,1,149000.0,149000.0,NaN,...,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,SURABAYA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,2021-05-07,wa,ibu ana,YOGYAKARTA,Palu Hakim Versus Rasa Keadilan Sebuah Pengant...,"Hamidah Abdurrachman, Rahmad Agung Nugraha & N...",1,84000.0,84000.0,61000.0,...,wa,NaN,di ambil,NaN,NaN,NaN,NaN,NaN,NaN,YOGYAKARTA
102,2021-05-07,wa,ibu ana,YOGYAKARTA,Hukum Tindak Pidana Khusus,"Hartanto, Margo Hadi Pura, Oci Senjaya",1,99500.0,99500.0,24875.0,...,wa,NaN,di ambil,NaN,NaN,NaN,NaN,NaN,NaN,YOGYAKARTA
103,2021-05-07,wa,Bayu Sulistyo,"JL PONDOK PESANTREN NO 3,WISMA ANTON SOEDJARWO...",Teknis Pelaksana Pekerjaan Instalasi Plambing ...,"Salmani, S.T., M.S., M.T.",1,166000.0,166000.0,NaN,...,wa,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,DEPOK
104,2021-05-07,shopee,Elsa Emelia Wati,"JALAN MANYAR III NO.66 RT.21,HANDIL JAYA,JELUT...","Ekstrakurikuler Pendidikan Agama Islam, Konsep...",Syarifuddin K,1,82500.0,82500.0,NaN,...,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,JAMBI
105,2021-05-07,wa,Ijaj Maulana,JL DESA.NEGLASARI KP.SEMPUR RT/RW:01/01\n KEC...,Belajar Membuat Game 2D dan 3D Menggunakan Unity,Siti Asmiatun dan Astrid Novita Putri,1,106500.0,106500.0,NaN,...,wa,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,TASIKMALAYA

###Menambahkan Kolom Provinsi

In [110]:
MEI_df2 = MEI_df2.merge(prov_df, on='Kabupaten/Kota', how='left')

In [111]:
MEI_df2.loc[:,['Kabupaten/Kota', 'Provinsi']]

      Kabupaten/Kota       Provinsi
0              PIDIE           ACEH
1          TANGERANG         BANTEN
2          TANGERANG         BANTEN
3    JAKARTA SELATAN    DKI JAKARTA
4           SURABAYA     JAWA TIMUR
..               ...            ...
123       YOGYAKARTA  DI YOGYAKARTA
124            DEPOK     JAWA BARAT
125            JAMBI          JAMBI
126      TASIKMALAYA     JAWA BARAT
127      TASIKMALAYA     JAWA BARAT

[128 rows x 2 columns]

## JUNI 2021

###Load Dataset

In [112]:
JUN_df2 = pd.read_excel("https://github.com/dickyilhami/Analysis-Book-Sales/blob/main/Dataset/data-order-online-2021-terbaru-ed.xlsx?raw=true", sheet_name = "M.JUNI")
JUN_df2

,Tgl Order,Pemesanan,Nama,Alamat,judul buku,Pengarang,jumlah pesanan,harga,jumlah penjualan,discount,...,total,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon
0,2021-05-24,shopee,Yeni Apriani,Indomaret jalan Laswi Baleendah RT.03/RW.07 de...,Kepemimpinan Pemerintahan Indonesia: Teori dan...,Rendy Adiwilaga,1,84000.0,84000.0,NaN,...,79296,shopee,NaN,si cepat,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-05-24,shopee,Oby Ismail Marzuki,"Jalan Danau elok VI b1 n1, Rt 03 Rw 13 belakan...","Filsafat Kebahagiaan (Plato, Aristoteles, Al-G...",Rusfian Effendi,1,62500.0,62500.0,NaN,...,59000,shopee,NaN,si cepat,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-05-24,shopee,Deta,"Kantor DPP PKB , KOTA JAKARTA PUSAT, SENEN, DK...","Politik, Partai Politik, dan Perempuan Frontst...",Imron Wasi,1,92000.0,92000.0,NaN,...,86848,shopee,NaN,si cepat,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-05-24,tokopedia,IRON TUAMAIN - RORI,RUMAH SUSUN TANAH ABANG Blok 39 Lantai 4 no. 4...,Implementasi Kebijakan Persampahan : Pengaruh ...,Alwi Smith,1,96500.0,96500.0,NaN,...,116000,tokopedia,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-05-24,bukalapak,Novita Majid,"Jalan sultan hasanuddin, Badak 4, Rt.15, No.71...",Pendidikan Kewarganegaraan: Perjuangan Membent...,Josef M Monteiro,1,76500.0,76500.0,15300.0,...,60894,bukalapak,NaN,si cepat,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,2021-06-23,wa,boy hidayat,Perumahan Grand Riscon Padjajaran Blok E8/No.2...,Khazanah Negeri Pantun,Rendra Setyadiharja,1,211000.0,211000.0,63300.0,...,147700,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN
242,2021-06-23,wa,boy hidayat,Perumahan Grand Riscon Padjajaran Blok E8/No.2...,Morfologi Bahasa Indonesia,Jusrin Efendi Pohan,1,151000.0,151000.0,45300.0,...,105700,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN
243,2021-06-23,wa,boy hidayat,Perumahan Grand Riscon Padjajaran Blok E8/No.2...,Kumpulan Esai Anak-Anak Sungai: Sketsa Masyara...,"Audra Maidah Hasanah, dkk",1,90000.0,90000.0,27000.0,...,63000,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN
244,2021-06-23,wa,boy hidayat,Perumahan Grand Riscon Padjajaran Blok E8/No.2...,"Islam dan Adat, Keteguhan Adat dalam Kepatuhan...","Ismail Suardi Wekke, Rosdalina Bukido dan Nam ...",1,111500.0,111500.0,33450.0,...,78050,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN
245,NaT,NaN,NaN,NaN,NaN,NaN,376,NaN,NaN,NaN,...,31119725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [113]:
JUN_df2 = JUN_df2.iloc[:-1 , :]

###Memisahkan Kabupaten/Kota dari Alamat

In [114]:
JUN_df2['Alamat ']=JUN_df2['Alamat '].apply(str)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [115]:
JUN_df2['Alamat '] = JUN_df2['Alamat '].str.upper()
alamat_df = JUN_df2['Alamat ']
alamat_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0      INDOMARET JALAN LASWI BALEENDAH RT.03/RW.07 DE...
1      JALAN DANAU ELOK VI B1 N1, RT 03 RW 13 BELAKAN...
2      KANTOR DPP PKB , KOTA JAKARTA PUSAT, SENEN, DK...
3      RUMAH SUSUN TANAH ABANG BLOK 39 LANTAI 4 NO. 4...
4      JALAN SULTAN HASANUDDIN, BADAK 4, RT.15, NO.71...
                             ...
240    PERUMAHAN GRAND RISCON PADJAJARAN BLOK E8/NO.2...
241    PERUMAHAN GRAND RISCON PADJAJARAN BLOK E8/NO.2...
242    PERUMAHAN GRAND RISCON PADJAJARAN BLOK E8/NO.2...
243    PERUMAHAN GRAND RISCON PADJAJARAN BLOK E8/NO.2...
244    PERUMAHAN GRAND RISCON PADJAJARAN BLOK E8/NO.2...
Name: Alamat , Length: 245, dtype: object

In [116]:
def Kab(alamat):
  kabupaten = ""
  if re.search('KABUPATEN/KOTA',alamat) :
    tmp = re.search('KABUPATEN/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB/KOTA',alamat):
    tmp = re.search('KAB/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB',alamat):
    tmp = re.search('KAB',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KOTA',alamat):
    tmp = re.search('KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KABUPATEN',alamat):
    tmp = re.search('KABUPATEN',alamat)
    data_to_find = alamat[tmp.end()::]
  else:
    data_to_find = alamat

  for kab in list_kab:
    if kab in data_to_find:
      kabupaten = kab
      break

  if (kabupaten == ''):
    kabupaten = 'UNDEFINED'
  
  return kabupaten

In [117]:
data_alamat = [Kab(alamat) for alamat in alamat_df.to_list()]

In [118]:
JUN_df2['Kabupaten/Kota'] = data_alamat

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [119]:
JUN_df2

,Tgl Order,Pemesanan,Nama,Alamat,judul buku,Pengarang,jumlah pesanan,harga,jumlah penjualan,discount,...,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon,Kabupaten/Kota
0,2021-05-24,shopee,Yeni Apriani,INDOMARET JALAN LASWI BALEENDAH RT.03/RW.07 DE...,Kepemimpinan Pemerintahan Indonesia: Teori dan...,Rendy Adiwilaga,1,84000.0,84000.0,NaN,...,shopee,NaN,si cepat,NaN,NaN,NaN,NaN,NaN,NaN,BANDUNG
1,2021-05-24,shopee,Oby Ismail Marzuki,"JALAN DANAU ELOK VI B1 N1, RT 03 RW 13 BELAKAN...","Filsafat Kebahagiaan (Plato, Aristoteles, Al-G...",Rusfian Effendi,1,62500.0,62500.0,NaN,...,shopee,NaN,si cepat,NaN,NaN,NaN,NaN,NaN,NaN,JAKARTA UTARA
2,2021-05-24,shopee,Deta,"KANTOR DPP PKB , KOTA JAKARTA PUSAT, SENEN, DK...","Politik, Partai Politik, dan Perempuan Frontst...",Imron Wasi,1,92000.0,92000.0,NaN,...,shopee,NaN,si cepat,NaN,NaN,NaN,NaN,NaN,NaN,JAKARTA PUSAT
3,2021-05-24,tokopedia,IRON TUAMAIN - RORI,RUMAH SUSUN TANAH ABANG BLOK 39 LANTAI 4 NO. 4...,Implementasi Kebijakan Persampahan : Pengaruh ...,Alwi Smith,1,96500.0,96500.0,NaN,...,tokopedia,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,JAKARTA PUSAT
4,2021-05-24,bukalapak,Novita Majid,"JALAN SULTAN HASANUDDIN, BADAK 4, RT.15, NO.71...",Pendidikan Kewarganegaraan: Perjuangan Membent...,Josef M Monteiro,1,76500.0,76500.0,15300.0,...,bukalapak,NaN,si cepat,NaN,NaN,NaN,NaN,NaN,NaN,KUTAI KARTANEGARA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,2021-06-23,wa,boy hidayat,PERUMAHAN GRAND RISCON PADJAJARAN BLOK E8/NO.2...,Nasionalisme Syiah Indonesia (Sebuah Kajian Ko...,Muhammad Reza,1,142000.0,142000.0,42600.0,...,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,BOGOR
241,2021-06-23,wa,boy hidayat,PERUMAHAN GRAND RISCON PADJAJARAN BLOK E8/NO.2...,Khazanah Negeri Pantun,Rendra Setyadiharja,1,211000.0,211000.0,63300.0,...,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,BOGOR
242,2021-06-23,wa,boy hidayat,PERUMAHAN GRAND RISCON PADJAJARAN BLOK E8/NO.2...,Morfologi Bahasa Indonesia,Jusrin Efendi Pohan,1,151000.0,151000.0,45300.0,...,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,BOGOR
243,2021-06-23,wa,boy hidayat,PERUMAHAN GRAND RISCON PADJAJARAN BLOK E8/NO.2...,Kumpulan Esai Anak-Anak Sungai: Sketsa Masyara...,"Audra Maidah Hasanah, dkk",1,90000.0,90000.0,27000.0,...,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,BOGOR
244,2021-06-23,wa,boy hidayat,PERUMAHAN GRAND RISCON PADJAJARAN BLOK E8/NO.2...,"Islam dan Adat, Keteguhan Adat dalam Kepatuhan...","Ismail Suardi Wekke, Rosdalina Bukido dan Nam ...",1,111500.0,111500.0,33450.0,...,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,BOGOR

###Menambahkan Kolom Provinsi

In [120]:
JUN_df2 = JUN_df2.merge(prov_df, on='Kabupaten/Kota', how='left')

In [121]:
JUN_df2.loc[:,['Kabupaten/Kota', 'Provinsi']]

    Kabupaten/Kota     Provinsi
0          BANDUNG   JAWA BARAT
1          BANDUNG   JAWA BARAT
2    JAKARTA UTARA  DKI JAKARTA
3    JAKARTA PUSAT  DKI JAKARTA
4    JAKARTA PUSAT  DKI JAKARTA
..             ...          ...
293          BOGOR   JAWA BARAT
294          BOGOR   JAWA BARAT
295          BOGOR   JAWA BARAT
296          BOGOR   JAWA BARAT
297          BOGOR   JAWA BARAT

[298 rows x 2 columns]

## JULI 2021

###Load Dataset

In [122]:
JULI_df2 = pd.read_excel("https://github.com/dickyilhami/Analysis-Book-Sales/blob/main/Dataset/data-order-online-2021-terbaru-ed.xlsx?raw=true", sheet_name = "M.JULI")
JULI_df2

,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,discount,...,total,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon
0,2021-06-24,shopee,Cucu siti,"Kp. Cijambe kulon rt 2 rw 8 no 67 , desa cinu...",Sistem Informasi Akuntansi Dengan Pendekatan S...,Taufan Adi Kurniawan,1,83000.0,83000.0,NaN,...,65164.0,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-06-24,shopee,Cucu siti,"Kp. Cijambe kulon rt 2 rw 8 no 67 , desa cinu...",Praktikum Sistem Informasi Akuntansi,Rika Suprapty,1,77000.0,77000.0,NaN,...,77000.0,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-06-24,shopee,Cucu siti,"Kp. Cijambe kulon rt 2 rw 8 no 67 , desa cinu...",Sistem Informasi Akuntansi (Beserta Contoh Pen...,Kurnia Cahya Lestari dan Arni Muarifah Amri,1,51500.0,51500.0,NaN,...,51500.0,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-06-24,shopee,Cucu siti,"Kp. Cijambe kulon rt 2 rw 8 no 67 , desa cinu...",Analisis dan Perancangan Sistem Informasi: Pem...,"Maniah, dkk",1,107000.0,107000.0,NaN,...,107000.0,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-06-24,shopee,denny suci kurnia,perumahan greenery permai blok f9 bojong gede ...,Ekspor Impor: Teori dan Praktikum Kegiatan Eks...,Edi Supardi,1,192500.0,192500.0,38500.0,...,150376.0,shopee,NaN,si cepat,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,2021-07-22,wa,Kurnia Putri,Taman Hijau No 371 Lippo Karawaci\n Kecamatan...,English For Mathematics Education,Zahra Chairani & Indah Budiarti,1,62500.0,62500.0,NaN,...,62500.0,wa,NaN,wahana,NaN,NaN,NaN,NaN,NaN,NaN
252,2021-07-22,wa,Rochimah,"Nerada Estate blok C 2 no.11, Cipayung - Ciput...","Politik, Partai Politik, dan Perempuan Frontst...",Imron Wasi,1,92000.0,92000.0,NaN,...,99000.0,wa,NaN,wahana,NaN,NaN,NaN,NaN,NaN,NaN
253,2021-07-22,wa,Harry,"jl ancol timur 14 no 20, kota Bandung 40254\n ...",Pengantar Teori Film,Muhammad Ali Mursid Alfathoni & Dani Manesah,1,70000.0,70000.0,NaN,...,87000.0,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN
254,2021-07-22,wa,ER Febri Angelina Nur,"Kontrakan belakang Kos Oren, Masjid Al Huda, J...",Panduan Konseling Kesehatan Dalam Upaya Penceg...,"Lufthiani, Evi Karota dan Nunung Febriany Sitepu",2,81000.0,162000.0,NaN,...,169000.0,wa,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
255,NaT,NaN,NaN,NaN,NaN,NaN,334,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [123]:
JULI_df2 = JULI_df2.iloc[:-1 , :]

###Memisahkan Kabupaten/Kota dari Alamat

In [124]:
JULI_df2['Alamat '] = JULI_df2['Alamat '].str.upper()
alamat_df = JULI_df2['Alamat ']
alamat_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0       KP. CIJAMBE KULON RT 2 RW 8 NO 67 , DESA CINU...
1       KP. CIJAMBE KULON RT 2 RW 8 NO 67 , DESA CINU...
2       KP. CIJAMBE KULON RT 2 RW 8 NO 67 , DESA CINU...
3       KP. CIJAMBE KULON RT 2 RW 8 NO 67 , DESA CINU...
4      PERUMAHAN GREENERY PERMAI BLOK F9 BOJONG GEDE ...
                             ...
250     JL. JATIPADANG RAYA GG NURUL IMAN RT 06 RW 03...
251    TAMAN HIJAU NO 371 LIPPO KARAWACI\n  KECAMATAN...
252    NERADA ESTATE BLOK C 2 NO.11, CIPAYUNG - CIPUT...
253    JL ANCOL TIMUR 14 NO 20, KOTA BANDUNG 40254\n ...
254    KONTRAKAN BELAKANG KOS OREN, MASJID AL HUDA, J...
Name: Alamat , Length: 255, dtype: object

In [125]:
def Kab(alamat):
  kabupaten = ""
  if re.search('KABUPATEN/KOTA',alamat) :
    tmp = re.search('KABUPATEN/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB/KOTA',alamat):
    tmp = re.search('KAB/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB',alamat):
    tmp = re.search('KAB',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KOTA',alamat):
    tmp = re.search('KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KABUPATEN',alamat):
    tmp = re.search('KABUPATEN',alamat)
    data_to_find = alamat[tmp.end()::]
  else:
    data_to_find = alamat

  for kab in list_kab:
    if kab in data_to_find:
      kabupaten = kab
      break

  if (kabupaten == ''):
    kabupaten = 'UNDEFINED'
  
  return kabupaten

In [126]:
data_alamat = [Kab(alamat) for alamat in alamat_df.to_list()]

In [127]:
JULI_df2['Kabupaten/Kota'] = data_alamat

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [128]:
JULI_df2

,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,discount,...,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon,Kabupaten/Kota
0,2021-06-24,shopee,Cucu siti,"KP. CIJAMBE KULON RT 2 RW 8 NO 67 , DESA CINU...",Sistem Informasi Akuntansi Dengan Pendekatan S...,Taufan Adi Kurniawan,1,83000.0,83000.0,NaN,...,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,BANDUNG
1,2021-06-24,shopee,Cucu siti,"KP. CIJAMBE KULON RT 2 RW 8 NO 67 , DESA CINU...",Praktikum Sistem Informasi Akuntansi,Rika Suprapty,1,77000.0,77000.0,NaN,...,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,BANDUNG
2,2021-06-24,shopee,Cucu siti,"KP. CIJAMBE KULON RT 2 RW 8 NO 67 , DESA CINU...",Sistem Informasi Akuntansi (Beserta Contoh Pen...,Kurnia Cahya Lestari dan Arni Muarifah Amri,1,51500.0,51500.0,NaN,...,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,BANDUNG
3,2021-06-24,shopee,Cucu siti,"KP. CIJAMBE KULON RT 2 RW 8 NO 67 , DESA CINU...",Analisis dan Perancangan Sistem Informasi: Pem...,"Maniah, dkk",1,107000.0,107000.0,NaN,...,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,BANDUNG
4,2021-06-24,shopee,denny suci kurnia,PERUMAHAN GREENERY PERMAI BLOK F9 BOJONG GEDE ...,Ekspor Impor: Teori dan Praktikum Kegiatan Eks...,Edi Supardi,1,192500.0,192500.0,38500.0,...,shopee,NaN,si cepat,NaN,NaN,NaN,NaN,NaN,NaN,BOGOR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,2021-07-22,wa,venty hartiny,JL. JATIPADANG RAYA GG NURUL IMAN RT 06 RW 03...,Wetan Kali Kulon Kali Mengenang Kabupaten Kara...,Teguh Hindarto,2,127000.0,254000.0,63500.0,...,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,JAKARTA SELATAN
251,2021-07-22,wa,Kurnia Putri,TAMAN HIJAU NO 371 LIPPO KARAWACI\n KECAMATAN...,English For Mathematics Education,Zahra Chairani & Indah Budiarti,1,62500.0,62500.0,NaN,...,wa,NaN,wahana,NaN,NaN,NaN,NaN,NaN,NaN,TANGERANG
252,2021-07-22,wa,Rochimah,"NERADA ESTATE BLOK C 2 NO.11, CIPAYUNG - CIPUT...","Politik, Partai Politik, dan Perempuan Frontst...",Imron Wasi,1,92000.0,92000.0,NaN,...,wa,NaN,wahana,NaN,NaN,NaN,NaN,NaN,NaN,TANGERANG
253,2021-07-22,wa,Harry,"JL ANCOL TIMUR 14 NO 20, KOTA BANDUNG 40254\n ...",Pengantar Teori Film,Muhammad Ali Mursid Alfathoni & Dani Manesah,1,70000.0,70000.0,NaN,...,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,BANDUNG
254,2021-07-22,wa,ER Febri Angelina Nur,"KONTRAKAN BELAKANG KOS OREN, MASJID AL HUDA, J...",Panduan Konseling Kesehatan Dalam Upaya Penceg...,"Lufthiani, Evi Karota dan Nunung Febriany Sitepu",2,81000.0,162000.0,NaN,...,wa,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,SLEMAN

###Menambahkan Kolom Provinsi

In [129]:
JULI_df2 = JULI_df2.merge(prov_df, on='Kabupaten/Kota', how='left')

In [130]:
JULI_df2.loc[:,['Kabupaten/Kota', 'Provinsi']]

    Kabupaten/Kota       Provinsi
0          BANDUNG     JAWA BARAT
1          BANDUNG     JAWA BARAT
2          BANDUNG     JAWA BARAT
3          BANDUNG     JAWA BARAT
4          BANDUNG     JAWA BARAT
..             ...            ...
328      TANGERANG         BANTEN
329      TANGERANG         BANTEN
330        BANDUNG     JAWA BARAT
331        BANDUNG     JAWA BARAT
332         SLEMAN  DI YOGYAKARTA

[333 rows x 2 columns]

##AGUSTUS 2021

###Load Dataset

In [131]:
AGUS_df2 = pd.read_excel("https://github.com/dickyilhami/Analysis-Book-Sales/blob/main/Dataset/data-order-online-2021-terbaru-ed.xlsx?raw=true", sheet_name = "M.AGUSTUS")
AGUS_df2

,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,discount,...,total,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon
0,2021-07-23,shopee,Helda,"Jl pangeran RT 5 no 46, KOTA BANJARMASIN, BANJ...",Rangkuman Pengantar Pengetahuan Dasar Pekerjaa...,Didi Nooryadi,1,94000.0,94000.0,NaN,...,88736.0,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-07-23,bukalapak,Arsdo Simatupang,"Taman Modern Jln. Sakura Blok E. 5 No. 27, Cak...",Manajemen Operasional,Mohammad Zainul,1,70000.0,70000.0,14000.0,...,56000.0,bukalapak,NaN,si cepat,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-07-23,wa,Delfta Tunjung Baswarani,bu Siti Djahro (Ibu Makin) Jl. kolonel sugiono...,Perencanaan Pengembangan Daerah Tujuan Pariwisata,Mohamad Ridwan & Windra Aini,1,71000.0,71000.0,NaN,...,88000.0,wa,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-07-26,shopee,R. Shelma,"Komp Bumi Rancamanyar No.57, RT 03/RW 11, Desa...",Komunikasi Pemasaran Terintegrasi,Edy Yulianto,1,158000.0,158000.0,NaN,...,149152.0,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-07-26,wa,aries,yogyakarta,Pemodelan Sistem Drainase Perkotaan Menggunaka...,M. Baitullah Al Amin,1,101000.0,101000.0,NaN,...,101000.0,wa,NaN,di ambil,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,2021-08-23,shopee,Melinda Mega,"Desa Jatirejo, Dusun Mijil, RT.1/RW.5, Jatirej...",Pengaturan Kewenangan KPK dan Polri dalam Peny...,Rudy Cahya Kurniawan,1,79000.0,79000.0,15800.0,...,60661.0,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
326,2021-08-23,shopee,amal faradis,jl. patimura komplek wisma bunga blok C11 Rt 5...,Efektivitas Pengawasan Pendidikan Islam; Menuj...,Samsudin Siregar,1,86000.0,86000.0,17200.0,...,64947.0,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
327,2021-08-23,shopee,Afifah,"Perum. Sapphire Residence Karangwangkal, Zamru...",Perdagangan Internasional,Wahono Diphayana,1,105000.0,105000.0,NaN,...,105120.0,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
328,2021-08-23,web,Metta,"Jalan dara raya blok DG 8 no 10, RT/RW 001/011...",Menyusun dan Menandatangani Naskah Dinas: 4 Je...,Khalid Efendi,5,101000.0,505000.0,NaN,...,522005.0,web,NaN,wahana,NaN,NaN,NaN,NaN,NaN,NaN
329,NaT,NaN,NaN,NaN,NaN,NaN,436,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [132]:
AGUS_df2 = AGUS_df2.iloc[:-1 , :]

###Memisahkan Kabupaten/Kota dari Alamat

In [133]:
AGUS_df2['Alamat '] = AGUS_df2['Alamat '].str.upper()
alamat_df = AGUS_df2['Alamat ']
alamat_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0      JL PANGERAN RT 5 NO 46, KOTA BANJARMASIN, BANJ...
1      TAMAN MODERN JLN. SAKURA BLOK E. 5 NO. 27, CAK...
2      BU SITI DJAHRO (IBU MAKIN) JL. KOLONEL SUGIONO...
3      KOMP BUMI RANCAMANYAR NO.57, RT 03/RW 11, DESA...
4                                             YOGYAKARTA
                             ...
324    JL ANGKREK NO.117, PANGADUAN HEUBEUL, SUMEDANG...
325    DESA JATIREJO, DUSUN MIJIL, RT.1/RW.5, JATIREJ...
326    JL. PATIMURA KOMPLEK WISMA BUNGA BLOK C11 RT 5...
327    PERUM. SAPPHIRE RESIDENCE KARANGWANGKAL, ZAMRU...
328    JALAN DARA RAYA BLOK DG 8 NO 10, RT/RW 001/011...
Name: Alamat , Length: 329, dtype: object

In [134]:
def Kab(alamat):
  kabupaten = ""
  if re.search('KABUPATEN/KOTA',alamat) :
    tmp = re.search('KABUPATEN/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB/KOTA',alamat):
    tmp = re.search('KAB/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KOTA',alamat):
    tmp = re.search('KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KABUPATEN',alamat):
    tmp = re.search('KABUPATEN',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB',alamat):
    tmp = re.search('KAB',alamat)
    data_to_find = alamat[tmp.end()::]
  else:
    data_to_find = alamat

  for kab in list_kab:
    if kab in data_to_find:
      kabupaten = kab
      break

  if (kabupaten == ''):
    kabupaten = 'UNDEFINED'
  
  return kabupaten

In [135]:
data_alamat = [Kab(alamat) for alamat in alamat_df.to_list()]

In [136]:
AGUS_df2['Kabupaten/Kota'] = data_alamat

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [137]:
AGUS_df2

,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,discount,...,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon,Kabupaten/Kota
0,2021-07-23,shopee,Helda,"JL PANGERAN RT 5 NO 46, KOTA BANJARMASIN, BANJ...",Rangkuman Pengantar Pengetahuan Dasar Pekerjaa...,Didi Nooryadi,1,94000.0,94000.0,NaN,...,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,BANJARMASIN
1,2021-07-23,bukalapak,Arsdo Simatupang,"TAMAN MODERN JLN. SAKURA BLOK E. 5 NO. 27, CAK...",Manajemen Operasional,Mohammad Zainul,1,70000.0,70000.0,14000.0,...,bukalapak,NaN,si cepat,NaN,NaN,NaN,NaN,NaN,NaN,JAKARTA TIMUR
2,2021-07-23,wa,Delfta Tunjung Baswarani,BU SITI DJAHRO (IBU MAKIN) JL. KOLONEL SUGIONO...,Perencanaan Pengembangan Daerah Tujuan Pariwisata,Mohamad Ridwan & Windra Aini,1,71000.0,71000.0,NaN,...,wa,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,PEMALANG
3,2021-07-26,shopee,R. Shelma,"KOMP BUMI RANCAMANYAR NO.57, RT 03/RW 11, DESA...",Komunikasi Pemasaran Terintegrasi,Edy Yulianto,1,158000.0,158000.0,NaN,...,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,BANDUNG
4,2021-07-26,wa,aries,YOGYAKARTA,Pemodelan Sistem Drainase Perkotaan Menggunaka...,M. Baitullah Al Amin,1,101000.0,101000.0,NaN,...,wa,NaN,di ambil,NaN,NaN,NaN,NaN,NaN,NaN,YOGYAKARTA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324,2021-08-23,bukalapak,Silvia Nur,"JL ANGKREK NO.117, PANGADUAN HEUBEUL, SUMEDANG...",Pemula Next Profesional: Teknik Cepat Detail K...,Phany Wijaya,1,129000.0,129000.0,25800.0,...,bukalapak,NaN,si cepat,NaN,NaN,NaN,NaN,NaN,NaN,SUMEDANG
325,2021-08-23,shopee,Melinda Mega,"DESA JATIREJO, DUSUN MIJIL, RT.1/RW.5, JATIREJ...",Pengaturan Kewenangan KPK dan Polri dalam Peny...,Rudy Cahya Kurniawan,1,79000.0,79000.0,15800.0,...,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,KENDAL
326,2021-08-23,shopee,amal faradis,JL. PATIMURA KOMPLEK WISMA BUNGA BLOK C11 RT 5...,Efektivitas Pengawasan Pendidikan Islam; Menuj...,Samsudin Siregar,1,86000.0,86000.0,17200.0,...,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,JAMBI
327,2021-08-23,shopee,Afifah,"PERUM. SAPPHIRE RESIDENCE KARANGWANGKAL, ZAMRU...",Perdagangan Internasional,Wahono Diphayana,1,105000.0,105000.0,NaN,...,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,BANYUMAS
328,2021-08-23,web,Metta,"JALAN DARA RAYA BLOK DG 8 NO 10, RT/RW 001/011...",Menyusun dan Menandatangani Naskah Dinas: 4 Je...,Khalid Efendi,5,101000.0,505000.0,NaN,...,web,NaN,wahana,NaN,NaN,NaN,NaN,NaN,NaN,DEPOK

###Menambahkan Kolom Provinsi

In [138]:
AGUS_df2 = AGUS_df2.merge(prov_df, on='Kabupaten/Kota', how='left')

In [139]:
AGUS_df2.loc[:,['Kabupaten/Kota', 'Provinsi']]

    Kabupaten/Kota            Provinsi
0      BANJARMASIN  KALIMANTAN SELATAN
1    JAKARTA TIMUR         DKI JAKARTA
2         PEMALANG         JAWA TENGAH
3          BANDUNG          JAWA BARAT
4          BANDUNG          JAWA BARAT
..             ...                 ...
381       SUMEDANG          JAWA BARAT
382         KENDAL         JAWA TENGAH
383          JAMBI               JAMBI
384       BANYUMAS         JAWA TENGAH
385          DEPOK          JAWA BARAT

[386 rows x 2 columns]

## SEPTEMBER 2021

###Load Dataset

In [140]:
SEPT_df2 = pd.read_excel("https://github.com/dickyilhami/Analysis-Book-Sales/blob/main/Dataset/data-order-online-2021-terbaru-ed.xlsx?raw=true", sheet_name = "M.SEPTEMBER")
SEPT_df2

,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,discount,...,total,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon
0,2021-08-24,shopee,Dyla Putri Salsabila,"Graha bukit raya 3 blok E3 no 31 , KAB. BANDUN...",Dokumen Fasilitas perjalanan,Hari Rachmadi,1,87000.0,87000.0,17400.0,...,65702,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-08-24,shopee,Dyah ayu,"Gedawang pesona asri blok B no.7A rt 02/07, KO...",Nutrisi dan Metabolisme Ikan Kerapu Macan,"Dr. Ir. Zainuddin, M.Si.",1,64500.0,64500.0,NaN,...,60888,shopee,NaN,si cepat,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-08-24,shopee,Sherly Oktarianti / Ibu sus,"Jl. Selat panjang GG. Wartawan 3 no. 08, KOTA ...",Modul Identifikasi Cendawan Penyebab Penyakit ...,Nuryani Dewi Permana dan Ummu Salamah Rustiani,1,62000.0,62000.0,12400.0,...,46856,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-08-24,tokopedia,ladia Rimba Angkasa Sumarwan,"Nyaen, Pandowoharjo, Kec. Sleman, Kabupaten Sl...",Pemula Next Profesional: Teknik Cepat Detail K...,Phany Wijaya,1,129000.0,129000.0,NaN,...,134600,tokopedia,NaN,si cepat,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-08-24,tokopedia,Fatma fatimah,villa grandys blok D3 jl persahabatan 7 rt.10 ...,Buku Ajar Ekonomi Internasional,Ridwan Maronrong,1,74000.0,74000.0,30000.0,...,52400,tokopedia,NaN,wahana,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,2021-09-23,tokopedia,Ismu Bahaiduri,"Villa Serpong, Jalan kencana VIII Blok C.8 Nom...",Judicial Activism,Safri Abdullah,2,57000.0,114000.0,NaN,...,114600,tokopedia,NaN,anter aja,NaN,NaN,NaN,NaN,NaN,NaN
476,2021-09-23,wa,PAJAK ITU MUDAH STORE,bogor,Screening Your Tax Case & Measure Your Positio...,"Addy Tampubolon, S.H., M.H.\nZulham Al Farizi...",6,109200.0,655200.0,NaN,...,655200,wa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
477,2021-09-23,wa,PAJAK ITU MUDAH STORE,bogor,Pajak Internasional,Kartika Putri Kumalasari\nNurlita Sukma Alfandia,1,88500.0,88500.0,NaN,...,88500,wa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
478,2021-09-23,wa,PAJAK ITU MUDAH STORE,bogor,"Pajak Lalu Lintas Barang (Kepabeanan, Ekspor, ...","Astri Warih Anjarwi, S.E., M.S.A., Ak., CA.",1,81200.0,81200.0,NaN,...,81200,wa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
479,NaT,NaN,NaN,NaN,NaN,NaN,686,NaN,NaN,NaN,...,54328575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [141]:
SEPT_df2 = SEPT_df2.iloc[:-1 , :]

###Memisahkan Kabupaten/Kota dari Alamat

In [142]:
SEPT_df2['Alamat '] = SEPT_df2['Alamat '].str.upper()
alamat_df = SEPT_df2['Alamat ']
alamat_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0      GRAHA BUKIT RAYA 3 BLOK E3 NO 31 , KAB. BANDUN...
1      GEDAWANG PESONA ASRI BLOK B NO.7A RT 02/07, KO...
2      JL. SELAT PANJANG GG. WARTAWAN 3 NO. 08, KOTA ...
3      NYAEN, PANDOWOHARJO, KEC. SLEMAN, KABUPATEN SL...
4      VILLA GRANDYS BLOK D3 JL PERSAHABATAN 7 RT.10 ...
                             ...
474    AKADEMI KESEHATAN JOHN PAUL II\nJL. PERMATA I ...
475    VILLA SERPONG, JALAN KENCANA VIII BLOK C.8 NOM...
476                                                BOGOR
477                                                BOGOR
478                                                BOGOR
Name: Alamat , Length: 479, dtype: object

In [143]:
def Kab(alamat):
  kabupaten = ""
  if re.search('KABUPATEN/KOTA',alamat) :
    tmp = re.search('KABUPATEN/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB/KOTA',alamat):
    tmp = re.search('KAB/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB',alamat):
    tmp = re.search('KAB',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KOTA',alamat):
    tmp = re.search('KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KABUPATEN',alamat):
    tmp = re.search('KABUPATEN',alamat)
    data_to_find = alamat[tmp.end()::]
  else:
    data_to_find = alamat

  for kab in list_kab:
    if kab in data_to_find:
      kabupaten = kab
      break

  if (kabupaten == ''):
    kabupaten = 'UNDEFINED'
  
  return kabupaten

In [144]:
data_alamat = [Kab(alamat) for alamat in alamat_df.to_list()]

In [145]:
SEPT_df2['Kabupaten/Kota'] = data_alamat

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [146]:
SEPT_df2

,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,discount,...,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon,Kabupaten/Kota
0,2021-08-24,shopee,Dyla Putri Salsabila,"GRAHA BUKIT RAYA 3 BLOK E3 NO 31 , KAB. BANDUN...",Dokumen Fasilitas perjalanan,Hari Rachmadi,1,87000.0,87000.0,17400.0,...,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,BANDUNG BARAT
1,2021-08-24,shopee,Dyah ayu,"GEDAWANG PESONA ASRI BLOK B NO.7A RT 02/07, KO...",Nutrisi dan Metabolisme Ikan Kerapu Macan,"Dr. Ir. Zainuddin, M.Si.",1,64500.0,64500.0,NaN,...,shopee,NaN,si cepat,NaN,NaN,NaN,NaN,NaN,NaN,SEMARANG
2,2021-08-24,shopee,Sherly Oktarianti / Ibu sus,"JL. SELAT PANJANG GG. WARTAWAN 3 NO. 08, KOTA ...",Modul Identifikasi Cendawan Penyebab Penyakit ...,Nuryani Dewi Permana dan Ummu Salamah Rustiani,1,62000.0,62000.0,12400.0,...,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,PONTIANAK
3,2021-08-24,tokopedia,ladia Rimba Angkasa Sumarwan,"NYAEN, PANDOWOHARJO, KEC. SLEMAN, KABUPATEN SL...",Pemula Next Profesional: Teknik Cepat Detail K...,Phany Wijaya,1,129000.0,129000.0,NaN,...,tokopedia,NaN,si cepat,NaN,NaN,NaN,NaN,NaN,NaN,SLEMAN
4,2021-08-24,tokopedia,Fatma fatimah,VILLA GRANDYS BLOK D3 JL PERSAHABATAN 7 RT.10 ...,Buku Ajar Ekonomi Internasional,Ridwan Maronrong,1,74000.0,74000.0,30000.0,...,tokopedia,NaN,wahana,NaN,NaN,NaN,NaN,NaN,NaN,JAKARTA TIMUR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,2021-09-23,web,Zevera Erinna,AKADEMI KESEHATAN JOHN PAUL II\nJL. PERMATA I ...,Teknik Laboratorium,Wawan Muliawan,2,84500.0,169000.0,NaN,...,web,NaN,JNE,NaN,NaN,NaN,NaN,NaN,NaN,PEKANBARU
475,2021-09-23,tokopedia,Ismu Bahaiduri,"VILLA SERPONG, JALAN KENCANA VIII BLOK C.8 NOM...",Judicial Activism,Safri Abdullah,2,57000.0,114000.0,NaN,...,tokopedia,NaN,anter aja,NaN,NaN,NaN,NaN,NaN,NaN,TANGERANG SELATAN
476,2021-09-23,wa,PAJAK ITU MUDAH STORE,BOGOR,Screening Your Tax Case & Measure Your Positio...,"Addy Tampubolon, S.H., M.H.\nZulham Al Farizi...",6,109200.0,655200.0,NaN,...,wa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BOGOR
477,2021-09-23,wa,PAJAK ITU MUDAH STORE,BOGOR,Pajak Internasional,Kartika Putri Kumalasari\nNurlita Sukma Alfandia,1,88500.0,88500.0,NaN,...,wa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BOGOR
478,2021-09-23,wa,PAJAK ITU MUDAH STORE,BOGOR,"Pajak Lalu Lintas Barang (Kepabeanan, Ekspor, ...","Astri Warih Anjarwi, S.E., M.S.A., Ak., CA.",1,81200.0,81200.0,NaN,...,wa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BOGOR

###Menambahkan Kolom Provinsi

In [147]:
SEPT_df2 = SEPT_df2.merge(prov_df, on='Kabupaten/Kota', how='left')

In [148]:
SEPT_df2.loc[:,['Kabupaten/Kota', 'Provinsi']]

    Kabupaten/Kota          Provinsi
0    BANDUNG BARAT        JAWA BARAT
1         SEMARANG       JAWA TENGAH
2         SEMARANG       JAWA TENGAH
3        PONTIANAK  KALIMANTAN BARAT
4           SLEMAN     DI YOGYAKARTA
..             ...               ...
586          BOGOR        JAWA BARAT
587          BOGOR        JAWA BARAT
588          BOGOR        JAWA BARAT
589          BOGOR        JAWA BARAT
590          BOGOR        JAWA BARAT

[591 rows x 2 columns]

## OKTOBER 2021

###Load Dataset

In [149]:
OKT_df2 = pd.read_excel("https://github.com/dickyilhami/Analysis-Book-Sales/blob/main/Dataset/data-order-online-2021-terbaru-ed.xlsx?raw=true", sheet_name = "M.OKTOBER")
OKT_df2

,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,discount,...,total,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon
0,2021-09-24,lazada,Bunga Septria Vionit,Pasir Harja RT/RW 15/10 Jawa Barat Kab. Subang...,Bimbingan Konseling Di SD (Mendampingi Siswa M...,Myrna Apriany Lestari,1,94000.0,94000,NaN,...,103500,lazada,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-09-24,web,YUDI HERDIANA,PT. ARTHABINTEK INDUSTRI\nJl. Cikarang - Cibar...,Kupas Tuntas Penerbangan,Pepen Pendi,1,103000.0,103000,NaN,...,120011,web,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-09-24,wa,bambang,Jl Jati indah I No 12,Corporate Social Responsibility in the Digital...,Ayub Ilfandy Imran,1,98000.0,98000,NaN,...,115000,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-09-24,web,Mumtazah Syarafi,"Jl. Ketib Anom No.1 Blok Rebo, Maja Selatan RT...",Psikologi Pendidikan Kajian Teoretik,Jusrin Efendi Pohan & Muhammad Munawir Pohan,1,133000.0,133000,NaN,...,159085,web,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-09-24,wa,Anita Ramadona,"Lesehan Zaki, Jln.Lintas Sumatera Utara, Kel.L...",Sejarah Pemikiran Ekonomi,Syaiful Anwar,1,90000.0,90000,NaN,...,141000,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,2021-10-22,wa,Mifta Rahman,Jalan Pertani Gg Rahul No 16\n Kecamatan: Pon...,Sistem Utilitas Bangunan: untuk Arsitek,Sugeng Triyadi & Andi Harapan,1,103000.0,103000,NaN,...,142000,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN
293,2021-10-22,wa,Mifta Rahman,Jalan Pertani Gg Rahul No 16\n Kecamatan: Pon...,Pendinginan Pasif Untuk Arsitektur Tropis Lembab,Jefrey I. Kindangen,1,139000.0,139000,NaN,...,139000,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN
294,2021-10-22,wa,sisca,"Graha Family Y-28, Emerald place . WIYUNG, WI...",Manajemen Sumber Daya Manusia Era 5.0,Deden Komar Priatna,1,98000.0,98000,NaN,...,104000,wa,NaN,wahana,NaN,NaN,NaN,NaN,NaN,NaN
295,2021-10-22,wa,Rahmawati,Jl.Jend A.H Nasution No.G 37 ( Prodi S1 Keseha...,Buku Ajar Kesehatan Masyarakat Pesisir Dan Kel...,Oksfriani Jufri Sumampouw,1,94000.0,94000,NaN,...,142000,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN
296,2021-10-22,wa,Diyana (kontrakan Haji Masduki),Jln. Tawang Mangu Km 11 RT 012 RW 03 Kelurahan...,"Sensei, Assalamualaikum Desu!",Diyana Millah Islami,3,108500.0,325500,65100.0,...,273400,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN

###Memisahkan Kabupaten/Kota dari Alamat

In [150]:
OKT_df2['Alamat '] = OKT_df2['Alamat '].str.upper()
alamat_df = OKT_df2['Alamat ']
alamat_df

0      PASIR HARJA RT/RW 15/10 JAWA BARAT KAB. SUBANG...
1      PT. ARTHABINTEK INDUSTRI\nJL. CIKARANG - CIBAR...
2                                  JL JATI INDAH I NO 12
3      JL. KETIB ANOM NO.1 BLOK REBO, MAJA SELATAN RT...
4      LESEHAN ZAKI, JLN.LINTAS SUMATERA UTARA, KEL.L...
                             ...
292    JALAN PERTANI GG RAHUL NO 16\n  KECAMATAN: PON...
293    JALAN PERTANI GG RAHUL NO 16\n  KECAMATAN: PON...
294     GRAHA FAMILY Y-28, EMERALD PLACE . WIYUNG, WI...
295    JL.JEND A.H NASUTION NO.G 37 ( PRODI S1 KESEHA...
296    JLN. TAWANG MANGU KM 11 RT 012 RW 03 KELURAHAN...
Name: Alamat , Length: 297, dtype: object

In [151]:
def Kab(alamat):
  kabupaten = ""
  if re.search('KABUPATEN/KOTA',alamat) :
    tmp = re.search('KABUPATEN/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB/KOTA',alamat):
    tmp = re.search('KAB/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB',alamat):
    tmp = re.search('KAB',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KOTA',alamat):
    tmp = re.search('KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KABUPATEN',alamat):
    tmp = re.search('KABUPATEN',alamat)
    data_to_find = alamat[tmp.end()::]
  else:
    data_to_find = alamat

  for kab in list_kab:
    if kab in data_to_find:
      kabupaten = kab
      break

  if (kabupaten == ''):
    kabupaten = 'UNDEFINED'
  
  return kabupaten

In [152]:
data_alamat = [Kab(alamat) for alamat in alamat_df.to_list()]

In [153]:
OKT_df2['Kabupaten/Kota'] = data_alamat

In [154]:
OKT_df2

,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,discount,...,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon,Kabupaten/Kota
0,2021-09-24,lazada,Bunga Septria Vionit,PASIR HARJA RT/RW 15/10 JAWA BARAT KAB. SUBANG...,Bimbingan Konseling Di SD (Mendampingi Siswa M...,Myrna Apriany Lestari,1,94000.0,94000,NaN,...,lazada,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,SUBANG
1,2021-09-24,web,YUDI HERDIANA,PT. ARTHABINTEK INDUSTRI\nJL. CIKARANG - CIBAR...,Kupas Tuntas Penerbangan,Pepen Pendi,1,103000.0,103000,NaN,...,web,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,BEKASI
2,2021-09-24,wa,bambang,JL JATI INDAH I NO 12,Corporate Social Responsibility in the Digital...,Ayub Ilfandy Imran,1,98000.0,98000,NaN,...,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,UNDEFINED
3,2021-09-24,web,Mumtazah Syarafi,"JL. KETIB ANOM NO.1 BLOK REBO, MAJA SELATAN RT...",Psikologi Pendidikan Kajian Teoretik,Jusrin Efendi Pohan & Muhammad Munawir Pohan,1,133000.0,133000,NaN,...,web,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,MAJALENGKA
4,2021-09-24,wa,Anita Ramadona,"LESEHAN ZAKI, JLN.LINTAS SUMATERA UTARA, KEL.L...",Sejarah Pemikiran Ekonomi,Syaiful Anwar,1,90000.0,90000,NaN,...,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,BATU BARA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,2021-10-22,wa,Mifta Rahman,JALAN PERTANI GG RAHUL NO 16\n KECAMATAN: PON...,Sistem Utilitas Bangunan: untuk Arsitek,Sugeng Triyadi & Andi Harapan,1,103000.0,103000,NaN,...,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,PONTIANAK
293,2021-10-22,wa,Mifta Rahman,JALAN PERTANI GG RAHUL NO 16\n KECAMATAN: PON...,Pendinginan Pasif Untuk Arsitektur Tropis Lembab,Jefrey I. Kindangen,1,139000.0,139000,NaN,...,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,PONTIANAK
294,2021-10-22,wa,sisca,"GRAHA FAMILY Y-28, EMERALD PLACE . WIYUNG, WI...",Manajemen Sumber Daya Manusia Era 5.0,Deden Komar Priatna,1,98000.0,98000,NaN,...,wa,NaN,wahana,NaN,NaN,NaN,NaN,NaN,NaN,SURABAYA
295,2021-10-22,wa,Rahmawati,JL.JEND A.H NASUTION NO.G 37 ( PRODI S1 KESEHA...,Buku Ajar Kesehatan Masyarakat Pesisir Dan Kel...,Oksfriani Jufri Sumampouw,1,94000.0,94000,NaN,...,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,KENDARI
296,2021-10-22,wa,Diyana (kontrakan Haji Masduki),JLN. TAWANG MANGU KM 11 RT 012 RW 03 KELURAHAN...,"Sensei, Assalamualaikum Desu!",Diyana Millah Islami,3,108500.0,325500,65100.0,...,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,JAKARTA BARAT

###Menambahkan Kolom Provinsi

In [155]:
OKT_df2 = OKT_df2.merge(prov_df, on='Kabupaten/Kota', how='left')

In [156]:
OKT_df2.loc[:,['Kabupaten/Kota', 'Provinsi']]

    Kabupaten/Kota           Provinsi
0           SUBANG         JAWA BARAT
1           BEKASI         JAWA BARAT
2           BEKASI         JAWA BARAT
3        UNDEFINED          UNDEFINED
4       MAJALENGKA         JAWA BARAT
..             ...                ...
402      PONTIANAK   KALIMANTAN BARAT
403      PONTIANAK   KALIMANTAN BARAT
404       SURABAYA         JAWA TIMUR
405        KENDARI  SULAWESI TENGGARA
406  JAKARTA BARAT        DKI JAKARTA

[407 rows x 2 columns]

## NOVEMBER 2021

###Load Dataset

In [157]:
NOV_df2 = pd.read_excel("https://github.com/dickyilhami/Analysis-Book-Sales/blob/main/Dataset/data-order-online-2021-terbaru-ed.xlsx?raw=true", sheet_name = "M.NOVEMBER")
NOV_df2

,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,discount,...,total,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon
0,2021-10-25,shopee,ALIF LAYLA SYA'BANI,Karanggayam Sitimulyo Piyungan Pondok Pesantre...,Pencak Silat,Juli Candra,1,66000,66000,NaN,...,62304.0,shopee,NaN,si cepat,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-10-25,shopee,Nining Ratnaningsih,Rs. Paru dr. HA ROTINSULU Bandung Jl. Bukit Ja...,Akuntansi Manajemen,Zaenal Aripin dan M. Rizqi Padma Negara,1,112000,112000,NaN,...,95312.0,shopee,NaN,si cepat,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-10-25,shopee,Nining Ratnaningsih,Rs. Paru dr. HA ROTINSULU Bandung Jl. Bukit Ja...,Perilaku Bisnis Etika Bisnis dan Perilaku Kons...,Zaenal Aripin dan M. Rizqi Padma Negara,2,93000,186000,NaN,...,186000.0,shopee,NaN,si cepat,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-10-25,shopee,Dominikus Niko Dasilva,Belakang gereja kaiserea BTN kolhua ( blok i n...,Pajak Daerah dalam Pendapatan Asli Daerah,Phaureula Artha Wulandari dan Emy Iryanie,1,61000,61000,NaN,...,57584.0,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-10-25,shopee,Anisa Santi,Kp. Cisalak rt 01/14 desa cibunian kec. Pamija...,Metodologi Penelitian,Mayang Sari Lubis,1,57000,57000,NaN,...,53808.0,shopee,NaN,si cepat,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
984,2021-11-23,wa,yudha,surabaya,Statistika dengan Program Komputer,"Ahmad Kholiqul Amin, S.Pd., M.Pd.",2,62500,125000,56250.0,...,68750.0,wa,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
985,2021-11-23,wa,yudha,surabaya,Ketika Autoimun Menyapaku,Amanda Elena ... [et al.],2,80000,160000,72000.0,...,88000.0,wa,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
986,2021-11-23,wa,yudha,surabaya,Pandemic Effect (Hikmah & Kisah Para Pejuang P...,Shilphy A. Octavia … [et al.],2,172000,344000,154800.0,...,189200.0,wa,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
987,2021-11-23,wa,yudha,surabaya,Menjadi Pemenang Dalam Kehidupan,Marjohan,2,127000,254000,114300.0,...,139700.0,wa,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN
988,2021-11-23,wa,yudha,surabaya,Sebuah Catatan “Problematika Sistem”,L. Tri Wijaya N. Kusuma,2,99000,198000,89100.0,...,108900.0,wa,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN

###Memisahkan Kabupaten/kota dari Alamat

In [158]:
NOV_df2['Alamat '] = NOV_df2['Alamat '].str.upper()
alamat_df = NOV_df2['Alamat ']
alamat_df

0      KARANGGAYAM SITIMULYO PIYUNGAN PONDOK PESANTRE...
1      RS. PARU DR. HA ROTINSULU BANDUNG JL. BUKIT JA...
2      RS. PARU DR. HA ROTINSULU BANDUNG JL. BUKIT JA...
3      BELAKANG GEREJA KAISEREA BTN KOLHUA ( BLOK I N...
4      KP. CISALAK RT 01/14 DESA CIBUNIAN KEC. PAMIJA...
                             ...
984                                             SURABAYA
985                                             SURABAYA
986                                             SURABAYA
987                                             SURABAYA
988                                             SURABAYA
Name: Alamat , Length: 989, dtype: object

In [159]:
def Kab(alamat):
  kabupaten = ""
  if re.search('KABUPATEN/KOTA',alamat) :
    tmp = re.search('KABUPATEN/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB/KOTA',alamat):
    tmp = re.search('KAB/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB',alamat):
    tmp = re.search('KAB',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KOTA',alamat):
    tmp = re.search('KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KABUPATEN',alamat):
    tmp = re.search('KABUPATEN',alamat)
    data_to_find = alamat[tmp.end()::]
  else:
    data_to_find = alamat

  for kab in list_kab:
    if kab in data_to_find:
      kabupaten = kab
      break

  if (kabupaten == ''):
    kabupaten = 'UNDEFINED'
  
  return kabupaten

In [160]:
data_alamat = [Kab(alamat) for alamat in alamat_df.to_list()]

In [161]:
NOV_df2['Kabupaten/Kota'] = data_alamat

In [162]:
NOV_df2

,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,discount,...,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon,Kabupaten/Kota
0,2021-10-25,shopee,ALIF LAYLA SYA'BANI,KARANGGAYAM SITIMULYO PIYUNGAN PONDOK PESANTRE...,Pencak Silat,Juli Candra,1,66000,66000,NaN,...,shopee,NaN,si cepat,NaN,NaN,NaN,NaN,NaN,NaN,BANTUL
1,2021-10-25,shopee,Nining Ratnaningsih,RS. PARU DR. HA ROTINSULU BANDUNG JL. BUKIT JA...,Akuntansi Manajemen,Zaenal Aripin dan M. Rizqi Padma Negara,1,112000,112000,NaN,...,shopee,NaN,si cepat,NaN,NaN,NaN,NaN,NaN,NaN,BANDUNG
2,2021-10-25,shopee,Nining Ratnaningsih,RS. PARU DR. HA ROTINSULU BANDUNG JL. BUKIT JA...,Perilaku Bisnis Etika Bisnis dan Perilaku Kons...,Zaenal Aripin dan M. Rizqi Padma Negara,2,93000,186000,NaN,...,shopee,NaN,si cepat,NaN,NaN,NaN,NaN,NaN,NaN,BANDUNG
3,2021-10-25,shopee,Dominikus Niko Dasilva,BELAKANG GEREJA KAISEREA BTN KOLHUA ( BLOK I N...,Pajak Daerah dalam Pendapatan Asli Daerah,Phaureula Artha Wulandari dan Emy Iryanie,1,61000,61000,NaN,...,shopee,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,KUPANG
4,2021-10-25,shopee,Anisa Santi,KP. CISALAK RT 01/14 DESA CIBUNIAN KEC. PAMIJA...,Metodologi Penelitian,Mayang Sari Lubis,1,57000,57000,NaN,...,shopee,NaN,si cepat,NaN,NaN,NaN,NaN,NaN,NaN,BOGOR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
984,2021-11-23,wa,yudha,SURABAYA,Statistika dengan Program Komputer,"Ahmad Kholiqul Amin, S.Pd., M.Pd.",2,62500,125000,56250.0,...,wa,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,SURABAYA
985,2021-11-23,wa,yudha,SURABAYA,Ketika Autoimun Menyapaku,Amanda Elena ... [et al.],2,80000,160000,72000.0,...,wa,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,SURABAYA
986,2021-11-23,wa,yudha,SURABAYA,Pandemic Effect (Hikmah & Kisah Para Pejuang P...,Shilphy A. Octavia … [et al.],2,172000,344000,154800.0,...,wa,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,SURABAYA
987,2021-11-23,wa,yudha,SURABAYA,Menjadi Pemenang Dalam Kehidupan,Marjohan,2,127000,254000,114300.0,...,wa,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,SURABAYA
988,2021-11-23,wa,yudha,SURABAYA,Sebuah Catatan “Problematika Sistem”,L. Tri Wijaya N. Kusuma,2,99000,198000,89100.0,...,wa,NaN,j&t,NaN,NaN,NaN,NaN,NaN,NaN,SURABAYA

###Menambahkan Kolom Provinsi

In [163]:
NOV_df2 = NOV_df2.merge(prov_df, on='Kabupaten/Kota', how='left')

In [164]:
NOV_df2.loc[:,['Kabupaten/Kota', 'Provinsi']]

     Kabupaten/Kota       Provinsi
0            BANTUL  DI YOGYAKARTA
1           BANDUNG     JAWA BARAT
2           BANDUNG     JAWA BARAT
3           BANDUNG     JAWA BARAT
4           BANDUNG     JAWA BARAT
...             ...            ...
1057       SURABAYA     JAWA TIMUR
1058       SURABAYA     JAWA TIMUR
1059       SURABAYA     JAWA TIMUR
1060       SURABAYA     JAWA TIMUR
1061       SURABAYA     JAWA TIMUR

[1062 rows x 2 columns]

## DESEMBER 2021

###Load Dataset

In [165]:
DES_df2 = pd.read_excel("https://github.com/dickyilhami/Analysis-Book-Sales/blob/main/Dataset/data-order-online-2021-terbaru-ed.xlsx?raw=true", sheet_name = "M.DESEMBER")
DES_df2

,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,discount,...,total,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon
0,2021-11-24,shopee,Sri Ranita,"Jalan Mandala 5 No.12, RT.6/RW.9, Cililitan Ke...",Toleransi Generasi Muda dalam Demokrasi Pancasila,Muhammad Salisul Khakim,1,58000,58000,NaN,...,58000.0,shopee,NaN,si cepat,TERKIRIM,NaN,NaN,NaN,NaN,NaN
1,2021-11-24,shopee,Teh Ai,"Blok Cipadung No. 59, RT.01/RW.01, Karyamukti,...",Ekspor Impor: Teori dan Praktikum Kegiatan Eks...,Edi Supardi,1,192500,192500,NaN,...,181720.0,shopee,NaN,si cepat,TERKIRIM,NaN,NaN,NaN,NaN,NaN
2,2021-11-25,wa,boy,jakarta,Budaya dan Birokrasi,Aras Solong,1,52000,52000,13000.0,...,107000.0,wa,NaN,jne,BELUM,NaN,NaN,NaN,NaN,NaN
3,2021-11-25,wa,boy,jakarta,Bunga Rampai Hukum dan Filsafat di Indonesia S...,"H. Santhos Wachjoe Prijambodo, S.H., M.H.",1,80500,80500,20125.0,...,60375.0,wa,NaN,jne,BELUM,NaN,NaN,NaN,NaN,NaN
4,2021-11-25,wa,boy,jakarta,Islam Menggugat Hak-Hak Perempuan,Huda Maz,1,73000,73000,18250.0,...,54750.0,wa,NaN,jne,BELUM,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385,2021-12-23,shopee,ALDI,"Perumahan Permata Bukit Raya, Jln. Bhakti Husa...",Etika Peserta Didik: Menurut Syaikh Muhammad b...,Saifuddin Amin,1,71500,71500,14300.0,...,53997.0,shopee,NaN,j&t,BELUM,NaN,NaN,NaN,NaN,NaN
386,2021-12-23,shopee,Ria,"Sultan Alauddin 2, Lorong 2D, Mangasa, Tamalat...",Literasi Matematika Upaya Meningkatkan Kemampu...,"Rahma Muti’ah, dkk",1,83500,83500,16700.0,...,63059.0,shopee,NaN,j&t,BELUM,NaN,NaN,NaN,NaN,NaN
387,2021-12-23,wa,Laode Mondolalo,"MAN 1 Kebumen - Jl. Cincin Kota No.44, Watubar...",Bukan Kota Tanpa Masa Lalu: Dinamika Sosial Ek...,Teguh Hindarto,1,70700,70700,NaN,...,90700.0,wa,NaN,jne,BELUM,NaN,NaN,NaN,NaN,NaN
388,2021-12-23,wa,Laode Mondolalo,"MAN 1 Kebumen - Jl. Cincin Kota No.44, Watubar...",Wetan Kali Kulon Kali Mengenang Kabupaten Kara...,Dwi Maryanti,1,101600,101600,NaN,...,101600.0,wa,NaN,jne,TERKIRIM,NaN,NaN,NaN,NaN,NaN
389,2021-12-23,wa,Zuarnida Simanjuntak,Warung Oppung Jojor No. 10 Desa Gur-gur Aekraj...,Strategi Belajar Mengajar,Rahmah Johar & Latifah Hanum,1,128000,128000,NaN,...,185000.0,wa,NaN,jne,TERKIRIM,NaN,NaN,NaN,NaN,NaN

###Memisahkan Kabupaten/kota dari Alamat

In [166]:
DES_df2['Alamat '] = DES_df2['Alamat '].str.upper()
alamat_df = DES_df2['Alamat ']
alamat_df

0      JALAN MANDALA 5 NO.12, RT.6/RW.9, CILILITAN KE...
1      BLOK CIPADUNG NO. 59, RT.01/RW.01, KARYAMUKTI,...
2                                                JAKARTA
3                                                JAKARTA
4                                                JAKARTA
                             ...
385    PERUMAHAN PERMATA BUKIT RAYA, JLN. BHAKTI HUSA...
386    SULTAN ALAUDDIN 2, LORONG 2D, MANGASA, TAMALAT...
387    MAN 1 KEBUMEN - JL. CINCIN KOTA NO.44, WATUBAR...
388    MAN 1 KEBUMEN - JL. CINCIN KOTA NO.44, WATUBAR...
389    WARUNG OPPUNG JOJOR NO. 10 DESA GUR-GUR AEKRAJ...
Name: Alamat , Length: 390, dtype: object

In [167]:
def Kab(alamat):
  kabupaten = ""
  if re.search('KABUPATEN/KOTA',alamat) :
    tmp = re.search('KABUPATEN/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB/KOTA',alamat):
    tmp = re.search('KAB/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB',alamat):
    tmp = re.search('KAB',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KOTA',alamat):
    tmp = re.search('KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KABUPATEN',alamat):
    tmp = re.search('KABUPATEN',alamat)
    data_to_find = alamat[tmp.end()::]
  else:
    data_to_find = alamat

  for kab in list_kab:
    if kab in data_to_find:
      kabupaten = kab
      break

  if (kabupaten == ''):
    kabupaten = 'UNDEFINED'
  
  return kabupaten

In [168]:
data_alamat = [Kab(alamat) for alamat in alamat_df.to_list()]

In [169]:
DES_df2['Kabupaten/Kota'] = data_alamat

In [170]:
DES_df2

,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,discount,...,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon,Kabupaten/Kota
0,2021-11-24,shopee,Sri Ranita,"JALAN MANDALA 5 NO.12, RT.6/RW.9, CILILITAN KE...",Toleransi Generasi Muda dalam Demokrasi Pancasila,Muhammad Salisul Khakim,1,58000,58000,NaN,...,shopee,NaN,si cepat,TERKIRIM,NaN,NaN,NaN,NaN,NaN,JAKARTA TIMUR
1,2021-11-24,shopee,Teh Ai,"BLOK CIPADUNG NO. 59, RT.01/RW.01, KARYAMUKTI,...",Ekspor Impor: Teori dan Praktikum Kegiatan Eks...,Edi Supardi,1,192500,192500,NaN,...,shopee,NaN,si cepat,TERKIRIM,NaN,NaN,NaN,NaN,NaN,MAJALENGKA
2,2021-11-25,wa,boy,JAKARTA,Budaya dan Birokrasi,Aras Solong,1,52000,52000,13000.0,...,wa,NaN,jne,BELUM,NaN,NaN,NaN,NaN,NaN,UNDEFINED
3,2021-11-25,wa,boy,JAKARTA,Bunga Rampai Hukum dan Filsafat di Indonesia S...,"H. Santhos Wachjoe Prijambodo, S.H., M.H.",1,80500,80500,20125.0,...,wa,NaN,jne,BELUM,NaN,NaN,NaN,NaN,NaN,UNDEFINED
4,2021-11-25,wa,boy,JAKARTA,Islam Menggugat Hak-Hak Perempuan,Huda Maz,1,73000,73000,18250.0,...,wa,NaN,jne,BELUM,NaN,NaN,NaN,NaN,NaN,UNDEFINED
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385,2021-12-23,shopee,ALDI,"PERUMAHAN PERMATA BUKIT RAYA, JLN. BHAKTI HUSA...",Etika Peserta Didik: Menurut Syaikh Muhammad b...,Saifuddin Amin,1,71500,71500,14300.0,...,shopee,NaN,j&t,BELUM,NaN,NaN,NaN,NaN,NaN,PEKANBARU
386,2021-12-23,shopee,Ria,"SULTAN ALAUDDIN 2, LORONG 2D, MANGASA, TAMALAT...",Literasi Matematika Upaya Meningkatkan Kemampu...,"Rahma Muti’ah, dkk",1,83500,83500,16700.0,...,shopee,NaN,j&t,BELUM,NaN,NaN,NaN,NaN,NaN,MAKASSAR
387,2021-12-23,wa,Laode Mondolalo,"MAN 1 KEBUMEN - JL. CINCIN KOTA NO.44, WATUBAR...",Bukan Kota Tanpa Masa Lalu: Dinamika Sosial Ek...,Teguh Hindarto,1,70700,70700,NaN,...,wa,NaN,jne,BELUM,NaN,NaN,NaN,NaN,NaN,KEBUMEN
388,2021-12-23,wa,Laode Mondolalo,"MAN 1 KEBUMEN - JL. CINCIN KOTA NO.44, WATUBAR...",Wetan Kali Kulon Kali Mengenang Kabupaten Kara...,Dwi Maryanti,1,101600,101600,NaN,...,wa,NaN,jne,TERKIRIM,NaN,NaN,NaN,NaN,NaN,KEBUMEN
389,2021-12-23,wa,Zuarnida Simanjuntak,WARUNG OPPUNG JOJOR NO. 10 DESA GUR-GUR AEKRAJ...,Strategi Belajar Mengajar,Rahmah Johar & Latifah Hanum,1,128000,128000,NaN,...,wa,NaN,jne,TERKIRIM,NaN,NaN,NaN,NaN,NaN,TOBA SAMOSIR

###Menambahkan Kolom Provinsi

In [171]:
DES_df2 = DES_df2.merge(prov_df, on='Kabupaten/Kota', how='left')

In [172]:
DES_df2.loc[:,['Kabupaten/Kota', 'Provinsi']]

    Kabupaten/Kota          Provinsi
0    JAKARTA TIMUR       DKI JAKARTA
1       MAJALENGKA        JAWA BARAT
2        UNDEFINED         UNDEFINED
3        UNDEFINED         UNDEFINED
4        UNDEFINED         UNDEFINED
..             ...               ...
500      PEKANBARU              RIAU
501       MAKASSAR  SULAWESI SELATAN
502        KEBUMEN       JAWA TENGAH
503        KEBUMEN       JAWA TENGAH
504   TOBA SAMOSIR    SUMATERA UTARA

[505 rows x 2 columns]

##Menggabungkan Seluruh Sheet menjadi satu DataFrame dan Check DataFrame-nya

In [173]:
df2_concat = pd.concat([JAN_df2,FEB_df2,MAR_df2,APR_df2,MEI_df2,JUN_df2,JULI_df2,AGUS_df2,SEPT_df2,OKT_df2,NOV_df2,DES_df2])

df2_concat

,Tgl Order,Pemesanan,Nama,Alamat,judul buku,Pengarang,jumlah pesanan,harga,jumlah penjualan,discount,...,resi,Total per judul,Royalti,Total Real,Diskon,Kabupaten/Kota,Provinsi,Pemesan,Nama Penerima,harga satuan
0,2020-12-23,wa,Milka Atika Sari,"JL. YUDISTIRA II, KALIKUNING RT. 03 RW. 09, JO...","Upaya Mengoptimalkan Desa Sawarna, Banten seba...",Harris Lumban Gaol,1,61000.0,61000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,KLATEN,JAWA TENGAH,NaN,NaN,NaN
1,2020-12-23,langsung,nur hidayat,YOGYAKARTA,Analisis Data Menggunakan Stata SE 14 (Panduan...,Kurniawan,1,126000.0,126000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,YOGYAKARTA,DI YOGYAKARTA,NaN,NaN,NaN
2,2020-12-23,wa,gani wiharso,PERUM ANEKA ELOK BLOK D 3 NO.40 RT.005 RW 09 K...,Dasar-dasar Akuntansi untuk Pemula,Arif Widyatama,1,140000.0,140000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,JAKARTA TIMUR,DKI JAKARTA,NaN,NaN,NaN
3,2020-12-23,wa,gani wiharso,PERUM ANEKA ELOK BLOK D 3 NO.40 RT.005 RW 09 K...,"Ekonomi Mikro, Analisis dan Pendekatan Praktis...",R. Misriah Ariyani S. &\nTotok Harjanto,1,91000.0,91000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,JAKARTA TIMUR,DKI JAKARTA,NaN,NaN,NaN
4,2020-12-24,shopee,Nabiladiahirianti,DEPAN UPTD SUKONATAR ADA GANG MASUK. LURUS 100...,Linguistik Mikro (Kajian Internal Bahasa dan P...,Yusri dan Mantasiah R.,1,92000.0,92000.0,NaN,...,8827722034057780,NaN,NaN,NaN,NaN,BANYUWANGI,JAWA TIMUR,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,2021-12-23,NaN,NaN,"PERUMAHAN PERMATA BUKIT RAYA, JLN. BHAKTI HUSA...",Etika Peserta Didik: Menurut Syaikh Muhammad b...,Saifuddin Amin,1,NaN,71500.0,14300.0,...,NaN,NaN,NaN,NaN,NaN,PEKANBARU,RIAU,shopee,ALDI,71500.0
501,2021-12-23,NaN,NaN,"SULTAN ALAUDDIN 2, LORONG 2D, MANGASA, TAMALAT...",Literasi Matematika Upaya Meningkatkan Kemampu...,"Rahma Muti’ah, dkk",1,NaN,83500.0,16700.0,...,NaN,NaN,NaN,NaN,NaN,MAKASSAR,SULAWESI SELATAN,shopee,Ria,83500.0
502,2021-12-23,NaN,NaN,"MAN 1 KEBUMEN - JL. CINCIN KOTA NO.44, WATUBAR...",Bukan Kota Tanpa Masa Lalu: Dinamika Sosial Ek...,Teguh Hindarto,1,NaN,70700.0,NaN,...,NaN,NaN,NaN,NaN,NaN,KEBUMEN,JAWA TENGAH,wa,Laode Mondolalo,70700.0
503,2021-12-23,NaN,NaN,"MAN 1 KEBUMEN - JL. CINCIN KOTA NO.44, WATUBAR...",Wetan Kali Kulon Kali Mengenang Kabupaten Kara...,Dwi Maryanti,1,NaN,101600.0,NaN,...,NaN,NaN,NaN,NaN,NaN,KEBUMEN,JAWA TENGAH,wa,Laode Mondolalo,101600.0
504,2021-12-23,NaN,NaN,WARUNG OPPUNG JOJOR NO. 10 DESA GUR-GUR AEKRAJ...,Strategi Belajar Mengajar,Rahmah Johar & Latifah Hanum,1,NaN,128000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,TOBA SAMOSIR,SUMATERA UTARA,wa,Zuarnida Simanjuntak,128000.0

In [174]:
df2_concat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5214 entries, 0 to 504
Data columns (total 28 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Tgl Order                      5214 non-null   datetime64[ns]
 1   Pemesanan                      1930 non-null   object
 2   Nama                           1930 non-null   object
 3   Alamat                         5214 non-null   object
 4   judul buku                     5214 non-null   object
 5   Pengarang                      5211 non-null   object
 6   jumlah pesanan                 5214 non-null   object
 7   harga                          1930 non-null   float64
 8   jumlah penjualan               5214 non-null   float64
 9   discount                       2369 non-null   float64
 10  harga setelah diskon           5214 non-null   float64
 11  ongkos kirim                   2071 non-null   float64
 12  Service fee                    891 non-null    object
 13  total                          5202 non-null   float64
 14  order via                      5143 non-null   object
 15  nomor transaksi (invoice dll)  489 non-null    object
 16  KET                            5167 non-null   object
 17  tgl kirim                      514 non-null    object
 18  resi                           402 non-null    object
 19  Total per judul                0 non-null      float64
 20  Royalti                        0 non-null      float64
 21  Total Real                     0 non-null      float64
 22  Diskon                         0 non-null      float64
 23  Kabupaten/Kota                 5214 non-null   object
 24  Provinsi                       5214 non-null   object
 25  Pemesan                        3284 non-null   object
 26  Nama Penerima                  3284 non-null   object
 27  harga satuan                   3283 non-null   float64
dtypes: datetime64[ns](1), float64(11), object(16)
memory usage: 1.2+ MB

##Memperbaiki format dari fitur-fitur yang ada pada Dataset 2

In [175]:
df2_concat.columns

Index(['Tgl Order', 'Pemesanan', 'Nama', 'Alamat ', 'judul buku ', 'Pengarang',
       'jumlah pesanan ', 'harga', 'jumlah penjualan', 'discount',
       'harga setelah diskon', 'ongkos kirim', 'Service fee', 'total',
       'order via', 'nomor transaksi (invoice dll)', 'KET', 'tgl kirim ',
       'resi ', 'Total per judul', 'Royalti', 'Total Real', 'Diskon',
       'Kabupaten/Kota', 'Provinsi', 'Pemesan', 'Nama Penerima',
       'harga satuan '],
      dtype='object')

In [176]:
df2_concat.rename(columns={'judul buku ': 'Judul Buku','jumlah pesanan ':'Jumlah Pesanan','total': 'Total Pembayaran'}, inplace=True)

In [177]:
df2_concat['Judul Buku'] = df2_concat['Judul Buku'].str.title()
df2_concat['Judul Buku']

0      Upaya Mengoptimalkan Desa Sawarna, Banten Seba...
1      Analisis Data Menggunakan Stata Se 14 (Panduan...
2                     Dasar-Dasar Akuntansi Untuk Pemula
3      Ekonomi Mikro, Analisis Dan Pendekatan Praktis...
4      Linguistik Mikro (Kajian Internal Bahasa Dan P...
                             ...
500    Etika Peserta Didik: Menurut Syaikh Muhammad B...
501    Literasi Matematika Upaya Meningkatkan Kemampu...
502    Bukan Kota Tanpa Masa Lalu: Dinamika Sosial Ek...
503    Wetan Kali Kulon Kali Mengenang Kabupaten Kara...
504                            Strategi Belajar Mengajar
Name: Judul Buku, Length: 5214, dtype: object

In [178]:
df2_concat['Jumlah Pesanan'] = df2_concat['Jumlah Pesanan'].astype(str).astype(int)

##Memisahkan Month dan Year dari Tgl Order pada Dataset 2

In [179]:
df2_concat['Month'] = pd.DatetimeIndex(df2_concat['Tgl Order']).month

In [180]:
df2_concat['Year'] = pd.DatetimeIndex(df2_concat['Tgl Order']).year

In [181]:
df2_concat

,Tgl Order,Pemesanan,Nama,Alamat,Judul Buku,Pengarang,Jumlah Pesanan,harga,jumlah penjualan,discount,...,Royalti,Total Real,Diskon,Kabupaten/Kota,Provinsi,Pemesan,Nama Penerima,harga satuan,Month,Year
0,2020-12-23,wa,Milka Atika Sari,"JL. YUDISTIRA II, KALIKUNING RT. 03 RW. 09, JO...","Upaya Mengoptimalkan Desa Sawarna, Banten Seba...",Harris Lumban Gaol,1,61000.0,61000.0,NaN,...,NaN,NaN,NaN,KLATEN,JAWA TENGAH,NaN,NaN,NaN,12,2020
1,2020-12-23,langsung,nur hidayat,YOGYAKARTA,Analisis Data Menggunakan Stata Se 14 (Panduan...,Kurniawan,1,126000.0,126000.0,NaN,...,NaN,NaN,NaN,YOGYAKARTA,DI YOGYAKARTA,NaN,NaN,NaN,12,2020
2,2020-12-23,wa,gani wiharso,PERUM ANEKA ELOK BLOK D 3 NO.40 RT.005 RW 09 K...,Dasar-Dasar Akuntansi Untuk Pemula,Arif Widyatama,1,140000.0,140000.0,NaN,...,NaN,NaN,NaN,JAKARTA TIMUR,DKI JAKARTA,NaN,NaN,NaN,12,2020
3,2020-12-23,wa,gani wiharso,PERUM ANEKA ELOK BLOK D 3 NO.40 RT.005 RW 09 K...,"Ekonomi Mikro, Analisis Dan Pendekatan Praktis...",R. Misriah Ariyani S. &\nTotok Harjanto,1,91000.0,91000.0,NaN,...,NaN,NaN,NaN,JAKARTA TIMUR,DKI JAKARTA,NaN,NaN,NaN,12,2020
4,2020-12-24,shopee,Nabiladiahirianti,DEPAN UPTD SUKONATAR ADA GANG MASUK. LURUS 100...,Linguistik Mikro (Kajian Internal Bahasa Dan P...,Yusri dan Mantasiah R.,1,92000.0,92000.0,NaN,...,NaN,NaN,NaN,BANYUWANGI,JAWA TIMUR,NaN,NaN,NaN,12,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,2021-12-23,NaN,NaN,"PERUMAHAN PERMATA BUKIT RAYA, JLN. BHAKTI HUSA...",Etika Peserta Didik: Menurut Syaikh Muhammad B...,Saifuddin Amin,1,NaN,71500.0,14300.0,...,NaN,NaN,NaN,PEKANBARU,RIAU,shopee,ALDI,71500.0,12,2021
501,2021-12-23,NaN,NaN,"SULTAN ALAUDDIN 2, LORONG 2D, MANGASA, TAMALAT...",Literasi Matematika Upaya Meningkatkan Kemampu...,"Rahma Muti’ah, dkk",1,NaN,83500.0,16700.0,...,NaN,NaN,NaN,MAKASSAR,SULAWESI SELATAN,shopee,Ria,83500.0,12,2021
502,2021-12-23,NaN,NaN,"MAN 1 KEBUMEN - JL. CINCIN KOTA NO.44, WATUBAR...",Bukan Kota Tanpa Masa Lalu: Dinamika Sosial Ek...,Teguh Hindarto,1,NaN,70700.0,NaN,...,NaN,NaN,NaN,KEBUMEN,JAWA TENGAH,wa,Laode Mondolalo,70700.0,12,2021
503,2021-12-23,NaN,NaN,"MAN 1 KEBUMEN - JL. CINCIN KOTA NO.44, WATUBAR...",Wetan Kali Kulon Kali Mengenang Kabupaten Kara...,Dwi Maryanti,1,NaN,101600.0,NaN,...,NaN,NaN,NaN,KEBUMEN,JAWA TENGAH,wa,Laode Mondolalo,101600.0,12,2021
504,2021-12-23,NaN,NaN,WARUNG OPPUNG JOJOR NO. 10 DESA GUR-GUR AEKRAJ...,Strategi Belajar Mengajar,Rahmah Johar & Latifah Hanum,1,NaN,128000.0,NaN,...,NaN,NaN,NaN,TOBA SAMOSIR,SUMATERA UTARA,wa,Zuarnida Simanjuntak,128000.0,12,2021

##Memisahkan Fitur-Fitur yang diperlukan untuk Analisa kedalam sebuah DataFrame Baru pada Dataset 2

In [182]:
df21 = df2_concat.loc[:,['Year', 'Month', 'Kabupaten/Kota', 'Provinsi','Judul Buku','Jumlah Pesanan', 'Total Pembayaran']]
df21

,Year,Month,Kabupaten/Kota,Provinsi,Judul Buku,Jumlah Pesanan,Total Pembayaran
0,2020,12,KLATEN,JAWA TENGAH,"Upaya Mengoptimalkan Desa Sawarna, Banten Seba...",1,67000.0
1,2020,12,YOGYAKARTA,DI YOGYAKARTA,Analisis Data Menggunakan Stata Se 14 (Panduan...,1,126000.0
2,2020,12,JAKARTA TIMUR,DKI JAKARTA,Dasar-Dasar Akuntansi Untuk Pemula,1,140000.0
3,2020,12,JAKARTA TIMUR,DKI JAKARTA,"Ekonomi Mikro, Analisis Dan Pendekatan Praktis...",1,91000.0
4,2020,12,BANYUWANGI,JAWA TIMUR,Linguistik Mikro (Kajian Internal Bahasa Dan P...,1,87878.0
...,...,...,...,...,...,...,...
500,2021,12,PEKANBARU,RIAU,Etika Peserta Didik: Menurut Syaikh Muhammad B...,1,53997.0
501,2021,12,MAKASSAR,SULAWESI SELATAN,Literasi Matematika Upaya Meningkatkan Kemampu...,1,63059.0
502,2021,12,KEBUMEN,JAWA TENGAH,Bukan Kota Tanpa Masa Lalu: Dinamika Sosial Ek...,1,90700.0
503,2021,12,KEBUMEN,JAWA TENGAH,Wetan Kali Kulon Kali Mengenang Kabupaten Kara...,1,101600.0
504,2021,12,TOBA SAMOSIR,SUMATERA UTARA,Strategi Belajar Mengajar,1,185000.0

In [183]:
df21.dtypes

Year                  int64
Month                 int64
Kabupaten/Kota       object
Provinsi             object
Judul Buku           object
Jumlah Pesanan        int64
Total Pembayaran    float64
dtype: object

#DATASET 3 : ORDER 2020

##JANUARI 2020

###Load Dataset

In [184]:
JAN_df3 = pd.read_excel("https://github.com/dickyilhami/Analysis-Book-Sales/blob/main/Dataset/data-order-online-2020-ed.xlsx?raw=true", sheet_name = "M.JANUARI")
JAN_df3

,No,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,...,Royalti,Total Real,Diskon,Unnamed: 24,Unnamed: 25,No.1,Market Place,Tanggal,Pukul,Nilai Saldo
0,1.0,2019-12-30,Sherly,NaN,Lubuk linggau,Peningkatan Kinerja Sumber Daya Manusia Melalu...,"Agung Prihantoro, S.E., M.M.",1.0,58500.0,58500.0,...,NaN,58500,NaN,NaN,NaN,1.0,SHOPEE,43840.0,8.0,2426517.0
1,2.0,2019-12-30,Nelis,NaN,Bandung,Modul Edukasi Gizi Pencegahan dan Penanggulang...,"Demsa Simbolon, Jumiyati & Antun Rahmadi",1.0,59000.0,59000.0,...,NaN,59000,NaN,NaN,NaN,2.0,Bukalapak 1,43840.0,8.0,2725341.0
2,3.0,2019-12-30,Richo,NaN,Sidoarjo,Konsep Dan Desain Sistem Rangka Momen Khusus (...,Yudha Lesmana,1.0,125500.0,125500.0,...,NaN,125500,NaN,NaN,NaN,3.0,Dana,43840.0,8.0,2010200.0
3,4.0,2020-01-03,Anggi Dwi,NaN,Cianjur,Ekstrakurikuler Pendidikan Agama Islam -,Syarifuddin K,1.0,82500.0,82500.0,...,NaN,82500,NaN,NaN,NaN,4.0,Bukalapak 2,43840.0,8.0,1698557.0
4,5.0,2020-01-08,Siti Ridhani,NaN,Sidoarjo,Buku Ajar Mata Kuliah Folklor,"Lira Hayu Afdetis Mana, M.Pd. & Samsiarni, S.S...",1.0,81500.0,81500.0,...,NaN,81500,NaN,NaN,NaN,5.0,Tokopedia,43840.0,8.0,1341588.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,134.0,2020-01-27,Dian,NaN,Surakarta,Buku Ajar Pangan dan Gizi,Adi Saputrayadi,1.0,79000.0,79000.0,...,NaN,59250,NaN,59250.0,NaN,NaN,NaN,NaN,NaN,NaN
134,135.0,2020-01-27,Dian,NaN,Surakarta,Makanan dan Kesehatan,Indasah,1.0,98500.0,98500.0,...,NaN,73875,NaN,73875.0,NaN,NaN,NaN,NaN,NaN,NaN
135,136.0,2020-01-27,M Kemal,NaN,Kotabaru,Buku Ajar Pengantar Aplikasi Komputer,Yenny Iskandar,1.0,125000.0,125000.0,...,NaN,112500,NaN,131500.0,NaN,NaN,NaN,NaN,NaN,NaN
136,137.0,2020-01-27,M Kemal,NaN,Kotabaru,Pendidikan Pancasila di Perguruan Tinggi,Triyanto,1.0,65000.0,65000.0,...,NaN,58500,NaN,58500.0,NaN,NaN,NaN,NaN,NaN,NaN
137,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,12103375,NaN,12103375.0,NaN,NaN,NaN,NaN,NaN,NaN

In [185]:
JAN_df3 = JAN_df3.iloc[:-1 , :]

###Memisahkan Kabupaten/Kota dari Alamat

In [186]:
JAN_df3['Alamat ']=JAN_df3['Alamat '].apply(str)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [187]:
JAN_df3['Alamat '] = JAN_df3['Alamat '].str.upper()
alamat_df = JAN_df3['Alamat ']
alamat_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0      LUBUK LINGGAU
1            BANDUNG
2           SIDOARJO
3            CIANJUR
4           SIDOARJO
           ...
132        SURAKARTA
133        SURAKARTA
134        SURAKARTA
135         KOTABARU
136         KOTABARU
Name: Alamat , Length: 137, dtype: object

In [188]:
def kab(alamat):
  kabupaten=''
  alamat_list = alamat.to_list()
  ls_kab = list()
  for i in range(len(alamat_list)):
    for j in list_kab:
      if (str(j) == str(alamat_list[i])):
        #print(j)
        #print(i)
        kabupaten = j
        break
      else:
        # jika tidak ada dalam list, maka ambil kolom kabupaten/kota
        kabupaten = 'UNDEFINED'
    ls_kab.append(kabupaten)
  
  #print(ls_kab)
  return ls_kab

In [189]:
ls = list()
ls = kab(JAN_df3['Alamat '])

In [190]:
JAN_df3['Kabupaten/Kota'] = ls

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [191]:
JAN_df3

,No,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,...,Total Real,Diskon,Unnamed: 24,Unnamed: 25,No.1,Market Place,Tanggal,Pukul,Nilai Saldo,Kabupaten/Kota
0,1.0,2019-12-30,Sherly,NaN,LUBUK LINGGAU,Peningkatan Kinerja Sumber Daya Manusia Melalu...,"Agung Prihantoro, S.E., M.M.",1.0,58500.0,58500.0,...,58500,NaN,NaN,NaN,1.0,SHOPEE,43840.0,8.0,2426517.0,LUBUK LINGGAU
1,2.0,2019-12-30,Nelis,NaN,BANDUNG,Modul Edukasi Gizi Pencegahan dan Penanggulang...,"Demsa Simbolon, Jumiyati & Antun Rahmadi",1.0,59000.0,59000.0,...,59000,NaN,NaN,NaN,2.0,Bukalapak 1,43840.0,8.0,2725341.0,BANDUNG
2,3.0,2019-12-30,Richo,NaN,SIDOARJO,Konsep Dan Desain Sistem Rangka Momen Khusus (...,Yudha Lesmana,1.0,125500.0,125500.0,...,125500,NaN,NaN,NaN,3.0,Dana,43840.0,8.0,2010200.0,SIDOARJO
3,4.0,2020-01-03,Anggi Dwi,NaN,CIANJUR,Ekstrakurikuler Pendidikan Agama Islam -,Syarifuddin K,1.0,82500.0,82500.0,...,82500,NaN,NaN,NaN,4.0,Bukalapak 2,43840.0,8.0,1698557.0,CIANJUR
4,5.0,2020-01-08,Siti Ridhani,NaN,SIDOARJO,Buku Ajar Mata Kuliah Folklor,"Lira Hayu Afdetis Mana, M.Pd. & Samsiarni, S.S...",1.0,81500.0,81500.0,...,81500,NaN,NaN,NaN,5.0,Tokopedia,43840.0,8.0,1341588.0,SIDOARJO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,133.0,2020-01-27,Dian,NaN,SURAKARTA,Duh Gigiku Sakit,"Fitriani Putri Geagri, Wulan Apridita Sebasti...",1.0,72000.0,72000.0,...,54000,NaN,54000.0,NaN,NaN,NaN,NaN,NaN,NaN,SURAKARTA
133,134.0,2020-01-27,Dian,NaN,SURAKARTA,Buku Ajar Pangan dan Gizi,Adi Saputrayadi,1.0,79000.0,79000.0,...,59250,NaN,59250.0,NaN,NaN,NaN,NaN,NaN,NaN,SURAKARTA
134,135.0,2020-01-27,Dian,NaN,SURAKARTA,Makanan dan Kesehatan,Indasah,1.0,98500.0,98500.0,...,73875,NaN,73875.0,NaN,NaN,NaN,NaN,NaN,NaN,SURAKARTA
135,136.0,2020-01-27,M Kemal,NaN,KOTABARU,Buku Ajar Pengantar Aplikasi Komputer,Yenny Iskandar,1.0,125000.0,125000.0,...,112500,NaN,131500.0,NaN,NaN,NaN,NaN,NaN,NaN,KOTABARU
136,137.0,2020-01-27,M Kemal,NaN,KOTABARU,Pendidikan Pancasila di Perguruan Tinggi,Triyanto,1.0,65000.0,65000.0,...,58500,NaN,58500.0,NaN,NaN,NaN,NaN,NaN,NaN,KOTABARU

###Menambahkan  Kolom Provinsi

In [192]:
JAN_df3 = JAN_df3.merge(prov_df, on='Kabupaten/Kota', how='left')

In [193]:
JAN_df3.loc[:,['Kabupaten/Kota', 'Provinsi']]

    Kabupaten/Kota            Provinsi
0    LUBUK LINGGAU    SUMATERA SELATAN
1          BANDUNG          JAWA BARAT
2          BANDUNG          JAWA BARAT
3         SIDOARJO          JAWA TIMUR
4          CIANJUR          JAWA BARAT
..             ...                 ...
158      SURAKARTA         JAWA TENGAH
159      SURAKARTA         JAWA TENGAH
160      SURAKARTA         JAWA TENGAH
161       KOTABARU  KALIMANTAN SELATAN
162       KOTABARU  KALIMANTAN SELATAN

[163 rows x 2 columns]

## FEBRUARI 2020

###Load Dataset

In [194]:
FEB_df3 = pd.read_excel("https://github.com/dickyilhami/Analysis-Book-Sales/blob/main/Dataset/data-order-online-2020-ed.xlsx?raw=true", sheet_name = "M.FEBRUARI")
FEB_df3

,No,Tgl Order,Pemesan,Nama Penerima,Alamat,No HP,judul buku,Pengarang,jumlah pesanan,harga satuan,...,Royalti,Total Real,Diskon,Unnamed: 25,Unnamed: 26,No.1,Market Place,Tanggal,Pukul,Nilai Saldo
0,1.0,2020-01-28,Asyrul Fikri,Asyrul Fikri,NaN,NaN,Menakar Haluan Pembangunan Kota Batam Ke Depan...,"Muhammad Zaenuddin, Wahyudi Kumorotomo, \nSams...",1.0,102000.0,...,NaN,NaN,NaN,NaN,NaN,1.0,SHOPEE,2020-02-07,10.3,4471767.0
1,2.0,2020-01-28,Chitalia (Desy kurnia),Chitalia (Desy kurnia),NaN,NaN,Wanita Siapkah Menjadi Tiang Negara,Lilis Rohaeti,1.0,71500.0,...,NaN,NaN,NaN,NaN,NaN,2.0,Bukalapak 1,2020-02-07,10.3,3955389.0
2,3.0,2020-01-28,Hendry,Hendry,NaN,NaN,Buku Ajar Praktikum IPA SMP: Asyiknya Praktiku...,Budi Hartanto,1.0,94000.0,...,NaN,NaN,NaN,NaN,NaN,3.0,Dana,2020-02-07,10.3,4518650.0
3,4.0,2020-01-28,Evi,Evi,NaN,NaN,"Personality, Employee Engagement, Emotional In...",Kartono,1.0,59000.0,...,NaN,NaN,NaN,NaN,NaN,4.0,Bukalapak 2,2020-02-07,10.3,2038697.0
4,5.0,2020-01-28,Syarif iqbal,Syarif iqbal,NaN,NaN,Politik Aviasi dan Tantangan Negara Kepulauan,Syarif Iqbal,4.0,93000.0,...,NaN,NaN,NaN,NaN,NaN,5.0,Tokopedia,2020-02-07,10.3,2308183.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,173.0,2020-02-24,Fauzian Maulidah,Fauzian Maulidah,NaN,NaN,Peningkatan Kinerja Sumber Daya Manusia Melalu...,"Agung Prihantoro, S.E., M.M.",1.0,58500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
171,174.0,2020-02-24,Hayyun,Hayyun,NaN,NaN,Aplikasi Internet of Things (IoT) dengan Ardui...,"Sigit Wasista, Setiawardhana, Delima Ayu Saras...",1.0,65500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
172,175.0,2020-02-24,Dimas Prakoso,Dimas Prakoso,NaN,NaN,Manajemen Perbankan (Pendekatan Teoritis Dan S...,"Musdholifah, Ulil Hartono & Yulita Wulandari",1.0,106000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
173,176.0,2020-02-24,Sunardi,Sunardi,NaN,NaN,Aplikasi Internet of Things (IoT) dengan Ardui...,"Sigit Wasista, Setiawardhana, Delima Ayu Saras...",1.0,65500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
174,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN

In [195]:
FEB_df3 = FEB_df3.iloc[:-1 , :]

###Memisahkan  Kabupaten/Kota dari Alamat

In [196]:
FEB_df3['Alamat ']=FEB_df3['Alamat '].apply(str)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [197]:
FEB_df3['Alamat '] = FEB_df3['Alamat '].str.upper()
alamat_df = FEB_df3['Alamat ']
alamat_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0      NAN
1      NAN
2      NAN
3      NAN
4      NAN
      ...
169    NAN
170    NAN
171    NAN
172    NAN
173    NAN
Name: Alamat , Length: 174, dtype: object

In [198]:
def Kab(alamat):
  kabupaten = ""
  if re.search('KABUPATEN/KOTA',alamat) :
    tmp = re.search('KABUPATEN/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB/KOTA',alamat):
    tmp = re.search('KAB/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB',alamat):
    tmp = re.search('KAB',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KOTA',alamat):
    tmp = re.search('KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KABUPATEN',alamat):
    tmp = re.search('KABUPATEN',alamat)
    data_to_find = alamat[tmp.end()::]
  else:
    data_to_find = alamat

  for kab in list_kab:
    if kab in data_to_find:
      kabupaten = kab
      break

  if (kabupaten == ''):
    kabupaten = 'UNDEFINED'
  
  return kabupaten

In [199]:
data_alamat = [Kab(alamat) for alamat in alamat_df.to_list()]

In [200]:
FEB_df3['Kabupaten/Kota'] = data_alamat

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [201]:
FEB_df3

,No,Tgl Order,Pemesan,Nama Penerima,Alamat,No HP,judul buku,Pengarang,jumlah pesanan,harga satuan,...,Total Real,Diskon,Unnamed: 25,Unnamed: 26,No.1,Market Place,Tanggal,Pukul,Nilai Saldo,Kabupaten/Kota
0,1.0,2020-01-28,Asyrul Fikri,Asyrul Fikri,NAN,NaN,Menakar Haluan Pembangunan Kota Batam Ke Depan...,"Muhammad Zaenuddin, Wahyudi Kumorotomo, \nSams...",1.0,102000.0,...,NaN,NaN,NaN,NaN,1.0,SHOPEE,2020-02-07,10.3,4471767.0,UNDEFINED
1,2.0,2020-01-28,Chitalia (Desy kurnia),Chitalia (Desy kurnia),NAN,NaN,Wanita Siapkah Menjadi Tiang Negara,Lilis Rohaeti,1.0,71500.0,...,NaN,NaN,NaN,NaN,2.0,Bukalapak 1,2020-02-07,10.3,3955389.0,UNDEFINED
2,3.0,2020-01-28,Hendry,Hendry,NAN,NaN,Buku Ajar Praktikum IPA SMP: Asyiknya Praktiku...,Budi Hartanto,1.0,94000.0,...,NaN,NaN,NaN,NaN,3.0,Dana,2020-02-07,10.3,4518650.0,UNDEFINED
3,4.0,2020-01-28,Evi,Evi,NAN,NaN,"Personality, Employee Engagement, Emotional In...",Kartono,1.0,59000.0,...,NaN,NaN,NaN,NaN,4.0,Bukalapak 2,2020-02-07,10.3,2038697.0,UNDEFINED
4,5.0,2020-01-28,Syarif iqbal,Syarif iqbal,NAN,NaN,Politik Aviasi dan Tantangan Negara Kepulauan,Syarif Iqbal,4.0,93000.0,...,NaN,NaN,NaN,NaN,5.0,Tokopedia,2020-02-07,10.3,2308183.0,UNDEFINED
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,172.0,2020-02-24,Sarah Hermayanti,Sarah Hermayanti,NAN,NaN,Konsep Dan Desain Sistem Rangka Momen Khusus (...,Yudha Lesmana,1.0,125500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,UNDEFINED
170,173.0,2020-02-24,Fauzian Maulidah,Fauzian Maulidah,NAN,NaN,Peningkatan Kinerja Sumber Daya Manusia Melalu...,"Agung Prihantoro, S.E., M.M.",1.0,58500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,UNDEFINED
171,174.0,2020-02-24,Hayyun,Hayyun,NAN,NaN,Aplikasi Internet of Things (IoT) dengan Ardui...,"Sigit Wasista, Setiawardhana, Delima Ayu Saras...",1.0,65500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,UNDEFINED
172,175.0,2020-02-24,Dimas Prakoso,Dimas Prakoso,NAN,NaN,Manajemen Perbankan (Pendekatan Teoritis Dan S...,"Musdholifah, Ulil Hartono & Yulita Wulandari",1.0,106000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,UNDEFINED
173,176.0,2020-02-24,Sunardi,Sunardi,NAN,NaN,Aplikasi Internet of Things (IoT) dengan Ardui...,"Sigit Wasista, Setiawardhana, Delima Ayu Saras...",1.0,65500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,UNDEFINED

###Menambahkan  Kolom Provinsi

In [202]:
FEB_df3 = FEB_df3.merge(prov_df, on='Kabupaten/Kota', how='left')

In [203]:
FEB_df3.loc[:,['Kabupaten/Kota', 'Provinsi']]

    Kabupaten/Kota   Provinsi
0        UNDEFINED  UNDEFINED
1        UNDEFINED  UNDEFINED
2        UNDEFINED  UNDEFINED
3        UNDEFINED  UNDEFINED
4        UNDEFINED  UNDEFINED
..             ...        ...
169      UNDEFINED  UNDEFINED
170      UNDEFINED  UNDEFINED
171      UNDEFINED  UNDEFINED
172      UNDEFINED  UNDEFINED
173      UNDEFINED  UNDEFINED

[174 rows x 2 columns]

## MARET 2020

###Load Dataset

In [204]:
MAR_df3 = pd.read_excel("https://github.com/dickyilhami/Analysis-Book-Sales/blob/main/Dataset/data-order-online-2020-ed.xlsx?raw=true", sheet_name = "M. MARET")
MAR_df3

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:211: UserWarning: Cell T28 is marked as a date but the serial value 1404902000006560 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)

,No,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,...,Royalti,Total Real,Diskon,Unnamed: 24,Unnamed: 25,No.1,Market Place,Tanggal,Pukul,Nilai Saldo
0,1,2020-02-25,Siti nurhandalia,NaN,Bogor,Buku Ajar Keperawatan Gerontik,"Sofia Rhosma Dewi, S.Kep.Ners.",1,99500,99500,...,NaN,NaN,NaN,NaN,NaN,1.0,SHOPEE,2020-03-12,1900-01-12,3548684.0
1,2,2020-02-25,tejo,NaN,Tangerang,Belajar Renang Gaya Dada Mudah Dan Menyenangkan,Pitwanto,1,58500,58500,...,NaN,NaN,NaN,NaN,NaN,2.0,Bukalapak 1,2020-03-12,1900-01-12,3356563.0
2,3,2020-02-25,ervita,NaN,Wonosobo,Perdagangan Internasional,Wahono Diphayana,1,105000,105000,...,NaN,NaN,NaN,NaN,NaN,3.0,Dana,2020-03-12,1900-01-12,4928300.0
3,4,2020-02-25,Liana,NaN,Jakarta Timur,Pendekatan Scientific dalam Pembelajaran di Se...,Ika Maryani dan Laila Fatmawati,1,87000,87000,...,NaN,NaN,NaN,NaN,NaN,4.0,Bukalapak 2,2020-03-12,1900-01-12,1626512.0
4,5,2020-02-25,Cahya,NaN,Bantul,Pengembangan Model Pembelajaran Bahasa Arab Be...,"Mahyudin Ritonga, Alwis Nazir, Sri Wahyuni",3,64500,193500,...,NaN,NaN,NaN,NaN,NaN,5.0,Tokopedia,2020-03-12,1900-01-12,2582364.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,223,2020-03-20,Leo Chandra,NaN,Lubuk Linggau,Pengantar Manajemen,Sarinah dan Mardalena,1,109500,109500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
223,224,2020-03-20,WA,NaN,Karawang,Buku Ajar Pemrograman Web Step-By-Step Pemrogr...,"Mohamad Jamil, Iis Hamsir Ayub Wahab dan Muh R...",19,61000,1159000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
224,225,2020-03-20,Atria T,NaN,Pontianak,Penelitian Kuantitatif Desain dan Analisis Dat...,Agustinus Bandur,1,153000,153000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
225,226,2020-03-20,Atria T,NaN,Pontianak,Buku Ajar Teori Ekonomi Makro,Sattar & Silvana Kardinar Wijayanti,1,86000,86000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
226,227,2020-03-20,Atria T,NaN,Pontianak,Modul PBB dan Bea Materai,Suprihati dan Budiyono,1,72500,72500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN

###Memisahkan Kabupaten/Kota dari Alamat

In [205]:
MAR_df3['Alamat ']=MAR_df3['Alamat '].apply(str)

In [206]:
MAR_df3['Alamat '] = MAR_df3['Alamat '].str.upper()
alamat_df = MAR_df3['Alamat ']
alamat_df

0              BOGOR
1          TANGERANG
2           WONOSOBO
3      JAKARTA TIMUR
4             BANTUL
           ...
222    LUBUK LINGGAU
223         KARAWANG
224        PONTIANAK
225        PONTIANAK
226        PONTIANAK
Name: Alamat , Length: 227, dtype: object

In [207]:
def kab(alamat):
  kabupaten=''
  alamat_list = alamat.to_list()
  ls_kab = list()
  for i in range(len(alamat_list)):
    for j in list_kab:
      if (str(j) == str(alamat_list[i])):
        #print(j)
        #print(i)
        kabupaten = j
        break
      else:
        # jika tidak ada dalam list, maka ambil kolom kabupaten/kota
        kabupaten = 'UNDEFINED'
    ls_kab.append(kabupaten)
  
  #print(ls_kab)
  return ls_kab

In [208]:
ls = list()
ls = kab(MAR_df3['Alamat '])

In [209]:
MAR_df3['Kabupaten/Kota'] = ls

In [210]:
MAR_df3

,No,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,...,Total Real,Diskon,Unnamed: 24,Unnamed: 25,No.1,Market Place,Tanggal,Pukul,Nilai Saldo,Kabupaten/Kota
0,1,2020-02-25,Siti nurhandalia,NaN,BOGOR,Buku Ajar Keperawatan Gerontik,"Sofia Rhosma Dewi, S.Kep.Ners.",1,99500,99500,...,NaN,NaN,NaN,NaN,1.0,SHOPEE,2020-03-12,1900-01-12,3548684.0,BOGOR
1,2,2020-02-25,tejo,NaN,TANGERANG,Belajar Renang Gaya Dada Mudah Dan Menyenangkan,Pitwanto,1,58500,58500,...,NaN,NaN,NaN,NaN,2.0,Bukalapak 1,2020-03-12,1900-01-12,3356563.0,TANGERANG
2,3,2020-02-25,ervita,NaN,WONOSOBO,Perdagangan Internasional,Wahono Diphayana,1,105000,105000,...,NaN,NaN,NaN,NaN,3.0,Dana,2020-03-12,1900-01-12,4928300.0,WONOSOBO
3,4,2020-02-25,Liana,NaN,JAKARTA TIMUR,Pendekatan Scientific dalam Pembelajaran di Se...,Ika Maryani dan Laila Fatmawati,1,87000,87000,...,NaN,NaN,NaN,NaN,4.0,Bukalapak 2,2020-03-12,1900-01-12,1626512.0,JAKARTA TIMUR
4,5,2020-02-25,Cahya,NaN,BANTUL,Pengembangan Model Pembelajaran Bahasa Arab Be...,"Mahyudin Ritonga, Alwis Nazir, Sri Wahyuni",3,64500,193500,...,NaN,NaN,NaN,NaN,5.0,Tokopedia,2020-03-12,1900-01-12,2582364.0,BANTUL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,223,2020-03-20,Leo Chandra,NaN,LUBUK LINGGAU,Pengantar Manajemen,Sarinah dan Mardalena,1,109500,109500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,LUBUK LINGGAU
223,224,2020-03-20,WA,NaN,KARAWANG,Buku Ajar Pemrograman Web Step-By-Step Pemrogr...,"Mohamad Jamil, Iis Hamsir Ayub Wahab dan Muh R...",19,61000,1159000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,KARAWANG
224,225,2020-03-20,Atria T,NaN,PONTIANAK,Penelitian Kuantitatif Desain dan Analisis Dat...,Agustinus Bandur,1,153000,153000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,PONTIANAK
225,226,2020-03-20,Atria T,NaN,PONTIANAK,Buku Ajar Teori Ekonomi Makro,Sattar & Silvana Kardinar Wijayanti,1,86000,86000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,PONTIANAK
226,227,2020-03-20,Atria T,NaN,PONTIANAK,Modul PBB dan Bea Materai,Suprihati dan Budiyono,1,72500,72500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,PONTIANAK

###Manambkan Kolom Provinsi

In [211]:
MAR_df3 = MAR_df3.merge(prov_df, on='Kabupaten/Kota', how='left')

In [212]:
MAR_df3.loc[:,['Kabupaten/Kota', 'Provinsi']]

    Kabupaten/Kota          Provinsi
0            BOGOR        JAWA BARAT
1            BOGOR        JAWA BARAT
2        TANGERANG            BANTEN
3        TANGERANG            BANTEN
4         WONOSOBO       JAWA TENGAH
..             ...               ...
296  LUBUK LINGGAU  SUMATERA SELATAN
297       KARAWANG        JAWA BARAT
298      PONTIANAK  KALIMANTAN BARAT
299      PONTIANAK  KALIMANTAN BARAT
300      PONTIANAK  KALIMANTAN BARAT

[301 rows x 2 columns]

## APRIL 2020

###Load Dataset

In [213]:
APR_df3 = pd.read_excel("https://github.com/dickyilhami/Analysis-Book-Sales/blob/main/Dataset/data-order-online-2020-ed.xlsx?raw=true", sheet_name = "M.APRIL")
APR_df3

,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,discount,...,Total Real,Diskon,Unnamed: 23,Unnamed: 24,Unnamed: 25,No,Market Place,Tanggal,Pukul,Nilai Saldo
0,2020-03-23,Bukalapak Juragan,masrita,Kutai Barat,Pendekatan Penelitian Kuantitatif: Quantitativ...,Ajat Rukajat,1.0,71000.0,71000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-03-23,Tokopedia,Sri damayanti,Denpasar,Penghitungan Unit Cost (UC) Dan Penyusunan Tar...,Tri Muhammad Hani,1.0,92000.0,92000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-03-23,Bukalapak Gudang,I Wayan,Bekasi,Lebih Dekat Dengan Industri 4.0,Akmal,1.0,117000.0,117000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-03-23,Bukalapak Gudang,Bahrun Borahima,Cimahi,Penelitian Kuantitatif Desain dan Analisis Dat...,Agustinus Bandur,1.0,153000.0,153000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-03-23,Lazada,Sofiyah Kaltsum,Bandung,Good Corporate Governance Manajemen Laba dan K...,Sochib,1.0,85000.0,85000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,NaT,Total Pemasukan,12627750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,NaT,Total Eksemplar,138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,NaT,Total Transaksi,107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,NaT,Transaksi Retail (WA & WEB),46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,NaT,Transaksi Market place,59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [214]:
APR_df3 = APR_df3.iloc[:-7 , :]

###Memisahkan Kabupaten/Kota dari Alamat

In [215]:
APR_df3['Alamat ']=APR_df3['Alamat '].apply(str)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [216]:
APR_df3['Alamat '] = APR_df3['Alamat '].str.upper()
alamat_df = APR_df3['Alamat ']
alamat_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0      KUTAI BARAT
1         DENPASAR
2           BEKASI
3           CIMAHI
4          BANDUNG
          ...
130           BALI
131         BEKASI
132         BEKASI
133     YOGYAKARTA
134          BLORA
Name: Alamat , Length: 135, dtype: object

In [217]:
def kab(alamat):
  kabupaten=''
  alamat_list = alamat.to_list()
  ls_kab = list()
  for i in range(len(alamat_list)):
    for j in list_kab:
      if (str(j) == str(alamat_list[i])):
        #print(j)
        #print(i)
        kabupaten = j
        break
      else:
        # jika tidak ada dalam list, maka ambil kolom kabupaten/kota
        kabupaten = 'UNDEFINED'
    ls_kab.append(kabupaten)
  
  #print(ls_kab)
  return ls_kab

In [218]:
ls = list()
ls = kab(APR_df3['Alamat '])

In [219]:
APR_df3['Kabupaten/Kota'] = ls

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [220]:
APR_df3

,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,discount,...,Diskon,Unnamed: 23,Unnamed: 24,Unnamed: 25,No,Market Place,Tanggal,Pukul,Nilai Saldo,Kabupaten/Kota
0,2020-03-23,Bukalapak Juragan,masrita,KUTAI BARAT,Pendekatan Penelitian Kuantitatif: Quantitativ...,Ajat Rukajat,1.0,71000.0,71000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KUTAI BARAT
1,2020-03-23,Tokopedia,Sri damayanti,DENPASAR,Penghitungan Unit Cost (UC) Dan Penyusunan Tar...,Tri Muhammad Hani,1.0,92000.0,92000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DENPASAR
2,2020-03-23,Bukalapak Gudang,I Wayan,BEKASI,Lebih Dekat Dengan Industri 4.0,Akmal,1.0,117000.0,117000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BEKASI
3,2020-03-23,Bukalapak Gudang,Bahrun Borahima,CIMAHI,Penelitian Kuantitatif Desain dan Analisis Dat...,Agustinus Bandur,1.0,153000.0,153000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CIMAHI
4,2020-03-23,Lazada,Sofiyah Kaltsum,BANDUNG,Good Corporate Governance Manajemen Laba dan K...,Sochib,1.0,85000.0,85000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BANDUNG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,2020-04-23,Web,Ni Putu Ayu,BALI,Langkah Runtut Menghitung Rencana Anggaran Bia...,"Anik Rahmawati Wahyuningsih, S.T., M.T.",1.0,90000.0,90000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNDEFINED
131,2020-04-23,Lazada,Cinthya Inri,BEKASI,Hukum Tindak Pidana Khusus,"Hartanto, Margo Hadi Pura, Oci Senjaya",1.0,99500.0,99500.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BEKASI
132,2020-04-23,Lazada,Cinthya Inri,BEKASI,PIDANA DAN PEMIDANAAN\nDALAM SISTEM HUKUM\nDI ...,"DR. Hj. Tina Asmarawati, S.H., M.H.",1.0,89500.0,89500.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BEKASI
133,2020-04-23,WA,Dirlantas Polda DIY,YOGYAKARTA,Collaborative Governance Konsep Dan Aplikasi,La Ode Syaiful Islamy H.,1.0,102000.0,102000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,YOGYAKARTA
134,2020-04-23,Web,Sariman,BLORA,Mengenal Tugas Pokok dan Fungsi Pengawas Sekol...,A.A Ketut Jelantik,1.0,115000.0,115000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BLORA

###Menambakan Kolom Provinsi

In [221]:
APR_df3 = APR_df3.merge(prov_df, on='Kabupaten/Kota', how='left')

In [222]:
APR_df3.loc[:,['Kabupaten/Kota', 'Provinsi']]

    Kabupaten/Kota          Provinsi
0      KUTAI BARAT  KALIMANTAN TIMUR
1         DENPASAR              BALI
2           BEKASI        JAWA BARAT
3           BEKASI        JAWA BARAT
4           CIMAHI        JAWA BARAT
..             ...               ...
170         BEKASI        JAWA BARAT
171         BEKASI        JAWA BARAT
172         BEKASI        JAWA BARAT
173     YOGYAKARTA     DI YOGYAKARTA
174          BLORA       JAWA TENGAH

[175 rows x 2 columns]

## MEI 2020

###Load Dataset

In [223]:
MEI_df3 = pd.read_excel("https://github.com/dickyilhami/Analysis-Book-Sales/blob/main/Dataset/data-order-online-2020-ed.xlsx?raw=true", sheet_name = "M. MEI")
MEI_df3

,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,discount,...,total,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon
0,2020-04-24,Lazada,Ida Mayda,Jakarta Pusat,Pengantar Hukum Indonesia,Rahman Amin,1,158000.0,158000.0,NaN,...,95000.0,Lazada,398933646489158,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-04-24,WA,YF Gunarsih,Surakarta,Komunikasi Krisis,Ayub Ilfandy Imran,1,74000.0,74000.0,NaN,...,54700.0,WA,YF Gunarsih,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-04-24,WA,YF Gunarsih,Surakarta,Sosiologi Keluarga,Safrudin dan H. Darwin,1,92500.0,92500.0,NaN,...,50875.0,WA,YF Gunarsih,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-04-27,Tokopedia,Eprisca,Tangerang Selatan,Caring Dan Comfort Perawat Dalam Kegawatdaruratan,"Insana Maria, dkk",1,30000.0,30000.0,NaN,...,23700.0,Tokopedia,INV/20200426/XX/IV/529526114,wahana,AXT72728,NaN,NaN,NaN,NaN,NaN
4,2020-04-27,Bukalapak Gudang,Andi Yan,Brebes,Teknik Membuat Jawaban: Perkara Perdata Lelang...,Mulyadi,1,61000.0,61000.0,NaN,...,33550.0,Bukalapak Gudang,202803947373,sicepat,369074128,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,2020-05-20,Shopee,Alvi divia,Karawang,Buku Ajar Keperawatan Gerontik -,Sofia Rhosma Dewi. S.Kep.Ners.,1,99500.0,99500.0,NaN,...,121017.0,Shopee,200519GNYRVME8,j&t,JP0645438958,NaN,NaN,NaN,NaN,NaN
106,2020-05-20,WA,Ngurah Wiryawan,Mengwi,Merawat Pluralisme Merawat Indonesia (Potret P...,Made Saihu,1,188500.0,188500.0,NaN,...,222575.0,WA,37941,jne,NaN,NaN,NaN,NaN,NaN,NaN
107,2020-05-20,Shopee,Emilia,Sumatera selatan,Teams games tournament (TGT) dan Jigsaw melalu...,FX Agus Hariyanto,1,91000.0,91000.0,13650.0,...,132643.0,Shopee,200520J4Y8S22G,j&t,JP2196803632,NaN,NaN,NaN,NaN,NaN
108,2020-05-20,Shopee,Aulia safira,Yogyakarta,Validasi dan Verifikasi Metode Uji: Sesuai den...,"Riyanto, Ph.D.",1,96000.0,96000.0,14400.0,...,78744.0,Shopee,200520K1AMFY83,j&t,JP7877955106,NaN,NaN,NaN,NaN,NaN
109,NaT,NaN,NaN,NaN,NaN,NaN,126,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [224]:
MEI_df3 = MEI_df3.iloc[:-1 , :]

###Memisahkan Kabupaten/Kota dari Alamat

In [225]:
MEI_df3['Alamat ']=MEI_df3['Alamat '].apply(str)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [226]:
MEI_df3['Alamat '] = MEI_df3['Alamat '].str.upper()
alamat_df = MEI_df3['Alamat ']
alamat_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0          JAKARTA PUSAT
1              SURAKARTA
2              SURAKARTA
3      TANGERANG SELATAN
4                 BREBES
             ...
104               SLEMAN
105             KARAWANG
106               MENGWI
107     SUMATERA SELATAN
108           YOGYAKARTA
Name: Alamat , Length: 109, dtype: object

In [227]:
def kab(alamat):
  kabupaten=''
  alamat_list = alamat.to_list()
  ls_kab = list()
  for i in range(len(alamat_list)):
    for j in list_kab:
      if (str(j) == str(alamat_list[i])):
        #print(j)
        #print(i)
        kabupaten = j
        break
      else:
        # jika tidak ada dalam list, maka ambil kolom kabupaten/kota
        kabupaten = 'UNDEFINED'
    ls_kab.append(kabupaten)
  
  #print(ls_kab)
  return ls_kab

In [228]:
ls = list()
ls = kab(MEI_df3['Alamat '])

In [229]:
MEI_df3['Kabupaten/Kota'] = ls

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [230]:
MEI_df3

,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,discount,...,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon,Kabupaten/Kota
0,2020-04-24,Lazada,Ida Mayda,JAKARTA PUSAT,Pengantar Hukum Indonesia,Rahman Amin,1,158000.0,158000.0,NaN,...,Lazada,398933646489158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JAKARTA PUSAT
1,2020-04-24,WA,YF Gunarsih,SURAKARTA,Komunikasi Krisis,Ayub Ilfandy Imran,1,74000.0,74000.0,NaN,...,WA,YF Gunarsih,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SURAKARTA
2,2020-04-24,WA,YF Gunarsih,SURAKARTA,Sosiologi Keluarga,Safrudin dan H. Darwin,1,92500.0,92500.0,NaN,...,WA,YF Gunarsih,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SURAKARTA
3,2020-04-27,Tokopedia,Eprisca,TANGERANG SELATAN,Caring Dan Comfort Perawat Dalam Kegawatdaruratan,"Insana Maria, dkk",1,30000.0,30000.0,NaN,...,Tokopedia,INV/20200426/XX/IV/529526114,wahana,AXT72728,NaN,NaN,NaN,NaN,NaN,TANGERANG SELATAN
4,2020-04-27,Bukalapak Gudang,Andi Yan,BREBES,Teknik Membuat Jawaban: Perkara Perdata Lelang...,Mulyadi,1,61000.0,61000.0,NaN,...,Bukalapak Gudang,202803947373,sicepat,369074128,NaN,NaN,NaN,NaN,NaN,BREBES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,2020-05-20,WA,Iis,SLEMAN,Menulis & Menggambar Puisi & Cerita Pendek,Nadia Salsabila & Iisrohli,1,54000.0,54000.0,NaN,...,WA,NaN,wahana,NaN,NaN,NaN,NaN,NaN,NaN,SLEMAN
105,2020-05-20,Shopee,Alvi divia,KARAWANG,Buku Ajar Keperawatan Gerontik -,Sofia Rhosma Dewi. S.Kep.Ners.,1,99500.0,99500.0,NaN,...,Shopee,200519GNYRVME8,j&t,JP0645438958,NaN,NaN,NaN,NaN,NaN,KARAWANG
106,2020-05-20,WA,Ngurah Wiryawan,MENGWI,Merawat Pluralisme Merawat Indonesia (Potret P...,Made Saihu,1,188500.0,188500.0,NaN,...,WA,37941,jne,NaN,NaN,NaN,NaN,NaN,NaN,UNDEFINED
107,2020-05-20,Shopee,Emilia,SUMATERA SELATAN,Teams games tournament (TGT) dan Jigsaw melalu...,FX Agus Hariyanto,1,91000.0,91000.0,13650.0,...,Shopee,200520J4Y8S22G,j&t,JP2196803632,NaN,NaN,NaN,NaN,NaN,UNDEFINED
108,2020-05-20,Shopee,Aulia safira,YOGYAKARTA,Validasi dan Verifikasi Metode Uji: Sesuai den...,"Riyanto, Ph.D.",1,96000.0,96000.0,14400.0,...,Shopee,200520K1AMFY83,j&t,JP7877955106,NaN,NaN,NaN,NaN,NaN,YOGYAKARTA

###Menambahkan Kolom Provinsi

In [231]:
MEI_df3 = MEI_df3.merge(prov_df, on='Kabupaten/Kota', how='left')

In [232]:
MEI_df3.loc[:,['Kabupaten/Kota', 'Provinsi']]

        Kabupaten/Kota       Provinsi
0        JAKARTA PUSAT    DKI JAKARTA
1            SURAKARTA    JAWA TENGAH
2            SURAKARTA    JAWA TENGAH
3    TANGERANG SELATAN         BANTEN
4               BREBES    JAWA TENGAH
..                 ...            ...
115             SLEMAN  DI YOGYAKARTA
116           KARAWANG     JAWA BARAT
117          UNDEFINED      UNDEFINED
118          UNDEFINED      UNDEFINED
119         YOGYAKARTA  DI YOGYAKARTA

[120 rows x 2 columns]

## JUNI 2020

###Load Dataset

In [233]:
JUN_df3 = pd.read_excel("https://github.com/dickyilhami/Analysis-Book-Sales/blob/main/Dataset/data-order-online-2020-ed.xlsx?raw=true", sheet_name = "M. JUNI")
JUN_df3

,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,discount,...,total,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon
0,2020-05-22,Lazada,Elma P,Tangerang,Keselamatan dan Kesehatan Kerja -,Sri Larasati,1,144000.0,144000.0,21600.0,...,122400.0,Lazada,411820668476125\n,j&t,JZ1000066223,NaN,NaN,NaN,NaN,NaN
1,2020-05-22,Website,Fitri W,Depok,Perencanaan Pembangunan Partisipatif Desa -,Hariawan Bihamding,1,129000.0,129000.0,NaN,...,146091.0,Website,37956,jne,1404902000014240,NaN,NaN,NaN,NaN,NaN
2,2020-05-22,Website,Ayu fitri,Klaten,Langkah Runtut Menghitung Rencana Anggaran Bia...,Anik Rahmawati Wahyuningsih,1,90000.0,90000.0,NaN,...,96035.0,Website,37954,wahana,AYJ13225,NaN,NaN,NaN,NaN,NaN
3,2020-05-22,WA,Muhammad Taufan,Makassar,Pengelolaan Agroforestry,"Dr. Meity Melani Mokoginta, S.Hut., Msi.",1,69000.0,69000.0,NaN,...,124000.0,WA,NaN,jne,140540034070120,NaN,NaN,NaN,NaN,NaN
4,2020-05-26,Tokopedia,Sutikno,Tangerang,Aplikasi Internet of Things (IoT) dengan Ardui...,"Sigit Wasista, Setiawardhana, Delima Ayu Saras...",1,65500.0,65500.0,NaN,...,81900.0,Tokopedia,INV/20200522/XX/V/548676885,anteraja,10000257674645,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,2020-06-23,Bukalapak Juragan,Saptono,Ciledug,Logika Hukum,Urip Sucipto,1,65000.0,65000.0,NaN,...,72000.0,Bukalapak Juragan,202874081221,wahana,AYZ02268,NaN,NaN,NaN,NaN,NaN
139,2020-06-23,WA,Kak Afif,Yogyakarta,Pertanian Terpadu Model Rancangbangun & Penera...,"Rupa Matheus, dkk",1,64000.0,64000.0,NaN,...,64000.0,kak Afif,NaN,diambil,diambil,NaN,NaN,NaN,NaN,NaN
140,2020-06-24,Bukalapak Gudang,Unang,Bandung,Implementasi Model Pembelajaran Guided Inquiry...,"Siska Desy, dkk",1,83000.0,83000.0,NaN,...,83000.0,Bukalapak Gudang,202874571184,sicepat,856852348,NaN,NaN,NaN,NaN,NaN
141,2020-06-24,Web,Astrilia,Bogor,Pengaruh Hutan dan Pengelolaan Daerah Aliran S...,Ria Rosdiana Hutagaol,1,75500.0,75500.0,NaN,...,92561.0,Web,39393,jne,NaN,NaN,NaN,NaN,NaN,NaN
142,NaT,NaN,NaN,NaN,NaN,NaN,243,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [234]:
JUN_df3 = JUN_df3.iloc[:-1 , :]

###Memisahkan Kabupaten/Kota dari Alamat

In [235]:
JUN_df3['Alamat ']=JUN_df3['Alamat '].apply(str)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [236]:
JUN_df3['Alamat '] = JUN_df3['Alamat '].str.upper()
alamat_df = JUN_df3['Alamat ']
alamat_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0       TANGERANG
1           DEPOK
2          KLATEN
3        MAKASSAR
4       TANGERANG
          ...
137       BANDUNG
138       CILEDUG
139    YOGYAKARTA
140       BANDUNG
141         BOGOR
Name: Alamat , Length: 142, dtype: object

In [237]:
def Kab(alamat):
  kabupaten = ""
  if re.search('KABUPATEN/KOTA',alamat) :
    tmp = re.search('KABUPATEN/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB/KOTA',alamat):
    tmp = re.search('KAB/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB',alamat):
    tmp = re.search('KAB',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KOTA',alamat):
    tmp = re.search('KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KABUPATEN',alamat):
    tmp = re.search('KABUPATEN',alamat)
    data_to_find = alamat[tmp.end()::]
  else:
    data_to_find = alamat

  for kab in list_kab:
    if kab in data_to_find:
      kabupaten = kab
      break

  if (kabupaten == ''):
    kabupaten = 'UNDEFINED'
  
  return kabupaten

In [238]:
data_alamat = [Kab(alamat) for alamat in alamat_df.to_list()]

In [239]:
JUN_df3['Kabupaten/Kota'] = data_alamat

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [240]:
JUN_df3

,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,discount,...,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon,Kabupaten/Kota
0,2020-05-22,Lazada,Elma P,TANGERANG,Keselamatan dan Kesehatan Kerja -,Sri Larasati,1,144000.0,144000.0,21600.0,...,Lazada,411820668476125\n,j&t,JZ1000066223,NaN,NaN,NaN,NaN,NaN,TANGERANG
1,2020-05-22,Website,Fitri W,DEPOK,Perencanaan Pembangunan Partisipatif Desa -,Hariawan Bihamding,1,129000.0,129000.0,NaN,...,Website,37956,jne,1404902000014240,NaN,NaN,NaN,NaN,NaN,DEPOK
2,2020-05-22,Website,Ayu fitri,KLATEN,Langkah Runtut Menghitung Rencana Anggaran Bia...,Anik Rahmawati Wahyuningsih,1,90000.0,90000.0,NaN,...,Website,37954,wahana,AYJ13225,NaN,NaN,NaN,NaN,NaN,KLATEN
3,2020-05-22,WA,Muhammad Taufan,MAKASSAR,Pengelolaan Agroforestry,"Dr. Meity Melani Mokoginta, S.Hut., Msi.",1,69000.0,69000.0,NaN,...,WA,NaN,jne,140540034070120,NaN,NaN,NaN,NaN,NaN,MAKASSAR
4,2020-05-26,Tokopedia,Sutikno,TANGERANG,Aplikasi Internet of Things (IoT) dengan Ardui...,"Sigit Wasista, Setiawardhana, Delima Ayu Saras...",1,65500.0,65500.0,NaN,...,Tokopedia,INV/20200522/XX/V/548676885,anteraja,10000257674645,NaN,NaN,NaN,NaN,NaN,TANGERANG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,2020-06-23,Tokopedia,Ria,BANDUNG,Farmasi bahari -,Moelyono,1,60000.0,60000.0,NaN,...,Tokopedia,INV/20200623/XX/VI/568771869,anteraja,10000307218399,NaN,NaN,NaN,NaN,NaN,BANDUNG
138,2020-06-23,Bukalapak Juragan,Saptono,CILEDUG,Logika Hukum,Urip Sucipto,1,65000.0,65000.0,NaN,...,Bukalapak Juragan,202874081221,wahana,AYZ02268,NaN,NaN,NaN,NaN,NaN,UNDEFINED
139,2020-06-23,WA,Kak Afif,YOGYAKARTA,Pertanian Terpadu Model Rancangbangun & Penera...,"Rupa Matheus, dkk",1,64000.0,64000.0,NaN,...,kak Afif,NaN,diambil,diambil,NaN,NaN,NaN,NaN,NaN,YOGYAKARTA
140,2020-06-24,Bukalapak Gudang,Unang,BANDUNG,Implementasi Model Pembelajaran Guided Inquiry...,"Siska Desy, dkk",1,83000.0,83000.0,NaN,...,Bukalapak Gudang,202874571184,sicepat,856852348,NaN,NaN,NaN,NaN,NaN,BANDUNG
141,2020-06-24,Web,Astrilia,BOGOR,Pengaruh Hutan dan Pengelolaan Daerah Aliran S...,Ria Rosdiana Hutagaol,1,75500.0,75500.0,NaN,...,Web,39393,jne,NaN,NaN,NaN,NaN,NaN,NaN,BOGOR

###Menambahkan Kolom Provinsi

In [241]:
JUN_df3 = JUN_df3.merge(prov_df, on='Kabupaten/Kota', how='left')

In [242]:
JUN_df3.loc[:,['Kabupaten/Kota', 'Provinsi']]

    Kabupaten/Kota          Provinsi
0        TANGERANG            BANTEN
1        TANGERANG            BANTEN
2            DEPOK        JAWA BARAT
3           KLATEN       JAWA TENGAH
4         MAKASSAR  SULAWESI SELATAN
..             ...               ...
166     YOGYAKARTA     DI YOGYAKARTA
167        BANDUNG        JAWA BARAT
168        BANDUNG        JAWA BARAT
169          BOGOR        JAWA BARAT
170          BOGOR        JAWA BARAT

[171 rows x 2 columns]

## JULI 2020

###Load Dataset

In [243]:
JUL_df3 = pd.read_excel("https://github.com/dickyilhami/Analysis-Book-Sales/blob/main/Dataset/data-order-online-2020-ed.xlsx?raw=true", sheet_name = "M.JULI")
JUL_df3

,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,discount,...,total,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon
0,2020-06-25,Tokopedia,Suwastono,Jl. Mahesa No. 20 Rt 06 RW 04 Depan Utara Pasa...,Belajar Bahasa Jepang Mudah dan Tuntas (Seri H...,Maria N. Luthfiah,1,58000.0,58000.0,NaN,...,85000.0,Tokopedia,INV/20200624/XX/VI/569962197,sicepat,NaN,426670749,NaN,NaN,NaN,NaN
1,2020-06-25,Web,Mochamad Yusuf Kurniawan,Jl. Merpati No. 18 Genteng\nGenteng\nKabupaten...,Arsitektur Vernakular & Tradisi Arsitektur Ver...,Nurnaningsih Nico Abdul,1,89000.0,89000.0,NaN,...,109074.0,Web,39394,jne,NaN,1404902000018460,NaN,NaN,NaN,NaN
2,2020-06-25,Web,Mochamad Yusuf Kurniawan,Jl. Merpati No. 18 Genteng\nGenteng\nKabupaten...,Perencanaan dan Perancangan Hotel,I Made Trisna Semara,1,69000.0,69000.0,NaN,...,69000.0,Web,39394,jne,NaN,1404902000018460,NaN,NaN,NaN,NaN
3,2020-06-25,Web,Mochamad Yusuf Kurniawan,Jl. Merpati No. 18 Genteng\nGenteng\nKabupaten...,Ventilasi Atap,Jefrey I. Kindangen,1,77000.0,77000.0,NaN,...,77000.0,Web,39394,jne,NaN,1404902000018460,NaN,NaN,NaN,NaN
4,2020-06-25,Web,Mochamad Yusuf Kurniawan,Jl. Merpati No. 18 Genteng\nGenteng\nKabupaten...,Sistem Utilitas Bangunan: untuk Arsitek,Sugeng Triyadi & Andi Harapan,1,103000.0,103000.0,NaN,...,103000.0,Web,39394,jne,NaN,1404902000018460,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,2020-07-23,Web,Diemas Nur,jl musi 1 blok c nomer 1 Kel. Bugangan\nSemara...,Budidaya Ikan Lele Sistem Bioflok -,Ita Apriyani,1,59500.0,59500.0,8925.0,...,61603.0,Web,40289,jne,NaN,NaN,NaN,NaN,NaN,NaN
264,2020-07-23,Web,Diemas Nur,jl musi 1 blok c nomer 1 Kel. Bugangan\nSemara...,PENYEDIAAN PROTEIN HEWANI MELALUI PEMANFAATAN ...,"Nanang Samsu, S.ST.",1,22500.0,22500.0,3375.0,...,19125.0,Web,40289,jne,NaN,NaN,NaN,NaN,NaN,NaN
265,2020-07-23,Web,Diemas Nur,jl musi 1 blok c nomer 1 Kel. Bugangan\nSemara...,PENINGKATAN PRODUKSI IKAN NILA MELALUI PEMANFA...,"Nanang Samsu, S.ST.",1,28000.0,28000.0,4200.0,...,23800.0,Web,40289,jne,NaN,NaN,NaN,NaN,NaN,NaN
266,2020-07-23,Web,Siti Raudah,Lembaga Pemasyarakatan kelas IIB Pangkalan Bun...,Tinjauan Psikologi Hukum dalam perlindungan Anak,Vilta Biljana B L dan Yana Suryana,1,86000.0,86000.0,NaN,...,139014.0,Web,40336,jne,NaN,NaN,NaN,NaN,NaN,NaN
267,NaT,NaN,NaN,NaN,NaN,NaN,303,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [244]:
JUL_df3 = JUL_df3.iloc[:-1 , :]

###Memisahkan Kabupaten/Kota dari Alamat

In [245]:
JUL_df3['Alamat ']=JUL_df3['Alamat '].apply(str)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [246]:
JUL_df3['Alamat '] = JUL_df3['Alamat '].str.upper()
alamat_df = JUL_df3['Alamat ']
alamat_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0      JL. MAHESA NO. 20 RT 06 RW 04 DEPAN UTARA PASA...
1      JL. MERPATI NO. 18 GENTENG\nGENTENG\nKABUPATEN...
2      JL. MERPATI NO. 18 GENTENG\nGENTENG\nKABUPATEN...
3      JL. MERPATI NO. 18 GENTENG\nGENTENG\nKABUPATEN...
4      JL. MERPATI NO. 18 GENTENG\nGENTENG\nKABUPATEN...
                             ...
262    DSN PULE DS BAKALANPULE RT 4 RW 3 GG. KEBUNREJ...
263    JL MUSI 1 BLOK C NOMER 1 KEL. BUGANGAN\nSEMARA...
264    JL MUSI 1 BLOK C NOMER 1 KEL. BUGANGAN\nSEMARA...
265    JL MUSI 1 BLOK C NOMER 1 KEL. BUGANGAN\nSEMARA...
266    LEMBAGA PEMASYARAKATAN KELAS IIB PANGKALAN BUN...
Name: Alamat , Length: 267, dtype: object

In [247]:
def Kab(alamat):
  kabupaten = ""
  if re.search('KABUPATEN/KOTA',alamat) :
    tmp = re.search('KABUPATEN/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB/KOTA',alamat):
    tmp = re.search('KAB/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB',alamat):
    tmp = re.search('KAB',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KOTA',alamat):
    tmp = re.search('KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KABUPATEN',alamat):
    tmp = re.search('KABUPATEN',alamat)
    data_to_find = alamat[tmp.end()::]
  else:
    data_to_find = alamat

  for kab in list_kab:
    if kab in data_to_find:
      kabupaten = kab
      break

  if (kabupaten == ''):
    kabupaten = 'UNDEFINED'
  
  return kabupaten

In [248]:
data_alamat = [Kab(alamat) for alamat in alamat_df.to_list()]

In [249]:
JUL_df3['Kabupaten/Kota'] = data_alamat

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [250]:
JUL_df3

,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,discount,...,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon,Kabupaten/Kota
0,2020-06-25,Tokopedia,Suwastono,JL. MAHESA NO. 20 RT 06 RW 04 DEPAN UTARA PASA...,Belajar Bahasa Jepang Mudah dan Tuntas (Seri H...,Maria N. Luthfiah,1,58000.0,58000.0,NaN,...,Tokopedia,INV/20200624/XX/VI/569962197,sicepat,NaN,426670749,NaN,NaN,NaN,NaN,MALANG
1,2020-06-25,Web,Mochamad Yusuf Kurniawan,JL. MERPATI NO. 18 GENTENG\nGENTENG\nKABUPATEN...,Arsitektur Vernakular & Tradisi Arsitektur Ver...,Nurnaningsih Nico Abdul,1,89000.0,89000.0,NaN,...,Web,39394,jne,NaN,1404902000018460,NaN,NaN,NaN,NaN,BANYUWANGI
2,2020-06-25,Web,Mochamad Yusuf Kurniawan,JL. MERPATI NO. 18 GENTENG\nGENTENG\nKABUPATEN...,Perencanaan dan Perancangan Hotel,I Made Trisna Semara,1,69000.0,69000.0,NaN,...,Web,39394,jne,NaN,1404902000018460,NaN,NaN,NaN,NaN,BANYUWANGI
3,2020-06-25,Web,Mochamad Yusuf Kurniawan,JL. MERPATI NO. 18 GENTENG\nGENTENG\nKABUPATEN...,Ventilasi Atap,Jefrey I. Kindangen,1,77000.0,77000.0,NaN,...,Web,39394,jne,NaN,1404902000018460,NaN,NaN,NaN,NaN,BANYUWANGI
4,2020-06-25,Web,Mochamad Yusuf Kurniawan,JL. MERPATI NO. 18 GENTENG\nGENTENG\nKABUPATEN...,Sistem Utilitas Bangunan: untuk Arsitek,Sugeng Triyadi & Andi Harapan,1,103000.0,103000.0,NaN,...,Web,39394,jne,NaN,1404902000018460,NaN,NaN,NaN,NaN,BANYUWANGI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,2020-07-23,WA,M. Arif,DSN PULE DS BAKALANPULE RT 4 RW 3 GG. KEBUNREJ...,Budidaya Ikan Lele Sistem Bioflok: Teknik Pemb...,Ita Apriyani,1,59500.0,59500.0,NaN,...,WA,M. Arif,jne,NaN,NaN,NaN,NaN,NaN,NaN,LAMONGAN
263,2020-07-23,Web,Diemas Nur,JL MUSI 1 BLOK C NOMER 1 KEL. BUGANGAN\nSEMARA...,Budidaya Ikan Lele Sistem Bioflok -,Ita Apriyani,1,59500.0,59500.0,8925.0,...,Web,40289,jne,NaN,NaN,NaN,NaN,NaN,NaN,SEMARANG
264,2020-07-23,Web,Diemas Nur,JL MUSI 1 BLOK C NOMER 1 KEL. BUGANGAN\nSEMARA...,PENYEDIAAN PROTEIN HEWANI MELALUI PEMANFAATAN ...,"Nanang Samsu, S.ST.",1,22500.0,22500.0,3375.0,...,Web,40289,jne,NaN,NaN,NaN,NaN,NaN,NaN,SEMARANG
265,2020-07-23,Web,Diemas Nur,JL MUSI 1 BLOK C NOMER 1 KEL. BUGANGAN\nSEMARA...,PENINGKATAN PRODUKSI IKAN NILA MELALUI PEMANFA...,"Nanang Samsu, S.ST.",1,28000.0,28000.0,4200.0,...,Web,40289,jne,NaN,NaN,NaN,NaN,NaN,NaN,SEMARANG
266,2020-07-23,Web,Siti Raudah,LEMBAGA PEMASYARAKATAN KELAS IIB PANGKALAN BUN...,Tinjauan Psikologi Hukum dalam perlindungan Anak,Vilta Biljana B L dan Yana Suryana,1,86000.0,86000.0,NaN,...,Web,40336,jne,NaN,NaN,NaN,NaN,NaN,NaN,KOTAWARINGIN BARAT

###Menambahkan Kolom Provinsi

In [251]:
JUL_df3 = JUL_df3.merge(prov_df, on='Kabupaten/Kota', how='left')

In [252]:
JUL_df3.loc[:,['Kabupaten/Kota', 'Provinsi']]

         Kabupaten/Kota           Provinsi
0                MALANG         JAWA TIMUR
1                MALANG         JAWA TIMUR
2            BANYUWANGI         JAWA TIMUR
3            BANYUWANGI         JAWA TIMUR
4            BANYUWANGI         JAWA TIMUR
..                  ...                ...
300            SEMARANG        JAWA TENGAH
301            SEMARANG        JAWA TENGAH
302            SEMARANG        JAWA TENGAH
303            SEMARANG        JAWA TENGAH
304  KOTAWARINGIN BARAT  KALIMANTAN TENGAH

[305 rows x 2 columns]

##AGUSTUS 2020

###Load Dataset

In [253]:
AGUS_df3 = pd.read_excel("https://github.com/dickyilhami/Analysis-Book-Sales/blob/main/Dataset/data-order-online-2020-ed.xlsx?raw=true", sheet_name = "M. AGUSTUS")
AGUS_df3

,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,discount,...,total,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon
0,2020-07-24,WA,Darmawati,Jl. P. Antasari Gg. 5 Blok A1 No. 2 Kel Teluk ...,Pneumatik dan Hidrolik,"Wirawan Sumbodo, Rizki Setiadi dan Sigit\nPoed...",1,115500.0,115500.0,NaN,...,154500.0,WA,NaN,jne,NaN,1404902000022590,NaN,NaN,NaN,NaN
1,2020-07-24,WA,Darmawati,Jl. P. Antasari Gg. 5 Blok A1 No. 2 Kel Teluk ...,Dasar Teknik Listrik,Hantje Ponto,1,120000.0,120000.0,NaN,...,NaN,WA,NaN,jne,NaN,1404902000022590,NaN,NaN,NaN,NaN
2,2020-07-24,Web,Nita Sari Narulita Dewi,JL.LEUWI ANYAR NO 31 BABAKAN KALANG SARI RT 00...,Mengajar Bahasa Inggris dengan Teknologi Teori...,I.P.I. Kusuma,1,138000.0,138000.0,NaN,...,145066.0,Web,40341,wahana,NaN,AZT86618,NaN,NaN,NaN,NaN
3,2020-07-24,Web,I Ketut Oka,"Jalan Sidakarya No. 157 Br. Sekar Kangin, Denp...",Mengajar Bahasa Inggris dengan Teknologi Teori...,I.P.I. Kusuma,1,138000.0,138000.0,NaN,...,148048.0,Web,40340,wahana,NaN,AZT86673,NaN,NaN,NaN,NaN
4,2020-07-24,Tokopedia,Josesimoes,Penjahit Cv. Viktori jalan Janti Gowok Caturtu...,Man Behind The Scene -,Lalu Muhammad Saleh,1,88000.0,88000.0,NaN,...,94400.0,Tokopedia,INV/20200724/XX/VII/591681856,wahana,NaN,AZT87179,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,2020-08-24,WA,Basith Abi,Jalan Raya Kramat RT 05 RW 01 Desa Kramat Kec....,Buku Ajar Persamaan Diferensial Jilid 2,Tetty Natalia Sipayung,1,63500.0,63500.0,NaN,...,63500.0,WA,Basith Abi,J&T,NaN,NaN,NaN,NaN,NaN,NaN
212,2020-08-24,WA,Toni,"Jl Merdeka No 32, Pulo Brayan Kota, 20239\n K...",Jaringan Komputer dan Simulasi CISCO Packet Tr...,Andi Maslan,1,158000.0,158000.0,NaN,...,158000.0,WA,Toni,J&T,NaN,NaN,NaN,NaN,NaN,NaN
213,2020-08-24,WA,Toni,"Jl Merdeka No 32, Pulo Brayan Kota, 20239\n K...",Pengantar Teknologi Informasi – Teknik Informa...,Buhori Muslim,1,161000.0,161000.0,NaN,...,161000.0,WA,Toni,J&T,NaN,NaN,NaN,NaN,NaN,NaN
214,2020-08-24,WA,Bilqis,Jl. Syech abdul somad no. 28 Kel. 22 ilir.\nKe...,Perubahan Iklim Dan Kesehatan Masyarakat,Oksfriani Jufri Sumampouw,1,58000.0,58000.0,NaN,...,93000.0,WA,Bilqis,j&t,NaN,NaN,NaN,NaN,NaN,NaN
215,NaT,NaN,NaN,NaN,NaN,NaN,239,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [254]:
AGUS_df3 = AGUS_df3.iloc[:-1 , :]

###Memisahkan Kabupaten/Kota dari Alamat

In [255]:
AGUS_df3['Alamat ']=AGUS_df3['Alamat '].apply(str)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [256]:
AGUS_df3['Alamat '] = AGUS_df3['Alamat '].str.upper()
alamat_df = AGUS_df3['Alamat ']
alamat_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0      JL. P. ANTASARI GG. 5 BLOK A1 NO. 2 KEL TELUK ...
1      JL. P. ANTASARI GG. 5 BLOK A1 NO. 2 KEL TELUK ...
2      JL.LEUWI ANYAR NO 31 BABAKAN KALANG SARI RT 00...
3      JALAN SIDAKARYA NO. 157 BR. SEKAR KANGIN, DENP...
4      PENJAHIT CV. VIKTORI JALAN JANTI GOWOK CATURTU...
                             ...
210    JALAN RAYA KRAMAT RT 05 RW 01 DESA KRAMAT KEC....
211    JALAN RAYA KRAMAT RT 05 RW 01 DESA KRAMAT KEC....
212    JL MERDEKA NO 32, PULO BRAYAN KOTA, 20239\n  K...
213    JL MERDEKA NO 32, PULO BRAYAN KOTA, 20239\n  K...
214    JL. SYECH ABDUL SOMAD NO. 28 KEL. 22 ILIR.\nKE...
Name: Alamat , Length: 215, dtype: object

In [257]:
def Kab(alamat):
  kabupaten = ""
  if re.search('KABUPATEN/KOTA',alamat) :
    tmp = re.search('KABUPATEN/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB/KOTA',alamat):
    tmp = re.search('KAB/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KOTA',alamat):
    tmp = re.search('KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KABUPATEN',alamat):
    tmp = re.search('KABUPATEN',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB',alamat):
    tmp = re.search('KAB',alamat)
    data_to_find = alamat[tmp.end()::]
  else:
    data_to_find = alamat

  for kab in list_kab:
    if kab in data_to_find:
      kabupaten = kab
      break

  if (kabupaten == ''):
    kabupaten = 'UNDEFINED'
  
  return kabupaten

In [258]:
data_alamat = [Kab(alamat) for alamat in alamat_df.to_list()]

In [259]:
AGUS_df3['Kabupaten/Kota'] = data_alamat

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [260]:
AGUS_df3

,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,discount,...,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon,Kabupaten/Kota
0,2020-07-24,WA,Darmawati,JL. P. ANTASARI GG. 5 BLOK A1 NO. 2 KEL TELUK ...,Pneumatik dan Hidrolik,"Wirawan Sumbodo, Rizki Setiadi dan Sigit\nPoed...",1,115500.0,115500.0,NaN,...,WA,NaN,jne,NaN,1404902000022590,NaN,NaN,NaN,NaN,SAMARINDA
1,2020-07-24,WA,Darmawati,JL. P. ANTASARI GG. 5 BLOK A1 NO. 2 KEL TELUK ...,Dasar Teknik Listrik,Hantje Ponto,1,120000.0,120000.0,NaN,...,WA,NaN,jne,NaN,1404902000022590,NaN,NaN,NaN,NaN,SAMARINDA
2,2020-07-24,Web,Nita Sari Narulita Dewi,JL.LEUWI ANYAR NO 31 BABAKAN KALANG SARI RT 00...,Mengajar Bahasa Inggris dengan Teknologi Teori...,I.P.I. Kusuma,1,138000.0,138000.0,NaN,...,Web,40341,wahana,NaN,AZT86618,NaN,NaN,NaN,NaN,TASIKMALAYA
3,2020-07-24,Web,I Ketut Oka,"JALAN SIDAKARYA NO. 157 BR. SEKAR KANGIN, DENP...",Mengajar Bahasa Inggris dengan Teknologi Teori...,I.P.I. Kusuma,1,138000.0,138000.0,NaN,...,Web,40340,wahana,NaN,AZT86673,NaN,NaN,NaN,NaN,DENPASAR
4,2020-07-24,Tokopedia,Josesimoes,PENJAHIT CV. VIKTORI JALAN JANTI GOWOK CATURTU...,Man Behind The Scene -,Lalu Muhammad Saleh,1,88000.0,88000.0,NaN,...,Tokopedia,INV/20200724/XX/VII/591681856,wahana,NaN,AZT87179,NaN,NaN,NaN,NaN,SLEMAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,2020-08-24,WA,Basith Abi,JALAN RAYA KRAMAT RT 05 RW 01 DESA KRAMAT KEC....,Buku Ajar Persamaan Diferensial Jilid 1,Tetty Natalia Sipayung,1,67000.0,67000.0,NaN,...,WA,Basith Abi,J&T,NaN,NaN,NaN,NaN,NaN,NaN,TEGAL
211,2020-08-24,WA,Basith Abi,JALAN RAYA KRAMAT RT 05 RW 01 DESA KRAMAT KEC....,Buku Ajar Persamaan Diferensial Jilid 2,Tetty Natalia Sipayung,1,63500.0,63500.0,NaN,...,WA,Basith Abi,J&T,NaN,NaN,NaN,NaN,NaN,NaN,TEGAL
212,2020-08-24,WA,Toni,"JL MERDEKA NO 32, PULO BRAYAN KOTA, 20239\n K...",Jaringan Komputer dan Simulasi CISCO Packet Tr...,Andi Maslan,1,158000.0,158000.0,NaN,...,WA,Toni,J&T,NaN,NaN,NaN,NaN,NaN,NaN,MEDAN
213,2020-08-24,WA,Toni,"JL MERDEKA NO 32, PULO BRAYAN KOTA, 20239\n K...",Pengantar Teknologi Informasi – Teknik Informa...,Buhori Muslim,1,161000.0,161000.0,NaN,...,WA,Toni,J&T,NaN,NaN,NaN,NaN,NaN,NaN,MEDAN
214,2020-08-24,WA,Bilqis,JL. SYECH ABDUL SOMAD NO. 28 KEL. 22 ILIR.\nKE...,Perubahan Iklim Dan Kesehatan Masyarakat,Oksfriani Jufri Sumampouw,1,58000.0,58000.0,NaN,...,WA,Bilqis,j&t,NaN,NaN,NaN,NaN,NaN,NaN,PALEMBANG

###Menambahkan Kolom Provinsi

In [261]:
AGUS_df3 = AGUS_df3.merge(prov_df, on='Kabupaten/Kota', how='left')

In [262]:
AGUS_df3.loc[:,['Kabupaten/Kota', 'Provinsi']]

    Kabupaten/Kota          Provinsi
0        SAMARINDA  KALIMANTAN TIMUR
1        SAMARINDA  KALIMANTAN TIMUR
2      TASIKMALAYA        JAWA BARAT
3      TASIKMALAYA        JAWA BARAT
4         DENPASAR              BALI
..             ...               ...
247          TEGAL       JAWA TENGAH
248          TEGAL       JAWA TENGAH
249          MEDAN    SUMATERA UTARA
250          MEDAN    SUMATERA UTARA
251      PALEMBANG  SUMATERA SELATAN

[252 rows x 2 columns]

## SEPTEMBER 2020

###Load Dataset

In [263]:
SEPT_df3 = pd.read_excel("https://github.com/dickyilhami/Analysis-Book-Sales/blob/main/Dataset/data-order-online-2020-ed.xlsx?raw=true", sheet_name = "M. SEPTEMBER")
SEPT_df3

,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,discount,...,total,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon
0,2020-08-25,Shopee,Dian Natalia,PT Tosan mash Jl. Kudus Purwodadi KM 1 Tanjung...,Soal-Soal Kompetisi Matematika International -,"Muhammad Yusuf, S.Pd.",1,142500.0,142500.0,NaN,...,137042.0,Shopee,200824V91WRCHE,j&t,NaN,JP6904225978,NaN,NaN,NaN,NaN
1,2020-08-25,Tokopedia,Bala,Bidan Nurdina Jl. Dahlia RT 9 RW 2 Desa Milang...,Manajemen Alat Berat -,Adi Suryawan,1,69500.0,69500.0,NaN,...,90600.0,Tokopedia,INV/20200826/XX/VIII/614742351,anteraja,NaN,TKAA-T9KU99FRKMQ,NaN,NaN,NaN,NaN
2,2020-08-25,Tokopedia,Bala,Bidan Nurdina Jl. Dahlia RT 9 RW 2 Desa Milang...,Perancangan Campuran Beraspal -,Sutoyo,1,167000.0,167000.0,NaN,...,167000.0,Tokopedia,INV/20200826/XX/VIII/614742351,anteraja,NaN,TKAA-T9KU99FRKMQ,NaN,NaN,NaN,NaN
3,2020-08-25,Bukalapak Gudang,Dadang,Kontrakan Purbaya 2 No. 16/15 Jl. Ondo Suhandi...,Pembangkit Listrik Tenaga Air Skala Kecil,Luqman Hakim,1,54000.0,54000.0,NaN,...,54000.0,Bukalapak Gudang,202925532538,Sicepat,NaN,000859012560,NaN,NaN,NaN,NaN
4,2020-08-25,Bukalapak Juragan,Ibu Bima,Jalan Condet Baru No. 142 RT 003 RW 003 Kel Ba...,Perbuatan Melawan Hukum (Pmh) Oleh Pemerintah/...,Muhammad Adiguna Bimasakti,1,84000.0,84000.0,NaN,...,100000.0,Bukalapak Juragan,202925867858,jne,NaN,1404902000026670,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334,2020-09-24,Bukalapak Gudang,Dedi Effendi,"Jl. RM Kahfi I RT 10/06, No. 118, Gg. Bulind, ...",Rencana Induk Pembangunan Kepariwisataan Daera...,"Anton S. Sinery, dkk",1,391000.0,391000.0,NaN,...,391000.0,Bukalapak Gudang,202954738106,Sicepat,NaN,860199623,NaN,NaN,NaN,NaN
335,2020-09-24,wa,arif rahman,Yogyakarta,Mengolah Citra Pengindraan Jauh Dengan Google ...,Seftiawan Samsu Rijal,1,92000.0,92000.0,NaN,...,92000.0,wa,arif rahman,diambil,NaN,NaN,NaN,NaN,NaN,NaN
336,2020-09-24,Shopee,Siti Nur Anisa,Jl. SELAM VI NO.10 MANDALA BY PASS. KELURAHAN ...,Palu Hakim Versus Rasa Keadilan Sebuah Pengant...,"Hamidah Abdurrachman, Rahmad Agung Nugraha & N...",1,84000.0,84000.0,NaN,...,80363.0,Shopee,200924J7AMAMTD,j&T,NaN,JP7333381121,NaN,NaN,NaN,NaN
337,2020-09-24,wa,Bedi Susanto,Jl. Sersan Surip No. 41B Kel. Ledeng,Lebih Dekat Dengan Industri 4.0,Akmal,1,117000.0,117000.0,NaN,...,134000.0,WA,Bedi Susanto,jne reg,NaN,NaN,NaN,NaN,NaN,NaN
338,NaT,NaN,NaN,NaN,NaN,NaN,400,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [264]:
SEPT_df3 = SEPT_df3.iloc[:-1 , :]

###Memisahkan Kabupaten/Kota dari Alamat

In [265]:
SEPT_df3['Alamat ']=SEPT_df3['Alamat '].apply(str)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [266]:
SEPT_df3['Alamat '] = SEPT_df3['Alamat '].str.upper()
alamat_df = SEPT_df3['Alamat ']
alamat_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0      PT TOSAN MASH JL. KUDUS PURWODADI KM 1 TANJUNG...
1      BIDAN NURDINA JL. DAHLIA RT 9 RW 2 DESA MILANG...
2      BIDAN NURDINA JL. DAHLIA RT 9 RW 2 DESA MILANG...
3      KONTRAKAN PURBAYA 2 NO. 16/15 JL. ONDO SUHANDI...
4      JALAN CONDET BARU NO. 142 RT 003 RW 003 KEL BA...
                             ...
333    DSN.NGASINAN RT.03 RW.04 KELURAHAN REJOMULYO K...
334    JL. RM KAHFI I RT 10/06, NO. 118, GG. BULIND, ...
335                                           YOGYAKARTA
336    JL. SELAM VI NO.10 MANDALA BY PASS. KELURAHAN ...
337                 JL. SERSAN SURIP NO. 41B KEL. LEDENG
Name: Alamat , Length: 338, dtype: object

In [267]:
def Kab(alamat):
  kabupaten = ""
  if re.search('KABUPATEN/KOTA',alamat) :
    tmp = re.search('KABUPATEN/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB/KOTA',alamat):
    tmp = re.search('KAB/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB',alamat):
    tmp = re.search('KAB',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KOTA',alamat):
    tmp = re.search('KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KABUPATEN',alamat):
    tmp = re.search('KABUPATEN',alamat)
    data_to_find = alamat[tmp.end()::]
  else:
    data_to_find = alamat

  for kab in list_kab:
    if kab in data_to_find:
      kabupaten = kab
      break

  if (kabupaten == ''):
    kabupaten = 'UNDEFINED'
  
  return kabupaten

In [268]:
data_alamat = [Kab(alamat) for alamat in alamat_df.to_list()]

In [269]:
SEPT_df3['Kabupaten/Kota'] = data_alamat

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [270]:
SEPT_df3

,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,discount,...,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon,Kabupaten/Kota
0,2020-08-25,Shopee,Dian Natalia,PT TOSAN MASH JL. KUDUS PURWODADI KM 1 TANJUNG...,Soal-Soal Kompetisi Matematika International -,"Muhammad Yusuf, S.Pd.",1,142500.0,142500.0,NaN,...,Shopee,200824V91WRCHE,j&t,NaN,JP6904225978,NaN,NaN,NaN,NaN,KUDUS
1,2020-08-25,Tokopedia,Bala,BIDAN NURDINA JL. DAHLIA RT 9 RW 2 DESA MILANG...,Manajemen Alat Berat -,Adi Suryawan,1,69500.0,69500.0,NaN,...,Tokopedia,INV/20200826/XX/VIII/614742351,anteraja,NaN,TKAA-T9KU99FRKMQ,NaN,NaN,NaN,NaN,MAGETAN
2,2020-08-25,Tokopedia,Bala,BIDAN NURDINA JL. DAHLIA RT 9 RW 2 DESA MILANG...,Perancangan Campuran Beraspal -,Sutoyo,1,167000.0,167000.0,NaN,...,Tokopedia,INV/20200826/XX/VIII/614742351,anteraja,NaN,TKAA-T9KU99FRKMQ,NaN,NaN,NaN,NaN,MAGETAN
3,2020-08-25,Bukalapak Gudang,Dadang,KONTRAKAN PURBAYA 2 NO. 16/15 JL. ONDO SUHANDI...,Pembangkit Listrik Tenaga Air Skala Kecil,Luqman Hakim,1,54000.0,54000.0,NaN,...,Bukalapak Gudang,202925532538,Sicepat,NaN,000859012560,NaN,NaN,NaN,NaN,BEKASI
4,2020-08-25,Bukalapak Juragan,Ibu Bima,JALAN CONDET BARU NO. 142 RT 003 RW 003 KEL BA...,Perbuatan Melawan Hukum (Pmh) Oleh Pemerintah/...,Muhammad Adiguna Bimasakti,1,84000.0,84000.0,NaN,...,Bukalapak Juragan,202925867858,jne,NaN,1404902000026670,NaN,NaN,NaN,NaN,JAKARTA TIMUR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333,2020-09-24,WA,Wahyu,DSN.NGASINAN RT.03 RW.04 KELURAHAN REJOMULYO K...,4 Kompetensi Guru Profesional,Abdul Saidir Amir,1,149500.0,149500.0,NaN,...,WA,Wahyu,WAHANA,NaN,NaN,NaN,NaN,NaN,NaN,KEDIRI
334,2020-09-24,Bukalapak Gudang,Dedi Effendi,"JL. RM KAHFI I RT 10/06, NO. 118, GG. BULIND, ...",Rencana Induk Pembangunan Kepariwisataan Daera...,"Anton S. Sinery, dkk",1,391000.0,391000.0,NaN,...,Bukalapak Gudang,202954738106,Sicepat,NaN,860199623,NaN,NaN,NaN,NaN,JAKARTA SELATAN
335,2020-09-24,wa,arif rahman,YOGYAKARTA,Mengolah Citra Pengindraan Jauh Dengan Google ...,Seftiawan Samsu Rijal,1,92000.0,92000.0,NaN,...,wa,arif rahman,diambil,NaN,NaN,NaN,NaN,NaN,NaN,YOGYAKARTA
336,2020-09-24,Shopee,Siti Nur Anisa,JL. SELAM VI NO.10 MANDALA BY PASS. KELURAHAN ...,Palu Hakim Versus Rasa Keadilan Sebuah Pengant...,"Hamidah Abdurrachman, Rahmad Agung Nugraha & N...",1,84000.0,84000.0,NaN,...,Shopee,200924J7AMAMTD,j&T,NaN,JP7333381121,NaN,NaN,NaN,NaN,MEDAN
337,2020-09-24,wa,Bedi Susanto,JL. SERSAN SURIP NO. 41B KEL. LEDENG,Lebih Dekat Dengan Industri 4.0,Akmal,1,117000.0,117000.0,NaN,...,WA,Bedi Susanto,jne reg,NaN,NaN,NaN,NaN,NaN,NaN,UNDEFINED

###Menambahkan Kolom Provinsi

In [271]:
SEPT_df3 = SEPT_df3.merge(prov_df, on='Kabupaten/Kota', how='left')

In [272]:
SEPT_df3.loc[:,['Kabupaten/Kota', 'Provinsi']]

      Kabupaten/Kota        Provinsi
0              KUDUS     JAWA TENGAH
1            MAGETAN      JAWA TIMUR
2            MAGETAN      JAWA TIMUR
3             BEKASI      JAWA BARAT
4             BEKASI      JAWA BARAT
..               ...             ...
401           KEDIRI      JAWA TIMUR
402  JAKARTA SELATAN     DKI JAKARTA
403       YOGYAKARTA   DI YOGYAKARTA
404            MEDAN  SUMATERA UTARA
405        UNDEFINED       UNDEFINED

[406 rows x 2 columns]

## OKTOBER 2020

###Load Dataset

In [273]:
OKT_df3 = pd.read_excel("https://github.com/dickyilhami/Analysis-Book-Sales/blob/main/Dataset/data-order-online-2020-ed.xlsx?raw=true", sheet_name = "M.OKTOBER")
OKT_df3

,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,discount,...,total,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon
0,2020-09-25,Shopee,Silalaku,"Jalan Bratang Gede III E No. 20, KOTA SURABAYA...",Bisnis Dalam Perspektif Ilmu Administrasi,Mukhammad Kholid Mawardi,1,95500.0,95500.0,NaN,...,91364.0,Shopee,200924JNXC22A4,jne,NaN,8825112041136796,NaN,NaN,NaN,NaN
1,2020-09-25,Shopee,Indah Rezekika,"jalan dr payungan no 139 tanobato, KOTA PADANG...",Linguistik Mikro (Kajian Internal Bahasa dan P...,Yusri dan Mantasiah R.,1,92000.0,92000.0,NaN,...,88016.0,Shopee,200925K9JB5XDS,j&t,NaN,JP8858926954,NaN,NaN,NaN,NaN
2,2020-09-25,Shopee,Luh Sri,"Jl. Legian no 57, Kuta, Badung, Bali, KAB. BAD...",Bisnis Dalam Perspektif Ilmu Administrasi,Mukhammad Kholid Mawardi,1,95500.0,95500.0,NaN,...,91364.0,Shopee,200924JJXY9RD4,j&t,NaN,JP8274928105,NaN,NaN,NaN,NaN
3,2020-09-25,Shopee,Leti Astuti,"Ds. Langut Rt.02 Rw.01, KAB. INDRAMAYU, LOHBEN...","Filsafat Kebahagiaan (Plato, Aristoteles, Al-G...",Rusfian Effendi,1,62500.0,62500.0,NaN,...,59793.0,Shopee,200924K1TWWHW1,j&t,NaN,JP4661939234,NaN,NaN,NaN,NaN
4,2020-09-25,Shopee,Jummiramadanii,Jln. Bypass RT 01/RW 01 Kel. Payolansek (Disam...,E-Procurement (Dinamika Pengadaan Barang,Rendra Setyadiharja,1,79500.0,79500.0,NaN,...,71511.0,Shopee,200925M8331QQG,j&t,NaN,JP5283417555,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,2020-10-21,tokopedia,Nengah Yudiawan,Jl.nusantara br dinas gebagan desa kayubihi ke...,Penyusunan Proposal dan Skripsi Ilmu Akuntansi...,"Dr. Hj. Ida Rosnidah, S.E., M.M., Ak.CA dkk",1,55000.0,55000.0,NaN,...,92400.0,tokopedia,INV/20201020/XX/X/656228444,j&t,NaN,JT3223927770,NaN,NaN,NaN,NaN
235,2020-10-21,bukalapak,Dr Sodikin M Si,Metro Parung Panjang Blok H1 No. 22 DS. Cibuna...,Mengolah Citra Pengindraan Jauh Dengan Google ...,Seftiawan Samsu Rijal,1,92000.0,92000.0,NaN,...,109000.0,bukalapak,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN
236,2020-10-21,shopee,Innesya Maghfirah,"Jln. Pelita 1 (gangnya seberang pelita futsal,...",Hukum Hak Kekayaan Intelektual Di Indonesia (I...,Sujana Donandi S.,1,105000.0,105000.0,NaN,...,97660.0,shopee,201021UNAHMP89,j&t,NaN,JP0879443418,NaN,NaN,NaN,NaN
237,2020-10-21,shopee,Innesya Maghfirah,"Jln. Pelita 1 (gangnya seberang pelita futsal,...",Hukum Perdata Internasional,Ronald Saija,1,64500.0,64500.0,NaN,...,64500.0,shopee,201021UNAHMP90,j&t,NaN,JP0879443419,NaN,NaN,NaN,NaN
238,NaT,NaN,NaN,NaN,NaN,NaN,307,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [274]:
OKT_df3 = OKT_df3.iloc[:-1 , :]

###Memisahkan Kabupaten/Kota dari Alamat

In [275]:
OKT_df3['Alamat ']=OKT_df3['Alamat '].apply(str)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [276]:
OKT_df3['Alamat '] = OKT_df3['Alamat '].str.upper()
alamat_df = OKT_df3['Alamat ']
alamat_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0      JALAN BRATANG GEDE III E NO. 20, KOTA SURABAYA...
1      JALAN DR PAYUNGAN NO 139 TANOBATO, KOTA PADANG...
2      JL. LEGIAN NO 57, KUTA, BADUNG, BALI, KAB. BAD...
3      DS. LANGUT RT.02 RW.01, KAB. INDRAMAYU, LOHBEN...
4      JLN. BYPASS RT 01/RW 01 KEL. PAYOLANSEK (DISAM...
                             ...
233    SMK PEMKAB PONOROGO, JL MARGO MULYO NO 2\n  KE...
234    JL.NUSANTARA BR DINAS GEBAGAN DESA KAYUBIHI KE...
235    METRO PARUNG PANJANG BLOK H1 NO. 22 DS. CIBUNA...
236    JLN. PELITA 1 (GANGNYA SEBERANG PELITA FUTSAL,...
237    JLN. PELITA 1 (GANGNYA SEBERANG PELITA FUTSAL,...
Name: Alamat , Length: 238, dtype: object

In [277]:
def Kab(alamat):
  kabupaten = ""
  if re.search('KABUPATEN/KOTA',alamat) :
    tmp = re.search('KABUPATEN/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB/KOTA',alamat):
    tmp = re.search('KAB/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB',alamat):
    tmp = re.search('KAB',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KOTA',alamat):
    tmp = re.search('KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KABUPATEN',alamat):
    tmp = re.search('KABUPATEN',alamat)
    data_to_find = alamat[tmp.end()::]
  else:
    data_to_find = alamat

  for kab in list_kab:
    if kab in data_to_find:
      kabupaten = kab
      break

  if (kabupaten == ''):
    kabupaten = 'UNDEFINED'
  
  return kabupaten

In [278]:
data_alamat = [Kab(alamat) for alamat in alamat_df.to_list()]

In [279]:
OKT_df3['Kabupaten/Kota'] = data_alamat

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [280]:
OKT_df3

,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,discount,...,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon,Kabupaten/Kota
0,2020-09-25,Shopee,Silalaku,"JALAN BRATANG GEDE III E NO. 20, KOTA SURABAYA...",Bisnis Dalam Perspektif Ilmu Administrasi,Mukhammad Kholid Mawardi,1,95500.0,95500.0,NaN,...,Shopee,200924JNXC22A4,jne,NaN,8825112041136796,NaN,NaN,NaN,NaN,SURABAYA
1,2020-09-25,Shopee,Indah Rezekika,"JALAN DR PAYUNGAN NO 139 TANOBATO, KOTA PADANG...",Linguistik Mikro (Kajian Internal Bahasa dan P...,Yusri dan Mantasiah R.,1,92000.0,92000.0,NaN,...,Shopee,200925K9JB5XDS,j&t,NaN,JP8858926954,NaN,NaN,NaN,NaN,PADANGSIDIMPUAN
2,2020-09-25,Shopee,Luh Sri,"JL. LEGIAN NO 57, KUTA, BADUNG, BALI, KAB. BAD...",Bisnis Dalam Perspektif Ilmu Administrasi,Mukhammad Kholid Mawardi,1,95500.0,95500.0,NaN,...,Shopee,200924JJXY9RD4,j&t,NaN,JP8274928105,NaN,NaN,NaN,NaN,BADUNG
3,2020-09-25,Shopee,Leti Astuti,"DS. LANGUT RT.02 RW.01, KAB. INDRAMAYU, LOHBEN...","Filsafat Kebahagiaan (Plato, Aristoteles, Al-G...",Rusfian Effendi,1,62500.0,62500.0,NaN,...,Shopee,200924K1TWWHW1,j&t,NaN,JP4661939234,NaN,NaN,NaN,NaN,INDRAMAYU
4,2020-09-25,Shopee,Jummiramadanii,JLN. BYPASS RT 01/RW 01 KEL. PAYOLANSEK (DISAM...,E-Procurement (Dinamika Pengadaan Barang,Rendra Setyadiharja,1,79500.0,79500.0,NaN,...,Shopee,200925M8331QQG,j&t,NaN,JP5283417555,NaN,NaN,NaN,NaN,PAYAKUMBUH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,2020-10-20,wa,Syaiful bahri,"SMK PEMKAB PONOROGO, JL MARGO MULYO NO 2\n KE...",Guru Vokasi Zaman Milenial,Suryaman Amipriono,1,74000.0,74000.0,NaN,...,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,PONOROGO
234,2020-10-21,tokopedia,Nengah Yudiawan,JL.NUSANTARA BR DINAS GEBAGAN DESA KAYUBIHI KE...,Penyusunan Proposal dan Skripsi Ilmu Akuntansi...,"Dr. Hj. Ida Rosnidah, S.E., M.M., Ak.CA dkk",1,55000.0,55000.0,NaN,...,tokopedia,INV/20201020/XX/X/656228444,j&t,NaN,JT3223927770,NaN,NaN,NaN,NaN,BANGLI
235,2020-10-21,bukalapak,Dr Sodikin M Si,METRO PARUNG PANJANG BLOK H1 NO. 22 DS. CIBUNA...,Mengolah Citra Pengindraan Jauh Dengan Google ...,Seftiawan Samsu Rijal,1,92000.0,92000.0,NaN,...,bukalapak,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,BOGOR
236,2020-10-21,shopee,Innesya Maghfirah,"JLN. PELITA 1 (GANGNYA SEBERANG PELITA FUTSAL,...",Hukum Hak Kekayaan Intelektual Di Indonesia (I...,Sujana Donandi S.,1,105000.0,105000.0,NaN,...,shopee,201021UNAHMP89,j&t,NaN,JP0879443418,NaN,NaN,NaN,NaN,MEDAN
237,2020-10-21,shopee,Innesya Maghfirah,"JLN. PELITA 1 (GANGNYA SEBERANG PELITA FUTSAL,...",Hukum Perdata Internasional,Ronald Saija,1,64500.0,64500.0,NaN,...,shopee,201021UNAHMP90,j&t,NaN,JP0879443419,NaN,NaN,NaN,NaN,MEDAN

###Menambahkan Kolom Provinsi

In [281]:
OKT_df3 = OKT_df3.merge(prov_df, on='Kabupaten/Kota', how='left')

In [282]:
OKT_df3.loc[:,['Kabupaten/Kota', 'Provinsi']]

      Kabupaten/Kota        Provinsi
0           SURABAYA      JAWA TIMUR
1    PADANGSIDIMPUAN  SUMATERA UTARA
2             BADUNG            BALI
3          INDRAMAYU      JAWA BARAT
4         PAYAKUMBUH  SUMATERA BARAT
..               ...             ...
283           BANGLI            BALI
284            BOGOR      JAWA BARAT
285            BOGOR      JAWA BARAT
286            MEDAN  SUMATERA UTARA
287            MEDAN  SUMATERA UTARA

[288 rows x 2 columns]

## NOVEMBER 2020

###Load Dataset

In [283]:
NOV_df3 = pd.read_excel("https://github.com/dickyilhami/Analysis-Book-Sales/blob/main/Dataset/data-order-online-2020-ed.xlsx?raw=true", sheet_name = "M.NOVEMBER")
NOV_df3

,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,discount,...,total,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon
0,2020-10-22,wa,dewi,perum griya benowo indah blok d no 4 surabaya\...,Praktikum Manajemen Biaya,Rika Suprapty,1,93000.0,93000.0,NaN,...,99000.0,wa,NaN,wahana,NaN,BBZ68656,NaN,NaN,NaN,NaN
1,2020-10-22,shopee,Sr. Lia,"Biara kesusteran SSpS komunitas Roh Suci, KAB....",Komunikasi & Konseling (Feminisme) Dalam Pelay...,"Wahyu Nuraisya, S.Si.T., M.Keb. dan Dwi Yuliaw...",1,86000.0,86000.0,NaN,...,82276.0,shopee,201021VNY4CE4Q,j&t,NaN,JP8980849699,NaN,NaN,NaN,NaN
2,2020-10-22,wa,alistia irang,MAN 1 kongbeng NO. 01 jalan pembagunan miau ba...,Manajemen Kinerja,Nandang Djunaedi,1,94000.0,94000.0,NaN,...,197000.0,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-10-22,wa,alistia irang,MAN 1 kongbeng NO. 01 jalan pembagunan miau ba...,Studi Kelayakan Bisnis Teori dan Aplikasi,Chairul Anam,1,70500.0,70500.0,NaN,...,70500.0,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-10-22,wa,muslimin z,"jl. Poros bontang samarinda km. 8, yayasan al...",Filsafat Hukum,Urip Sucipto,1,68500.0,68500.0,NaN,...,155500.0,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,2020-11-23,wa,Agus Tri Widodo,jogobondo RT 1/ RW 21\n Kecamatan: Mojolaban...,Kenali Dirimu: Upaya Memahami Manusia dalam al...,"Dr. H. Uci Sanusi, M.Pd & Dr. Rudi Ahmad Surya...",1,99000.0,99000.0,NaN,...,118000.0,jne,NaN,wa,NaN,NaN,NaN,NaN,NaN,NaN
287,2020-11-23,bukalapak,Badirun Basir,Bagian Keuangan Gedung Rektorat Lantai III Kam...,Pengembangan Aplikasi Web GIS Pariwisata Backp...,Surya Afnarius &\nHafid Yoza Putra,1,81000.0,81000.0,NaN,...,81000.0,si cepat,000862394318,bukalapak,NaN,000862394318,NaN,NaN,NaN,NaN
288,2020-11-23,bukalapak,Badirun Basir,Bagian Keuangan Gedung Rektorat Lantai III Kam...,Cara Praktis Menggunakan Google Classroom,Fauziyah dan Minik Rinayanti,1,42000.0,42000.0,NaN,...,42000.0,si cepat,000862394318,bukalapak,NaN,000862394318,NaN,NaN,NaN,NaN
289,2020-11-23,wa,arizka,yogyakarta,E-Learning Berbasis Edmodo \n,"Muhammad Arifin, Rini Ekayati \n",1,37000.0,37000.0,NaN,...,37000.0,diambil,NaN,wa,NaN,NaN,NaN,NaN,NaN,NaN
290,NaT,NaN,NaN,NaN,NaN,NaN,403,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [284]:
NOV_df3 = NOV_df3.iloc[:-1 , :]

###Memisahkan Kabupaten/kota dari Alamat

In [285]:
NOV_df3['Alamat ']=NOV_df3['Alamat '].apply(str)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [286]:
NOV_df3['Alamat '] = NOV_df3['Alamat '].str.upper()
alamat_df = NOV_df3['Alamat ']
alamat_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0      PERUM GRIYA BENOWO INDAH BLOK D NO 4 SURABAYA\...
1      BIARA KESUSTERAN SSPS KOMUNITAS ROH SUCI, KAB....
2      MAN 1 KONGBENG NO. 01 JALAN PEMBAGUNAN MIAU BA...
3      MAN 1 KONGBENG NO. 01 JALAN PEMBAGUNAN MIAU BA...
4       JL. POROS BONTANG SAMARINDA KM. 8, YAYASAN AL...
                             ...
285    JALAN DR. LEIMENA NO. 42, KEL/KEC.  TELLO BARU...
286     JOGOBONDO RT 1/ RW 21\n  KECAMATAN: MOJOLABAN...
287    BAGIAN KEUANGAN GEDUNG REKTORAT LANTAI III KAM...
288    BAGIAN KEUANGAN GEDUNG REKTORAT LANTAI III KAM...
289                                           YOGYAKARTA
Name: Alamat , Length: 290, dtype: object

In [287]:
def Kab(alamat):
  kabupaten = ""
  if re.search('KABUPATEN/KOTA',alamat) :
    tmp = re.search('KABUPATEN/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB/KOTA',alamat):
    tmp = re.search('KAB/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB',alamat):
    tmp = re.search('KAB',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KOTA',alamat):
    tmp = re.search('KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KABUPATEN',alamat):
    tmp = re.search('KABUPATEN',alamat)
    data_to_find = alamat[tmp.end()::]
  else:
    data_to_find = alamat

  for kab in list_kab:
    if kab in data_to_find:
      kabupaten = kab
      break

  if (kabupaten == ''):
    kabupaten = 'UNDEFINED'
  
  return kabupaten

In [288]:
data_alamat = [Kab(alamat) for alamat in alamat_df.to_list()]

In [289]:
NOV_df3['Kabupaten/Kota'] = data_alamat

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [290]:
NOV_df3

,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,discount,...,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon,Kabupaten/Kota
0,2020-10-22,wa,dewi,PERUM GRIYA BENOWO INDAH BLOK D NO 4 SURABAYA\...,Praktikum Manajemen Biaya,Rika Suprapty,1,93000.0,93000.0,NaN,...,wa,NaN,wahana,NaN,BBZ68656,NaN,NaN,NaN,NaN,SURABAYA
1,2020-10-22,shopee,Sr. Lia,"BIARA KESUSTERAN SSPS KOMUNITAS ROH SUCI, KAB....",Komunikasi & Konseling (Feminisme) Dalam Pelay...,"Wahyu Nuraisya, S.Si.T., M.Keb. dan Dwi Yuliaw...",1,86000.0,86000.0,NaN,...,shopee,201021VNY4CE4Q,j&t,NaN,JP8980849699,NaN,NaN,NaN,NaN,SLEMAN
2,2020-10-22,wa,alistia irang,MAN 1 KONGBENG NO. 01 JALAN PEMBAGUNAN MIAU BA...,Manajemen Kinerja,Nandang Djunaedi,1,94000.0,94000.0,NaN,...,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,KUTAI TIMUR
3,2020-10-22,wa,alistia irang,MAN 1 KONGBENG NO. 01 JALAN PEMBAGUNAN MIAU BA...,Studi Kelayakan Bisnis Teori dan Aplikasi,Chairul Anam,1,70500.0,70500.0,NaN,...,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,KUTAI TIMUR
4,2020-10-22,wa,muslimin z,"JL. POROS BONTANG SAMARINDA KM. 8, YAYASAN AL...",Filsafat Hukum,Urip Sucipto,1,68500.0,68500.0,NaN,...,wa,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,KUTAI TIMUR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,2020-11-23,wa,Hendry Riko,"JALAN DR. LEIMENA NO. 42, KEL/KEC. TELLO BARU...",Pemula Next Profesional: Teknik Cepat Detail K...,Phany Wijaya,1,129000.0,129000.0,25800.0,...,jne,NaN,wa,NaN,NaN,NaN,NaN,NaN,NaN,MAKASSAR
286,2020-11-23,wa,Agus Tri Widodo,JOGOBONDO RT 1/ RW 21\n KECAMATAN: MOJOLABAN...,Kenali Dirimu: Upaya Memahami Manusia dalam al...,"Dr. H. Uci Sanusi, M.Pd & Dr. Rudi Ahmad Surya...",1,99000.0,99000.0,NaN,...,jne,NaN,wa,NaN,NaN,NaN,NaN,NaN,NaN,SUKOHARJO
287,2020-11-23,bukalapak,Badirun Basir,BAGIAN KEUANGAN GEDUNG REKTORAT LANTAI III KAM...,Pengembangan Aplikasi Web GIS Pariwisata Backp...,Surya Afnarius &\nHafid Yoza Putra,1,81000.0,81000.0,NaN,...,si cepat,000862394318,bukalapak,NaN,000862394318,NaN,NaN,NaN,NaN,MAKASSAR
288,2020-11-23,bukalapak,Badirun Basir,BAGIAN KEUANGAN GEDUNG REKTORAT LANTAI III KAM...,Cara Praktis Menggunakan Google Classroom,Fauziyah dan Minik Rinayanti,1,42000.0,42000.0,NaN,...,si cepat,000862394318,bukalapak,NaN,000862394318,NaN,NaN,NaN,NaN,MAKASSAR
289,2020-11-23,wa,arizka,YOGYAKARTA,E-Learning Berbasis Edmodo \n,"Muhammad Arifin, Rini Ekayati \n",1,37000.0,37000.0,NaN,...,diambil,NaN,wa,NaN,NaN,NaN,NaN,NaN,NaN,YOGYAKARTA

###Menambahkan Kolom Provinsi

In [291]:
NOV_df3 = NOV_df3.merge(prov_df, on='Kabupaten/Kota', how='left')

In [292]:
NOV_df3.loc[:,['Kabupaten/Kota', 'Provinsi']]

    Kabupaten/Kota          Provinsi
0         SURABAYA        JAWA TIMUR
1           SLEMAN     DI YOGYAKARTA
2      KUTAI TIMUR  KALIMANTAN TIMUR
3      KUTAI TIMUR  KALIMANTAN TIMUR
4      KUTAI TIMUR  KALIMANTAN TIMUR
..             ...               ...
333       MAKASSAR  SULAWESI SELATAN
334      SUKOHARJO       JAWA TENGAH
335       MAKASSAR  SULAWESI SELATAN
336       MAKASSAR  SULAWESI SELATAN
337     YOGYAKARTA     DI YOGYAKARTA

[338 rows x 2 columns]

## DESEMBER 2020

###Load Dataset

In [293]:
DES_df3 = pd.read_excel("https://github.com/dickyilhami/Analysis-Book-Sales/blob/main/Dataset/data-order-online-2020-ed.xlsx?raw=true", sheet_name = "M.DESEMBER")
DES_df3

,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,discount,...,total,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon
0,2020-11-24,shopee,Siti Rahmah Hayati,"BTN Sandubaya Asri No. B5 Selong, KAB. LOMBOK ...",Akuntansi Dasar Sesuai Dengan SAK EMKM,"Sri Mangesti Rahayu, Wita Ramadhanti dan Taufi...",1.0,82500.0,82500.0,NaN,...,75264.0,shopee,201123QTQGCRBF,J&T,NaN,JP156327141,NaN,NaN,NaN,NaN
1,2020-11-24,shopee,Siti Rahmah Hayati,"BTN Sandubaya Asri No. B5 Selong, KAB. LOMBOK ...",Modul Pelatihan Akuntansi Dasar,"Rukmini, Kristiyanti, dan Budiyono",1.0,79000.0,79000.0,NaN,...,79000.0,shopee,201123QTQGCRBF,j&T,NaN,JP156327142,NaN,NaN,NaN,NaN
2,2020-11-24,wa,Noer Jihad Saleh,"perum dosen Unhas Blok EB/18 Tamalanrea, Makassar",Filsafat Ilmu,"Iman Jauhari, Azhari Yahya dan Darmawan",1.0,132000.0,132000.0,NaN,...,187000.0,wa,NaN,JNE REG,NaN,1404902000033260,NaN,NaN,NaN,NaN
3,2020-11-25,wa,Muhammad Fikri Al Aziz (Ubhara),"rumah no Ar 22, jln Deplu raya, pondok pinang ...",Hukum Acara Perdata di Indonesia: Permasalahan...,Endang Hadrian dan Lukman Hakim,10.0,92000.0,920000.0,92000.0,...,849000.0,wa,NaN,wahana,NaN,BCW64367,NaN,NaN,NaN,NaN
4,2020-11-25,shopee,Nindi sholikhah,"Perumahan cipta permata blok H 1 no 13, KOTA B...",Strategi Peningkatan Mutu Pembelajaran pada Se...,"Alfiatu Solikah, M.Pd.I.",1.0,175000.0,175000.0,NaN,...,167160.0,shopee,201125VNYGD8DK,j&t,NaN,JP1242142875,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,2020-12-22,web,Hesti Dyah Puspitasari,Sekolah Tinggi Ilmu Kesehatan Kepanjen\nJl. Tr...,Manajemen Informasi Kesehatan: Pengelolaan Dok...,Irmawati Mathar,3.0,83000.0,249000.0,NaN,...,249000.0,web,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN
256,2020-12-22,web,Hesti Dyah Puspitasari,Sekolah Tinggi Ilmu Kesehatan Kepanjen\nJl. Tr...,Pemasaran Produk Jasa Kesehatan,Manahati Zebua,3.0,151000.0,453000.0,NaN,...,453000.0,web,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN
257,2020-12-22,shopee,Shopee International Platform,"Jl. Kapuk Kamal Muara No.88, RT.004 RW.001, Te...",English in Nursing,"Insana Maria, Fenty Prikasari",1.0,38500.0,38500.0,NaN,...,36775.0,shopee,201222989C7W66,jne,NaN,8827722031227890,NaN,NaN,NaN,NaN
258,2020-12-22,web,Saktiwansyah Efendi,Perumahan Griya Mas Karawang Blok B1 No 11 Des...,Pengantar Sanitasi Industri Pengolahan Pangan,"Rusky Intan Pratama, Eddy Afrianto, dan Iis Ro...",1.0,84500.0,84500.0,NaN,...,98587.0,web,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN
259,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [294]:
DES_df3 = DES_df3.iloc[:-1 , :]

###Memisahkan Kabupaten/kota dari Alamat

In [295]:
DES_df3['Alamat ']=DES_df3['Alamat '].apply(str)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [296]:
DES_df3['Alamat '] = DES_df3['Alamat '].str.upper()
alamat_df = DES_df3['Alamat ']
alamat_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0      BTN SANDUBAYA ASRI NO. B5 SELONG, KAB. LOMBOK ...
1      BTN SANDUBAYA ASRI NO. B5 SELONG, KAB. LOMBOK ...
2      PERUM DOSEN UNHAS BLOK EB/18 TAMALANREA, MAKASSAR
3      RUMAH NO AR 22, JLN DEPLU RAYA, PONDOK PINANG ...
4      PERUMAHAN CIPTA PERMATA BLOK H 1 NO 13, KOTA B...
                             ...
254    SEKOLAH TINGGI ILMU KESEHATAN KEPANJEN\nJL. TR...
255    SEKOLAH TINGGI ILMU KESEHATAN KEPANJEN\nJL. TR...
256    SEKOLAH TINGGI ILMU KESEHATAN KEPANJEN\nJL. TR...
257    JL. KAPUK KAMAL MUARA NO.88, RT.004 RW.001, TE...
258    PERUMAHAN GRIYA MAS KARAWANG BLOK B1 NO 11 DES...
Name: Alamat , Length: 259, dtype: object

In [297]:
def Kab(alamat):
  kabupaten = ""
  if re.search('KABUPATEN/KOTA',alamat) :
    tmp = re.search('KABUPATEN/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB/KOTA',alamat):
    tmp = re.search('KAB/KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KAB',alamat):
    tmp = re.search('KAB',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KOTA',alamat):
    tmp = re.search('KOTA',alamat)
    data_to_find = alamat[tmp.end()::]
  elif re.search('KABUPATEN',alamat):
    tmp = re.search('KABUPATEN',alamat)
    data_to_find = alamat[tmp.end()::]
  else:
    data_to_find = alamat

  for kab in list_kab:
    if kab in data_to_find:
      kabupaten = kab
      break

  if (kabupaten == ''):
    kabupaten = 'UNDEFINED'
  
  return kabupaten

In [298]:
data_alamat = [Kab(alamat) for alamat in alamat_df.to_list()]

In [299]:
DES_df3['Kabupaten/Kota'] = data_alamat

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [300]:
DES_df3

,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,discount,...,order via,nomor transaksi (invoice dll),KET,tgl kirim,resi,Total per judul,Royalti,Total Real,Diskon,Kabupaten/Kota
0,2020-11-24,shopee,Siti Rahmah Hayati,"BTN SANDUBAYA ASRI NO. B5 SELONG, KAB. LOMBOK ...",Akuntansi Dasar Sesuai Dengan SAK EMKM,"Sri Mangesti Rahayu, Wita Ramadhanti dan Taufi...",1.0,82500.0,82500.0,NaN,...,shopee,201123QTQGCRBF,J&T,NaN,JP156327141,NaN,NaN,NaN,NaN,LOMBOK TIMUR
1,2020-11-24,shopee,Siti Rahmah Hayati,"BTN SANDUBAYA ASRI NO. B5 SELONG, KAB. LOMBOK ...",Modul Pelatihan Akuntansi Dasar,"Rukmini, Kristiyanti, dan Budiyono",1.0,79000.0,79000.0,NaN,...,shopee,201123QTQGCRBF,j&T,NaN,JP156327142,NaN,NaN,NaN,NaN,LOMBOK TIMUR
2,2020-11-24,wa,Noer Jihad Saleh,"PERUM DOSEN UNHAS BLOK EB/18 TAMALANREA, MAKASSAR",Filsafat Ilmu,"Iman Jauhari, Azhari Yahya dan Darmawan",1.0,132000.0,132000.0,NaN,...,wa,NaN,JNE REG,NaN,1404902000033260,NaN,NaN,NaN,NaN,MAKASSAR
3,2020-11-25,wa,Muhammad Fikri Al Aziz (Ubhara),"RUMAH NO AR 22, JLN DEPLU RAYA, PONDOK PINANG ...",Hukum Acara Perdata di Indonesia: Permasalahan...,Endang Hadrian dan Lukman Hakim,10.0,92000.0,920000.0,92000.0,...,wa,NaN,wahana,NaN,BCW64367,NaN,NaN,NaN,NaN,JAKARTA SELATAN
4,2020-11-25,shopee,Nindi sholikhah,"PERUMAHAN CIPTA PERMATA BLOK H 1 NO 13, KOTA B...",Strategi Peningkatan Mutu Pembelajaran pada Se...,"Alfiatu Solikah, M.Pd.I.",1.0,175000.0,175000.0,NaN,...,shopee,201125VNYGD8DK,j&t,NaN,JP1242142875,NaN,NaN,NaN,NaN,BATAM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,2020-12-22,web,Hesti Dyah Puspitasari,SEKOLAH TINGGI ILMU KESEHATAN KEPANJEN\nJL. TR...,"Aplikasi Metode 5 S (Seiri, Seiton, Seiso, Sei...","Paskah Rina Situmorang, Meriani Herlina, & \nB...",3.0,74000.0,222000.0,NaN,...,web,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,MALANG
255,2020-12-22,web,Hesti Dyah Puspitasari,SEKOLAH TINGGI ILMU KESEHATAN KEPANJEN\nJL. TR...,Manajemen Informasi Kesehatan: Pengelolaan Dok...,Irmawati Mathar,3.0,83000.0,249000.0,NaN,...,web,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,MALANG
256,2020-12-22,web,Hesti Dyah Puspitasari,SEKOLAH TINGGI ILMU KESEHATAN KEPANJEN\nJL. TR...,Pemasaran Produk Jasa Kesehatan,Manahati Zebua,3.0,151000.0,453000.0,NaN,...,web,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,MALANG
257,2020-12-22,shopee,Shopee International Platform,"JL. KAPUK KAMAL MUARA NO.88, RT.004 RW.001, TE...",English in Nursing,"Insana Maria, Fenty Prikasari",1.0,38500.0,38500.0,NaN,...,shopee,201222989C7W66,jne,NaN,8827722031227890,NaN,NaN,NaN,NaN,JAKARTA BARAT
258,2020-12-22,web,Saktiwansyah Efendi,PERUMAHAN GRIYA MAS KARAWANG BLOK B1 NO 11 DES...,Pengantar Sanitasi Industri Pengolahan Pangan,"Rusky Intan Pratama, Eddy Afrianto, dan Iis Ro...",1.0,84500.0,84500.0,NaN,...,web,NaN,jne,NaN,NaN,NaN,NaN,NaN,NaN,KARAWANG

###Menambahkan Kolom Provinsi

In [301]:
DES_df3 = DES_df3.merge(prov_df, on='Kabupaten/Kota', how='left')

In [302]:
DES_df3.loc[:,['Kabupaten/Kota', 'Provinsi']]

      Kabupaten/Kota             Provinsi
0       LOMBOK TIMUR  NUSA TENGGARA BARAT
1       LOMBOK TIMUR  NUSA TENGGARA BARAT
2           MAKASSAR     SULAWESI SELATAN
3    JAKARTA SELATAN          DKI JAKARTA
4              BATAM       KEPULAUAN RIAU
..               ...                  ...
322           MALANG           JAWA TIMUR
323           MALANG           JAWA TIMUR
324           MALANG           JAWA TIMUR
325    JAKARTA BARAT          DKI JAKARTA
326         KARAWANG           JAWA BARAT

[327 rows x 2 columns]

##Menggabungkan Seluruh Sheet menjadi satu DataFrame dan Check DataFrame-nya

In [303]:
df3_concat = pd.concat([JAN_df3,FEB_df3,MAR_df3,APR_df3,MEI_df3,JUN_df3,JUL_df3,AGUS_df3,SEPT_df3,OKT_df3,NOV_df3,DES_df3])

df3_concat

,No,Tgl Order,Pemesan,Nama Penerima,Alamat,judul buku,Pengarang,jumlah pesanan,harga satuan,jumlah penjualan,...,No.1,Market Place,Tanggal,Pukul,Nilai Saldo,Kabupaten/Kota,Provinsi,No HP,Unnamed: 26,Unnamed: 23
0,1.0,2019-12-30,Sherly,NaN,LUBUK LINGGAU,Peningkatan Kinerja Sumber Daya Manusia Melalu...,"Agung Prihantoro, S.E., M.M.",1.0,58500.0,58500.0,...,1.0,SHOPEE,43840.0,8.0,2426517.0,LUBUK LINGGAU,SUMATERA SELATAN,NaN,NaN,NaN
1,2.0,2019-12-30,Nelis,NaN,BANDUNG,Modul Edukasi Gizi Pencegahan dan Penanggulang...,"Demsa Simbolon, Jumiyati & Antun Rahmadi",1.0,59000.0,59000.0,...,2.0,Bukalapak 1,43840.0,8.0,2725341.0,BANDUNG,JAWA BARAT,NaN,NaN,NaN
2,2.0,2019-12-30,Nelis,NaN,BANDUNG,Modul Edukasi Gizi Pencegahan dan Penanggulang...,"Demsa Simbolon, Jumiyati & Antun Rahmadi",1.0,59000.0,59000.0,...,2.0,Bukalapak 1,43840.0,8.0,2725341.0,BANDUNG,JAWA BARAT,NaN,NaN,NaN
3,3.0,2019-12-30,Richo,NaN,SIDOARJO,Konsep Dan Desain Sistem Rangka Momen Khusus (...,Yudha Lesmana,1.0,125500.0,125500.0,...,3.0,Dana,43840.0,8.0,2010200.0,SIDOARJO,JAWA TIMUR,NaN,NaN,NaN
4,4.0,2020-01-03,Anggi Dwi,NaN,CIANJUR,Ekstrakurikuler Pendidikan Agama Islam -,Syarifuddin K,1.0,82500.0,82500.0,...,4.0,Bukalapak 2,43840.0,8.0,1698557.0,CIANJUR,JAWA BARAT,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322,NaN,2020-12-22,web,Hesti Dyah Puspitasari,SEKOLAH TINGGI ILMU KESEHATAN KEPANJEN\nJL. TR...,Manajemen Informasi Kesehatan: Pengelolaan Dok...,Irmawati Mathar,3.0,83000.0,249000.0,...,NaN,NaN,NaN,NaN,NaN,MALANG,JAWA TIMUR,NaN,NaN,NaN
323,NaN,2020-12-22,web,Hesti Dyah Puspitasari,SEKOLAH TINGGI ILMU KESEHATAN KEPANJEN\nJL. TR...,Pemasaran Produk Jasa Kesehatan,Manahati Zebua,3.0,151000.0,453000.0,...,NaN,NaN,NaN,NaN,NaN,MALANG,JAWA TIMUR,NaN,NaN,NaN
324,NaN,2020-12-22,web,Hesti Dyah Puspitasari,SEKOLAH TINGGI ILMU KESEHATAN KEPANJEN\nJL. TR...,Pemasaran Produk Jasa Kesehatan,Manahati Zebua,3.0,151000.0,453000.0,...,NaN,NaN,NaN,NaN,NaN,MALANG,JAWA TIMUR,NaN,NaN,NaN
325,NaN,2020-12-22,shopee,Shopee International Platform,"JL. KAPUK KAMAL MUARA NO.88, RT.004 RW.001, TE...",English in Nursing,"Insana Maria, Fenty Prikasari",1.0,38500.0,38500.0,...,NaN,NaN,NaN,NaN,NaN,JAKARTA BARAT,DKI JAKARTA,NaN,NaN,NaN
326,NaN,2020-12-22,web,Saktiwansyah Efendi,PERUMAHAN GRIYA MAS KARAWANG BLOK B1 NO 11 DES...,Pengantar Sanitasi Industri Pengolahan Pangan,"Rusky Intan Pratama, Eddy Afrianto, dan Iis Ro...",1.0,84500.0,84500.0,...,NaN,NaN,NaN,NaN,NaN,KARAWANG,JAWA BARAT,NaN,NaN,NaN

In [304]:
df3_concat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3020 entries, 0 to 326
Data columns (total 36 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   No                             638 non-null    float64
 1   Tgl Order                      3020 non-null   datetime64[ns]
 2   Pemesan                        3020 non-null   object
 3   Nama Penerima                  2554 non-null   object
 4   Alamat                         3020 non-null   object
 5   judul buku                     3020 non-null   object
 6   Pengarang                      3015 non-null   object
 7   jumlah pesanan                 3020 non-null   float64
 8   harga satuan                   3016 non-null   float64
 9   jumlah penjualan               3020 non-null   float64
 10  discount                       510 non-null    float64
 11  harga setelah diskon           3020 non-null   float64
 12  ongkos kirim                   1855 non-null   float64
 13  Service fee                    541 non-null    object
 14  total                          3019 non-null   float64
 15  order via                      3017 non-null   object
 16  nomor transaksi (invoice dll)  1863 non-null   object
 17  KET                            2991 non-null   object
 18  tgl kirim                      339 non-null    object
 19  resi                           1667 non-null   object
 20  Total per judul                166 non-null    object
 21  Royalti                        0 non-null      float64
 22  Total Real                     163 non-null    float64
 23  Diskon                         0 non-null      float64
 24  Unnamed: 24                    103 non-null    float64
 25  Unnamed: 25                    0 non-null      float64
 26  No.1                           60 non-null     float64
 27  Market Place                   60 non-null     object
 28  Tanggal                        60 non-null     object
 29  Pukul                          60 non-null     object
 30  Nilai Saldo                    60 non-null     float64
 31  Kabupaten/Kota                 3020 non-null   object
 32  Provinsi                       3020 non-null   object
 33  No HP                          0 non-null      float64
 34  Unnamed: 26                    0 non-null      float64
 35  Unnamed: 23                    0 non-null      float64
dtypes: datetime64[ns](1), float64(18), object(17)
memory usage: 873.0+ KB

##Memperbaiki format dari fitur-fitur yang ada pada Dataset 3

In [305]:
df3_concat.columns

Index(['No', 'Tgl Order', 'Pemesan', 'Nama Penerima', 'Alamat ', 'judul buku ',
       'Pengarang', 'jumlah pesanan ', 'harga satuan ', 'jumlah penjualan',
       'discount', 'harga setelah diskon', 'ongkos kirim', 'Service fee',
       'total', 'order via', 'nomor transaksi (invoice dll)', 'KET',
       'tgl kirim ', 'resi ', 'Total per judul', 'Royalti', 'Total Real',
       'Diskon', 'Unnamed: 24', 'Unnamed: 25', 'No.1', 'Market Place',
       'Tanggal', 'Pukul', 'Nilai Saldo', 'Kabupaten/Kota', 'Provinsi',
       'No HP', 'Unnamed: 26', 'Unnamed: 23'],
      dtype='object')

In [306]:
df3_concat.rename(columns={'judul buku ': 'Judul Buku','jumlah pesanan ':'Jumlah Pesanan','total':'Total Pembayaran'}, inplace=True)

In [307]:
df3_concat['Judul Buku'] = df3_concat['Judul Buku'].str.title()
df3_concat['Judul Buku']

0      Peningkatan Kinerja Sumber Daya Manusia Melalu...
1      Modul Edukasi Gizi Pencegahan Dan Penanggulang...
2      Modul Edukasi Gizi Pencegahan Dan Penanggulang...
3      Konsep Dan Desain Sistem Rangka Momen Khusus (...
4              Ekstrakurikuler Pendidikan Agama Islam -
                             ...
322    Manajemen Informasi Kesehatan: Pengelolaan Dok...
323                      Pemasaran Produk Jasa Kesehatan
324                      Pemasaran Produk Jasa Kesehatan
325                                   English In Nursing
326        Pengantar Sanitasi Industri Pengolahan Pangan
Name: Judul Buku, Length: 3020, dtype: object

In [308]:
df3_concat['Jumlah Pesanan'] = df3_concat['Jumlah Pesanan'].astype(int)

In [309]:
df3_concat['Total Pembayaran'] = df3_concat['Total Pembayaran'].astype(float)

##Memisahkan Month dan Year dari Tgl Order pada Dataset 3

In [310]:
df3_concat['Month'] = pd.DatetimeIndex(df3_concat['Tgl Order']).month

In [311]:
df3_concat['Year'] = pd.DatetimeIndex(df3_concat['Tgl Order']).year

In [312]:
df3_concat

,No,Tgl Order,Pemesan,Nama Penerima,Alamat,Judul Buku,Pengarang,Jumlah Pesanan,harga satuan,jumlah penjualan,...,Tanggal,Pukul,Nilai Saldo,Kabupaten/Kota,Provinsi,No HP,Unnamed: 26,Unnamed: 23,Month,Year
0,1.0,2019-12-30,Sherly,NaN,LUBUK LINGGAU,Peningkatan Kinerja Sumber Daya Manusia Melalu...,"Agung Prihantoro, S.E., M.M.",1,58500.0,58500.0,...,43840.0,8.0,2426517.0,LUBUK LINGGAU,SUMATERA SELATAN,NaN,NaN,NaN,12,2019
1,2.0,2019-12-30,Nelis,NaN,BANDUNG,Modul Edukasi Gizi Pencegahan Dan Penanggulang...,"Demsa Simbolon, Jumiyati & Antun Rahmadi",1,59000.0,59000.0,...,43840.0,8.0,2725341.0,BANDUNG,JAWA BARAT,NaN,NaN,NaN,12,2019
2,2.0,2019-12-30,Nelis,NaN,BANDUNG,Modul Edukasi Gizi Pencegahan Dan Penanggulang...,"Demsa Simbolon, Jumiyati & Antun Rahmadi",1,59000.0,59000.0,...,43840.0,8.0,2725341.0,BANDUNG,JAWA BARAT,NaN,NaN,NaN,12,2019
3,3.0,2019-12-30,Richo,NaN,SIDOARJO,Konsep Dan Desain Sistem Rangka Momen Khusus (...,Yudha Lesmana,1,125500.0,125500.0,...,43840.0,8.0,2010200.0,SIDOARJO,JAWA TIMUR,NaN,NaN,NaN,12,2019
4,4.0,2020-01-03,Anggi Dwi,NaN,CIANJUR,Ekstrakurikuler Pendidikan Agama Islam -,Syarifuddin K,1,82500.0,82500.0,...,43840.0,8.0,1698557.0,CIANJUR,JAWA BARAT,NaN,NaN,NaN,1,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322,NaN,2020-12-22,web,Hesti Dyah Puspitasari,SEKOLAH TINGGI ILMU KESEHATAN KEPANJEN\nJL. TR...,Manajemen Informasi Kesehatan: Pengelolaan Dok...,Irmawati Mathar,3,83000.0,249000.0,...,NaN,NaN,NaN,MALANG,JAWA TIMUR,NaN,NaN,NaN,12,2020
323,NaN,2020-12-22,web,Hesti Dyah Puspitasari,SEKOLAH TINGGI ILMU KESEHATAN KEPANJEN\nJL. TR...,Pemasaran Produk Jasa Kesehatan,Manahati Zebua,3,151000.0,453000.0,...,NaN,NaN,NaN,MALANG,JAWA TIMUR,NaN,NaN,NaN,12,2020
324,NaN,2020-12-22,web,Hesti Dyah Puspitasari,SEKOLAH TINGGI ILMU KESEHATAN KEPANJEN\nJL. TR...,Pemasaran Produk Jasa Kesehatan,Manahati Zebua,3,151000.0,453000.0,...,NaN,NaN,NaN,MALANG,JAWA TIMUR,NaN,NaN,NaN,12,2020
325,NaN,2020-12-22,shopee,Shopee International Platform,"JL. KAPUK KAMAL MUARA NO.88, RT.004 RW.001, TE...",English In Nursing,"Insana Maria, Fenty Prikasari",1,38500.0,38500.0,...,NaN,NaN,NaN,JAKARTA BARAT,DKI JAKARTA,NaN,NaN,NaN,12,2020
326,NaN,2020-12-22,web,Saktiwansyah Efendi,PERUMAHAN GRIYA MAS KARAWANG BLOK B1 NO 11 DES...,Pengantar Sanitasi Industri Pengolahan Pangan,"Rusky Intan Pratama, Eddy Afrianto, dan Iis Ro...",1,84500.0,84500.0,...,NaN,NaN,NaN,KARAWANG,JAWA BARAT,NaN,NaN,NaN,12,2020

##Memisahkan Fitur-Fitur yang diperlukan untuk Analisa kedalam sebuah DataFrame Baru pada Dataset 3

In [313]:
df31 = df3_concat.loc[:,['Year', 'Month', 'Kabupaten/Kota', 'Provinsi','Judul Buku','Jumlah Pesanan','Total Pembayaran']]
df31

,Year,Month,Kabupaten/Kota,Provinsi,Judul Buku,Jumlah Pesanan,Total Pembayaran
0,2019,12,LUBUK LINGGAU,SUMATERA SELATAN,Peningkatan Kinerja Sumber Daya Manusia Melalu...,1,59295.0
1,2019,12,BANDUNG,JAWA BARAT,Modul Edukasi Gizi Pencegahan Dan Penanggulang...,1,57230.0
2,2019,12,BANDUNG,JAWA BARAT,Modul Edukasi Gizi Pencegahan Dan Penanggulang...,1,57230.0
3,2019,12,SIDOARJO,JAWA TIMUR,Konsep Dan Desain Sistem Rangka Momen Khusus (...,1,121735.0
4,2020,1,CIANJUR,JAWA BARAT,Ekstrakurikuler Pendidikan Agama Islam -,1,80025.0
...,...,...,...,...,...,...,...
322,2020,12,MALANG,JAWA TIMUR,Manajemen Informasi Kesehatan: Pengelolaan Dok...,3,249000.0
323,2020,12,MALANG,JAWA TIMUR,Pemasaran Produk Jasa Kesehatan,3,453000.0
324,2020,12,MALANG,JAWA TIMUR,Pemasaran Produk Jasa Kesehatan,3,453000.0
325,2020,12,JAKARTA BARAT,DKI JAKARTA,English In Nursing,1,36775.0
326,2020,12,KARAWANG,JAWA BARAT,Pengantar Sanitasi Industri Pengolahan Pangan,1,98587.0

In [314]:
df31.dtypes

Year                  int64
Month                 int64
Kabupaten/Kota       object
Provinsi             object
Judul Buku           object
Jumlah Pesanan        int64
Total Pembayaran    float64
dtype: object

#GABUNGAN DATAFRAME

In [315]:
df = pd.concat([df11, df21, df31])

df

,Year,Month,Kabupaten/Kota,Provinsi,Judul Buku,Jumlah Pesanan,Total Pembayaran
0,2020,10,SUKOHARJO,JAWA TENGAH,Konstruksi Bangunan - Buku Original,1,65438.0
1,2020,10,JAKARTA TIMUR,DKI JAKARTA,Kiat Sukses Meraih Hibah Penelitian Pengembang...,1,88230.0
2,2020,12,SIDOARJO,JAWA TIMUR,Promo Buku Pembelajaran Inkuiri Di Masa Pandem...,1,68000.0
3,2020,12,SAMARINDA,KALIMANTAN TIMUR,Semiotika Dokumenter:Membongkar Dekonstruksi M...,1,87456.0
4,2020,12,LAHAT,SUMATERA SELATAN,Buku Kepastian Hukum Gadai Tanah Dalam Islam,1,134500.0
...,...,...,...,...,...,...,...
322,2020,12,MALANG,JAWA TIMUR,Manajemen Informasi Kesehatan: Pengelolaan Dok...,3,249000.0
323,2020,12,MALANG,JAWA TIMUR,Pemasaran Produk Jasa Kesehatan,3,453000.0
324,2020,12,MALANG,JAWA TIMUR,Pemasaran Produk Jasa Kesehatan,3,453000.0
325,2020,12,JAKARTA BARAT,DKI JAKARTA,English In Nursing,1,36775.0
326,2020,12,KARAWANG,JAWA BARAT,Pengantar Sanitasi Industri Pengolahan Pangan,1,98587.0

In [316]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21590 entries, 0 to 326
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              21590 non-null  int64
 1   Month             21590 non-null  int64
 2   Kabupaten/Kota    21590 non-null  object
 3   Provinsi          21542 non-null  object
 4   Judul Buku        21590 non-null  object
 5   Jumlah Pesanan    21590 non-null  int64
 6   Total Pembayaran  21577 non-null  float64
dtypes: float64(1), int64(3), object(3)
memory usage: 1.3+ MB

In [317]:
dfx = df.sort_values(by=['Year','Month'], ascending=[True,True])
dfx

,Year,Month,Kabupaten/Kota,Provinsi,Judul Buku,Jumlah Pesanan,Total Pembayaran
33,2019,1,CIREBON,JAWA BARAT,Model Pembagian Jasa Pelayanan Di Rumah Sakit ...,1,99900.0
34,2019,1,CIREBON,JAWA BARAT,Model Pembagian Jasa Pelayanan Di Rumah Sakit ...,1,99900.0
0,2019,12,LUBUK LINGGAU,SUMATERA SELATAN,Peningkatan Kinerja Sumber Daya Manusia Melalu...,1,59295.0
1,2019,12,BANDUNG,JAWA BARAT,Modul Edukasi Gizi Pencegahan Dan Penanggulang...,1,57230.0
2,2019,12,BANDUNG,JAWA BARAT,Modul Edukasi Gizi Pencegahan Dan Penanggulang...,1,57230.0
...,...,...,...,...,...,...,...
500,2021,12,PEKANBARU,RIAU,Etika Peserta Didik: Menurut Syaikh Muhammad B...,1,53997.0
501,2021,12,MAKASSAR,SULAWESI SELATAN,Literasi Matematika Upaya Meningkatkan Kemampu...,1,63059.0
502,2021,12,KEBUMEN,JAWA TENGAH,Bukan Kota Tanpa Masa Lalu: Dinamika Sosial Ek...,1,90700.0
503,2021,12,KEBUMEN,JAWA TENGAH,Wetan Kali Kulon Kali Mengenang Kabupaten Kara...,1,101600.0
504,2021,12,TOBA SAMOSIR,SUMATERA UTARA,Strategi Belajar Mengajar,1,185000.0

In [318]:
dfx.head()

,Year,Month,Kabupaten/Kota,Provinsi,Judul Buku,Jumlah Pesanan,Total Pembayaran
33,2019,1,CIREBON,JAWA BARAT,Model Pembagian Jasa Pelayanan Di Rumah Sakit ...,1,99900.0
34,2019,1,CIREBON,JAWA BARAT,Model Pembagian Jasa Pelayanan Di Rumah Sakit ...,1,99900.0
0,2019,12,LUBUK LINGGAU,SUMATERA SELATAN,Peningkatan Kinerja Sumber Daya Manusia Melalu...,1,59295.0
1,2019,12,BANDUNG,JAWA BARAT,Modul Edukasi Gizi Pencegahan Dan Penanggulang...,1,57230.0
2,2019,12,BANDUNG,JAWA BARAT,Modul Edukasi Gizi Pencegahan Dan Penanggulang...,1,57230.0

In [319]:
from google.colab import files
dfx.to_excel('deepublish.xlsx', encoding='utf-8', index=False) 
files.download('deepublish.xlsx')

#MENAMPILKAN JUDUL BUKU YANG PALING LARIS DI SETIAP KABUPATEN/KOTA

##Judul Buku yang Paling Laris di Setiap Kabupaten

In [320]:
Kab1_df1 = df.groupby(['Provinsi','Kabupaten/Kota','Judul Buku']).agg({'Jumlah Pesanan':'sum'}).reset_index()
Kab1_df1 = Kab1_df1.rename(columns={'Jumlah Pesanan': 'Total_Penjualan'})
Kab1_df1.sort_values(by=['Provinsi','Kabupaten/Kota','Total_Penjualan'], ascending=[True,True,False])

,Provinsi,Kabupaten/Kota,Judul Buku,Total_Penjualan
0,ACEH,ACEH BARAT,"Buku ""Matematika Diskrit Dan Penerapannya Dala...",2
2,ACEH,ACEH BARAT,Buku Arsitektur Komputer - Akhlis Munazilin,2
1,ACEH,ACEH BARAT,Buku Ajar Pengantar Aplikasi Komputer,1
3,ACEH,ACEH BARAT,Buku Pemusnahan Arsip Di Lingkungan Pemerintah...,1
4,ACEH,ACEH BARAT,Buku Perancangan Tata Letak Pabrik - Buku Orig...,1
...,...,...,...,...
15993,UNDEFINED,UNDEFINED,Tutorial Google Drive Dan Google Apps,1
15994,UNDEFINED,UNDEFINED,Urgensi Dan Kemandirian Desa,1
15995,UNDEFINED,UNDEFINED,Wanita Siapkah Menjadi Tiang Negara,1
15996,UNDEFINED,UNDEFINED,Wetan Kali Kulon Kali Mengenang Kabupaten Kara...,1
15997,UNDEFINED,UNDEFINED,Writing For General Communication,1

##Judul Buku yang Paling Laris di Kabupaten/Kota setiap Bulannya

In [321]:
Kab_df1 = df.groupby(['Provinsi','Kabupaten/Kota','Year','Month','Judul Buku']).agg({'Jumlah Pesanan':'sum'}).reset_index()
Kab_df1 = Kab_df1.rename(columns={'Jumlah Pesanan': 'Total_Penjualan'})
Kab_df1.sort_values(by=['Provinsi','Kabupaten/Kota','Year','Month','Total_Penjualan'], ascending=[True,True,True,True,False])

,Provinsi,Kabupaten/Kota,Year,Month,Judul Buku,Total_Penjualan
0,ACEH,ACEH BARAT,2020,3,Keselamatan Dan Kesehatan Kerja Kelautan: (Kaj...,1
1,ACEH,ACEH BARAT,2020,9,Buku Ajar Pengantar Aplikasi Komputer,1
2,ACEH,ACEH BARAT,2020,9,Teknologi Pengolahan Limbah,1
3,ACEH,ACEH BARAT,2021,2,"Buku ""Matematika Diskrit Dan Penerapannya Dala...",2
4,ACEH,ACEH BARAT,2021,2,Buku Arsitektur Komputer - Akhlis Munazilin,2
...,...,...,...,...,...,...
16877,UNDEFINED,UNDEFINED,2021,11,Riak-Riak Otonomi Daerah Di Indonesia Kurun Wa...,1
16878,UNDEFINED,UNDEFINED,2021,11,Urgensi Dan Kemandirian Desa,1
16880,UNDEFINED,UNDEFINED,2021,12,Kenotariatan Dalam Hukum Indonesia Dan Hukum/K...,5
16879,UNDEFINED,UNDEFINED,2021,12,Bukan Kota Tanpa Masa Lalu: Dinamika Sosial Ek...,1
16881,UNDEFINED,UNDEFINED,2021,12,Wetan Kali Kulon Kali Mengenang Kabupaten Kara...,1

#MENAMPILKAN TOTAL PENJUALAN BUKU SETIAP KABUPATEN/KOTA

####Total Penjualan Buku Setiap Kabupaten/Kota

In [322]:
Kab1_df = df.groupby(['Provinsi','Kabupaten/Kota']).agg({'Jumlah Pesanan':'sum'}).reset_index()
Kab1_df = Kab1_df.rename(columns={'Jumlah Pesanan': 'Total_Penjualan'})
Kab1_df.sort_values(by=['Provinsi','Kabupaten/Kota','Total_Penjualan',], ascending=[True,True,False])

           Provinsi   Kabupaten/Kota  Total_Penjualan
0              ACEH       ACEH BARAT                9
1              ACEH  ACEH BARAT DAYA                1
2              ACEH       ACEH BESAR                6
3              ACEH     ACEH TAMIANG                3
4              ACEH      ACEH TENGAH                2
..              ...              ...              ...
399  SUMATERA UTARA  TAPANULI TENGAH                6
400  SUMATERA UTARA   TAPANULI UTARA                6
401  SUMATERA UTARA    TEBING TINGGI                3
402  SUMATERA UTARA     TOBA SAMOSIR               14
403       UNDEFINED        UNDEFINED              490

[404 rows x 3 columns]

####Total Penjualan Buku di Kabupaten/Kota Setiap Bulannya

In [323]:
Kab_df = df.groupby(['Provinsi','Kabupaten/Kota','Year','Month']).agg({'Jumlah Pesanan':'sum'}).reset_index()
Kab_df = Kab_df.rename(columns={'Jumlah Pesanan': 'Total_Penjualan'})
Kab_df.sort_values(by=['Provinsi','Kabupaten/Kota','Year','Month','Total_Penjualan'], ascending=[True,True,True,True,False])

       Provinsi Kabupaten/Kota  Year  Month  Total_Penjualan
0          ACEH     ACEH BARAT  2020      3                1
1          ACEH     ACEH BARAT  2020      9                2
2          ACEH     ACEH BARAT  2021      2                4
3          ACEH     ACEH BARAT  2021      6                1
4          ACEH     ACEH BARAT  2021      9                1
...         ...            ...   ...    ...              ...
3392  UNDEFINED      UNDEFINED  2021      6                3
3393  UNDEFINED      UNDEFINED  2021      8               12
3394  UNDEFINED      UNDEFINED  2021      9                4
3395  UNDEFINED      UNDEFINED  2021     11               14
3396  UNDEFINED      UNDEFINED  2021     12                7

[3397 rows x 5 columns]

#MENAMPILKAN TREN PENJUALAN BUKU

In [324]:
Tren_df = df.groupby(['Kabupaten/Kota','Judul Buku','Month','Year']).agg({'Jumlah Pesanan':'sum'}).reset_index()
Tren_df = Tren_df.rename(columns={'Jumlah Pesanan': 'Total_Penjualan'})
Tren_df.sort_values(by=['Kabupaten/Kota','Judul Buku','Year','Month'], ascending=[True,True,True,True])

,Kabupaten/Kota,Judul Buku,Month,Year,Total_Penjualan
0,ACEH BARAT,"Buku ""Matematika Diskrit Dan Penerapannya Dala...",2,2021,2
1,ACEH BARAT,Buku Ajar Pengantar Aplikasi Komputer,9,2020,1
2,ACEH BARAT,Buku Arsitektur Komputer - Akhlis Munazilin,2,2021,2
3,ACEH BARAT,Buku Pemusnahan Arsip Di Lingkungan Pemerintah...,6,2021,1
4,ACEH BARAT,Buku Perancangan Tata Letak Pabrik - Buku Orig...,9,2021,1
...,...,...,...,...,...
16828,YOGYAKARTA,Viktimologi Dan Sistem Peradilan Pidana,4,2021,1
16829,YOGYAKARTA,Viktimologi Dan Sistem Peradilan Pidana,8,2021,4
16831,YOGYAKARTA,Yurisdiksi Asas Oportunitas Dalam Sistem Perad...,8,2020,1
16832,YOGYAKARTA,Yurisdiksi Asas Oportunitas Dalam Sistem Perad...,9,2020,1
16830,YOGYAKARTA,Yurisdiksi Asas Oportunitas Dalam Sistem Perad...,4,2021,2

#TOTAL PENJUALAN BUKU PER KABUPATEN

In [325]:
Kab1_df = df.groupby(['Provinsi','Kabupaten/Kota']).agg({'Total Pembayaran':'sum'}).reset_index()
Kab1_df = Kab1_df.rename(columns={'Total Pembayaran': 'Total Pembayaran'})
Kab1_df.sort_values(by=['Provinsi','Kabupaten/Kota','Total Pembayaran'], ascending=[True,True,False])

           Provinsi   Kabupaten/Kota  Total Pembayaran
0              ACEH       ACEH BARAT         1121769.0
1              ACEH  ACEH BARAT DAYA          104375.0
2              ACEH       ACEH BESAR          786811.0
3              ACEH     ACEH TAMIANG          400000.0
4              ACEH      ACEH TENGAH          266501.0
..              ...              ...               ...
399  SUMATERA UTARA  TAPANULI TENGAH          691182.0
400  SUMATERA UTARA   TAPANULI UTARA          692918.0
401  SUMATERA UTARA    TEBING TINGGI          406780.0
402  SUMATERA UTARA     TOBA SAMOSIR         1202159.0
403       UNDEFINED        UNDEFINED        45926960.0

[404 rows x 3 columns]

In [326]:
x = df['Provinsi'].unique()

In [327]:
x

array(['JAWA TENGAH', 'DKI JAKARTA', 'JAWA TIMUR', 'KALIMANTAN TIMUR',
       'SUMATERA SELATAN', 'RIAU', 'JAWA BARAT', 'DI YOGYAKARTA',
       'NUSA TENGGARA BARAT', 'SULAWESI TENGAH', 'LAMPUNG',
       'SULAWESI SELATAN', 'SUMATERA UTARA', 'GORONTALO',
       'KALIMANTAN UTARA', 'JAMBI', 'KALIMANTAN TENGAH',
       'KALIMANTAN BARAT', 'BANTEN', 'PAPUA', 'SULAWESI TENGGARA',
       'KALIMANTAN SELATAN', 'SULAWESI UTARA', 'SUMATERA BARAT',
       'KEPULAUAN RIAU', 'BALI', 'BENGKULU', 'KEPULAUAN BANGKA BELITUNG',
       'SULAWESI BARAT', 'PAPUA BARAT', nan, 'MALUKU UTARA', 'ACEH',
       'NUSA TENGGARA TIMUR', 'MALUKU', 'UNDEFINED'], dtype=object)

In [328]:
len(x)

36